<link rel="import" href="./../../components/common-logic.html">

<dom-module id="rvd-approve">
    <style include="iron-flex iron-flex-factors iron-flex-alignment page-style">
         :host {
            display: block;
        }
        
        .contentHeader {
            font-size: 22px;
            font-weight: bold;
        }
        
        .container {
            padding: 10px;
        }
    </style>
    <template>

        <div class="container">
            <div class="contentHeader" style="margin-bottom: 20px;">รายชื่อผู้สมัครกองทุนสำรองเลี้ยงชีพ</div>
            <table class="gl-table-default" style="margin:auto">
                <thead class="table-head">
                    <tr>
                        <th>ลำดับ</th>
                        <th>ชื่อ - นามสกุล</th>
                        <th>สวัสดิการที่ขอใช้</th>
                        <th>กอง</th>
                        <th>คณะ</th>
                        <th>สถานะ</th>
                        <th>กระทำ</th>
                    </tr>
                </thead>
                <tbody class="table-body">

                    <template is="dom-repeat" items={{dataList}}>
                        <tr>
                            <td>[[_Obindex(index)]]</td>
                            <td>[[item.fullName]]</td>
                            <td>[[item.rvd_name]]</td>
                            <td>[[item.department_name]]</td>
                            <td>[[item.faculty_name]]</td>
                            <td>[[item.status_thai]]</td>
                            
                            <template is="dom-if" if="{{checkAction(item.status,index)}}">                    
                                <td>
                                    <paper-button hidden="{{item.check}}"raised class="gl-btn-info gl-small" on-tap="confirmApprove" data="[[item]]"> อนุมัติ </paper-button>
                                    <paper-button hidden="{{item.check}}"raised class="gl-btn-danger gl-small" on-tap="confirmUnApprove" data="[[item]]">ไม่อนุมัติ </paper-button>                                    
                                </td>
                            </template>  
                            <template is="dom-if" if="{{!checkAction(item.status,index)}}">                    
                                <td>
                                    <paper-button hidden="{{item.check}}"raised class="gl-btn-info gl-small" on-tap="confirmExitRvd" data="[[item]]"> ออกจากกองทุน </paper-button>
                                    <paper-button hidden="{{item.check}}"raised class="gl-btn-danger gl-small" on-tap="confirmExitWork" data="[[item]]">ออกจากงาน </paper-button>                                    
                                </td>
                            </template>  
                        </tr>
                    </template>
                    <template is="dom-if" if={{_ObIsHave(listUserFalse)}}>
                        <tr>
                            <td colspan="6" style="text-align: center">ยังไม่มีการขอใช้สวัสดิการ</td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
    </template>
    <script>
        Polymer({
            is: 'rvd-approve',
            behaviors: [
                ReduxBehavior, commonLogic
            ],
            properties:{
                dataList:{
                    statePath:'fundRvd.userList'
                },
            },
            confirmApprove:function(e){
                var id = e.target.data.id;
                var rvd_name = e.target.data.rvd_name;
                this.fire('toast',{ 
                 status:'openDialog',
                 text:'ต้องการอนุมัติ : '+rvd_name+' ใช่หรือไม่ ?',
                 confirmed:this.rvdApprove.bind(this), 
                 el: this, 
                 data:id 
                 })
                
            },
            rvdApprove:function(check,data){
                if(check == true){
                    var id = {
                        id: data.data
                    }
                    // console.log(id);
                    this.dispatchAction('FUND_RVD_UPDATE_USER',id)
                }
            },
            confirmUnApprove:function(e){
                var id = e.target.data.id;
                var rvd_name = e.target.data.rvd_name;
                this.fire('toast',{ 
                 status:'openDialog',
                 text:'ต้องการไม่อนุมัติ : '+rvd_name+' ใช่หรือไม่ ?',
                 confirmed:this.rvdUnApprove.bind(this), 
                 el: this, 
                 data:id 
                 })
            },
            rvdUnApprove:function(check,data){
                if(check == true){
                    var id = data.data
                    // console.log(id);
                    this.dispatchAction('FUND_RVD_DELETE_USER',id)
                }
            },
            confirmExitRvd:function(e){
                var id = e.target.data.id;
                var rvd_name = e.target.data.rvd_name;
                this.fire('toast',{ 
                 status:'openDialog',
                 text:'ต้องการออกจาก : '+rvd_name+' ใช่หรือไม่ ?',
                 confirmed:this.rvdExit.bind(this), 
                 el: this, 
                 data:id 
                 })
            },
            rvdExit:function(check,data){
                  if(check == true){
                    var data ={
                        id : data.data
                    } 
                    this.dispatchAction('FUND_RVD_EXIT_FUND',data)
                    // this.dispatchAction('FUND_RVD_DELETE_USER',id)
                }
            },
            confirmExitWork:function(e){
                var id = e.target.data.id;
                var rvd_name = e.target.data.rvd_name;
                this.fire('toast',{ 
                 status:'openDialog',
                 text:'ต้องการออกจาก : '+rvd_name+' ใช่หรือไม่ ?',
                 confirmed:this.workExit.bind(this), 
                 el: this, 
                 data:id 
                 })
            },
            workExit:function(check,data){
                if(check == true){
                    var data ={
                        id : data.data
                    } 
                    this.dispatchAction('FUND_RVD_EXIT_WORK',data)
                    // this.dispatchAction('FUND_RVD_DELETE_USER',id)
                }
            },
            checkAction:function(status,index){
                if(status == 'sign'){
                    return true;
                }
                else if(status == 'active') {
                    return false
                }
                else {
                    this.set('dataList.'+index+'.check',true);
                    // this.dataList[index].check = true;
                }
            }
        });
    </script>
</dom-module>