<link rel="import" href="./../../../../bower_components/chart-elements/chart-pie.html">

<dom-module id="group-welfare-chart">
    <style include="page-style iron-flex iron-flex-factors iron-flex-alignment gl-styles">
    </style>
    <template>
        <div class="horizontal center-justified layout">
            <div class="vertical layout">
                <div style="text-align: center;">จำนวนผู้มีสิทธิ</div>
                <chart-pie data="[[employee]]" style="width:250px;hieght:250px;"></chart-pie>
            </div>
            <div class="vertical layout">
                <div style="text-align: center;">จำนวนผู้ใช้สิทธิ</div>
                <chart-pie data="[[employeeUse]]" style="width:250px;hieght:250px;"></chart-pie>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'group-welfare-chart',
            behaviors: [ReduxBehavior],
            properties: {
                list: {
                    statePath: 'groupWelfare.list',
                    observer: 'setData'
                }
            },
            setData: function (datas) {
                if (datas != '') {
                    //console.log(datas);
                    var label = [];
                    label = datas.map((val) => val.group_welfare_name +' (คน)');
                    this.employee = {
                        labels: label,
                        datasets: [
                            {
                                data: datas.map((val) => val.emp_budget),
                                backgroundColor: [
                                    "#FF6384",
                                    "#36A2EB",
                                    "#FFCE56"
                                ],
                                hoverBackgroundColor: [
                                    "#FF6384",
                                    "#36A2EB",
                                    "#FFCE56"
                                ]
                            }]
                    }
                    this.employeeUse = {
                        labels: label,
                        datasets: [
                            {
                                data: datas.map((val) => val.emp_use),
                                backgroundColor: [
                                    "#FF6384",
                                    "#36A2EB",
                                    "#FFCE56"
                                ],
                                hoverBackgroundColor: [
                                    "#FF6384",
                                    "#36A2EB",
                                    "#FFCE56"
                                ]
                            }]
                    }
                }
            },
            setYear(year) {
                try {
                    if (year.length != 0) {

                        this.set('dataSearch.year', year[year.length - 1].year)
                    }

                } catch (error) {
                    //console.log(error);
                }
            },
            setChart(chart) {

                try {
                    let label = []
                    if (chart[0].id.length < 3) {
                        label = chart.map((ed) => ed.id)

                    } else {
                        label = chart.map((ed) => this.toThaiDate(ed.id))
                        // //console.log(label[0].search('undefined'));
                        if (label[0].search('undefined') >= 0) {
                            label = chart.map((ed) => ed.id)
                        }
                    }
                    this.charttt = {
                        labels: label,
                        datasets: [
                            {
                                label: "จำนวนเงิน",
                                backgroundColor: "rgba(220,220,220,0.2)",
                                borderColor: "rgba(220,220,220,1)",
                                borderWidth: 1,
                                data: chart.map((ed) => ed.bath)
                            },
                        ]
                    };
                    this.people = {
                        labels: label,
                        datasets: [
                            {
                                label: "จำนวนคนใช้งาน",
                                backgroundColor: "rgba(220,220,220,0.2)",
                                borderColor: "rgba(220,220,220,1)",
                                borderWidth: 1,
                                data: chart.map((ed) => ed.emp_use)
                            },
                            {
                                label: "จำนวนคนมีสิทธิ",
                                backgroundColor: "rgba(220,220,220,0.2)",
                                borderColor: "rgba(220,220,220,1)",
                                borderWidth: 1,
                                data: chart.map((ed) => ed.emp_pass)
                            },
                        ]
                    };
                } catch (e) {

                }

            }
        });
    </script>
</dom-module>