<link rel="import" href="../../components/format-number-behavior.html">
<link rel="import" href="./../../components/validateFormBehaviors.html">
<link rel="import" href="./../../../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="./../../../../bower_components/paper-radio-button/paper-radio-button.html">

<dom-module id="group-welfare-manage">
    <template>
        <style is="custom-style" include="page-style iron-flex iron-flex-factors iron-flex-alignment">
            gl-form-input,
            vaadin-date-picker,
            gl-combo-box {
                margin-top: 15px;
            }
            
            .label_condition {
                font-weight: bold;
                text-align: right;
                margin-top: 35px;
                font-size: 20px;
            }
            
            .btn-bottom {
                margin: 30px;
            }
            
            paper-material {
                background-color: var(--gl-white-color);
            }
            
            paper-checkbox {
                font-family: 'CSChatThaiUI', sans-serif;
                -webkit-font-smoothing: antialiased;
            }
        </style>

        <div style="padding:20px;">

            <template is="dom-if" if="{{checkMenu(data)}}">
                <div hidden$="{{data.status_approve}}">
                    <div hidden$="{{!isEnable}}">
                        <div class="horizontal end-justified layout">
                            <div style="margin:20px 20px 0px 0px;">
                                <paper-icon-button icon="icons:create" on-tap="_edit"></paper-icon-button>
                                <paper-icon-button icon="delete" on-tap="_delete"></paper-icon-button>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            
            <template is="dom-if" if={{!data.type_continuous}}>
                <gl-grid-row>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                        <gl-form-input class="checkValidate" required disabled label="ปี" allowed-pattern="[0-9]" maxlength="4" value="{{data.year}}" placeholder="กรุณากรอกปี พ.ศ."></gl-form-input>
                    </gl-grid-col>
                </gl-grid-row>
            </template>

            <gl-grid-row width="{{getWidth}}">
                <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
                <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                    <gl-form-dropdown-menu class="checkValidate" required disabled="{{isEnable}}" label="รูปแบบสวัสดิการ" placeholder="กรุณาเลือกรูปแบบสวัสดิการ" style="width:100%">
                        <paper-listbox class="dropdown-content" attr-for-selected="value" selected="{{data.type_group}}">
                            <paper-item value="general">ทั่วไป</paper-item>
                            <paper-item value="fund">กองทุน</paper-item>
                            <paper-item value="sso">ประกันสังคม</paper-item>
                        </paper-listbox>
                    </gl-form-dropdown-menu>
                </gl-grid-col>
            </gl-grid-row>
            
            <gl-grid-row>
                <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
                <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                    <gl-form-input class="checkValidate" required disabled="{{isEnable}}" label="ชื่อสวัสดิการ" value="{{data.group_welfare_name}}" placeholder="กรุณากรอกชื่อสวัสดิการ"></gl-form-input>
                </gl-grid-col>
            </gl-grid-row>

            <template is="dom-if" if={{_obTypeGroup(data.type_group)}}>
                <gl-grid-row>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
                        <vaadin-date-picker class="checkValidate" required disabled="{{isEnable}}" label="วันที่เริ่มใช้งาน :" value="{{data.start_date}}"></vaadin-date-picker>
                    </gl-grid-col>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
                        <vaadin-date-picker disabled="{{isEnable}}" label="วันที่สิ้นสุดใช้งาน :" value="{{data.end_date}}"></vaadin-date-picker>
                    </gl-grid-col>
                </gl-grid-row>
                
                <gl-grid-row>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
                        <div style="margin-top:15px; font-size:16px; color:gray;">*ถ้าไม่ระบุวันที่สิ้นสุดการใช้งานจะเป็นสวัสดิการแบบต่อเนื่อง</div>
                    </gl-grid-col>
                </gl-grid-row>
                
                <gl-grid-row>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
                        <vaadin-date-picker disabled="{{isEnable}}" label="วันที่ใช้คำนวณ :" value="{{data.cal_date}}"></vaadin-date-picker>
                    </gl-grid-col>
                </gl-grid-row>

                <gl-grid-row>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,8]]">
                        <div style="margin-top:15px; font-size:16px; color:gray;">*ใช้สำหรับสวัสดิการที่คำนวณอายุพนักงาน</div>
                    </gl-grid-col>
                </gl-grid-row>
            </template>

            <gl-grid-row>
                <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
                <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                    <gl-form-textarea disabled="{{isEnable}}" style="margin-top:15px;" label="รายละเอียด" value="{{data.description}}" placeholder="เพิ่มรายละเอียด"></gl-form-textarea>
                </gl-grid-col>
            </gl-grid-row>

            
            <template is="dom-if" if={{_obTypeGroup(data.type_group)}}>
                [[checkDisabled(isEnable)]]
                <gl-grid-row style="margin-top: 10px">
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
                        <paper-checkbox disabled="{{isEnable_onetime}}" checked="{{data.onetime_use}}">ใช้ครั้งเดียว</paper-checkbox>
                    </gl-grid-col>
                    [[checkSelect(data.group_use)]] 
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
                        <paper-checkbox disabled="{{isEnable_admin}}" checked="{{data.group_use}}">สวัสดิการแบบกลุ่ม</paper-checkbox>
                    </gl-grid-col>
                </gl-grid-row>
                <gl-grid-row style="margin-top: 10px">
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
                        <paper-checkbox disabled="{{isEnable_admin}}" checked="{{data.voluntary_status}}">สมัครใจ</paper-checkbox>
                    </gl-grid-col>
                </gl-grid-row>
            </template>

            <div class="horizontal end-justified layout btn-bottom">
                <div hidden="{{isEnable}}">
                    <paper-button raised class="gl-btn-danger" on-tap="cancle">ยกเลิก</paper-button>
                    <paper-button raised class="gl-btn-success" on-tap="save">บันทึก</paper-button>
                </div>
            </div>
        </div>

    </template>
    <script>
        Polymer({
            is: 'group-welfare-manage',
            behaviors: [ReduxBehavior, FormatNumberBehavior, ValidateFormBehavior],
            properties: {
                data: {
                    statePath: 'groupWelfare.select',
                    observer: '_cloneData'
                },
                type_select: {
                    type: Boolean,
                    value: false
                }
            },
            _cloneData: function(val){
                this.clone_data = JSON.parse(JSON.stringify(val));
            },
            save: function () {
                var check = this.validateForm('.checkValidate');

                if(this.data.description === undefined){
                    this.data.description = '';
                }
                
                if(this.data.type_group == 'general'){
                    if (this.data.onetime_use != true) {
                        this.data.onetime_use = false;
                    }
                    if (this.data.group_use != true) {
                        this.data.group_use = false;
                    }
                    if(this.data.cal_date === ''){
                        this.data.cal_date = null;
                    }

                    if(this.data.end_date !== ''){
                        if(this.data.end_date === null){
                            this.data.end_date = null;
                            this.data.year = 9999;
                            this.data.type_continuous = true;
                        }else{
                            if(this.data.year == 9999){
                                this.data.type_continuous = false;
                                this.data.year = new Date().getFullYear();
                            }else{
                                this.data.type_continuous = false;
                                this.data.year = this.clone_data.year;
                            }
                        }
                    }else{
                        this.data.end_date = null;
                        this.data.year = 9999;
                        this.data.type_continuous = true;
                    }
                }else{
                    this.data.start_date = new Date().toISOString().split('T')[0];
                    this.data.end_date = null;
                    this.data.cal_date = null;
                }

                if(check == true){
                    if (typeof this.data.id !== 'undefined' && this.data.id !== '') {
                        this.fire('toast', {
                            status: 'openDialog',
                            text: 'ต้องการแก้ไขสวัสดิการใช่หรือไม่ ?',
                            confirmed: (result) => {
                                if (result == true) {
                                    this.data.year = this.unFormat(this.data.year);
                                    this.dispatchAction('EDIT_WELFARE', this.data);
                                    this.isEnable = true;
                                }
                            }
                        })
                    }
                    else {
                        this.data.year = this.unFormat(this.data.year);
                        this.data.status_approve = false;
                        this.fire('toast', {
                            status: 'openDialog',
                            text: 'ต้องการเพิ่มสวัสดิการใช่หรือไม่ ?',
                            confirmed: (result) => {
                                if (result == true) {
                                    this.dispatchAction('INSERT_WELFARE', this.data)
                                }
                            }
                        })
                    }
                }
                else{
                    this.fire('toast',{status:'connectError',text:'กรุณากรอกข้อมูลให้ครบ',
                    callback:function(){
                    }})
                }
            },
            delete_condition: function (e) {
                // //console.log(e.target.index);
                this.splice('data.condition', e.target.index, 1);
            },
            cancle: function () {
                if (typeof this.data.id == 'undefined') {
                    this.dispatchAction('CLEAR_WELFARE', this.data);
                    this.fire('closePanel');
                }
                else {
                    this.dispatchAction('SELECT_DATA', this.data.id);
                    this.isEnable = true;
                }
            },
            checkDisabled: function (val) {
                if (val === false) {
                    this.isEnable_onetime = false;
                    this.isEnable_admin = false;
                }
                else {
                    this.isEnable_onetime = true;
                    this.isEnable_admin = true;
                }
            },
            checkSelect: function (e) {
                if(this.isEnable === true){
                    this.isEnable_onetime = true;
                    this.isEnable_admin = true;
                }else{
                    if (typeof e != 'undefined' && e != undefined) {
                        if (e === true && typeof this.data.id === 'undefined') {
                            this.set('data.onetime_use', true);
                            this.isEnable_onetime = true;
                        }
                        else if (e === false && typeof this.data.id === 'undefined') {
                            this.set('data.onetime_use', false);
                            this.isEnable_onetime = false;
                        }
                        else if (e === true && typeof this.data.id !== 'undefined') {
                            this.set('data.onetime_use', true);
                            this.isEnable_onetime = true;
                        }
                        else {
                            if (this.data.onetime_use === true && this.data.group_use === true) {
                                this.set('data.onetime_use', true);
                                this.isEnable_onetime = true;
                            }
                            else if (this.data.onetime_use === false) {
                                this.isEnable_onetime = true;
                            }
                            else {
                                this.set('data.onetime_use', false);
                                this.isEnable_onetime = false;
                            }
                        }
                    }
                }
            },
            checkMenu: function (data) {
                if (typeof data.id == 'undefined') {
                    return false;
                }
                else {
                    return true;
                }
            },
            _edit: function () {
                this.isEnable = false;
                if (this.data.onetime_use === true && this.data.group_use === true) {
                    this.isEnable_onetime = true;
                }
            },
            _delete: function () {
                this.fire('toast', {
                    status: 'openDialog',
                    text: 'คุณต้องการลบสวัสดิการนี้ใช่หรือไม่ ?',
                    confirmed: this._confirmToast.bind(this),
                    datas: this.data
                });
            },
            _confirmToast: function (result, detail) {
                if (result == true) {
                    this.dispatchAction('DELETE_WELFARE', detail.datas)
                }
            },
            _obTypeGroup: function(val){
                if(val !== undefined){
                    if(val == 'general'){
                        this.data.voluntary_status = false;
                        return true
                    }else{
                        this.data.voluntary_status = true;
                        this.data.onetime_use = true;
                        this.data.group_use = true;
                        return false
                    }
                }
            }
        });
    </script>
</dom-module>