<link rel="import" href="../../components/format-number-behavior.html">
<link rel="import" href="group_welfare-manage.html">
<link rel="import" href="welfare-manage.html">

<dom-module id="welfare-panel">
    <template>
        <style is="custom-style" include="page-style iron-flex iron-flex-factors iron-flex-alignment">
             :host {
                display: block;
            }
            main {
                /*min-width: 320px;*/
                /*max-width: 1000px;*/
                padding: 5px;
                margin: 0 auto;
            }
            section {
                display: none;
                /*padding: 20px 0 0;*/
                border-top: 1px solid #ddd;
            }
            input {
                display: none;
            }
            label {
                display: inline-block;
                margin: 0 0 -1px;
                padding: 15px 25px;
                font-weight: 600;
                text-align: center;
                color: #bbb;
                border: 1px solid transparent;
                background: #D5D8DC;
            }
            label:before {
                font-family: fontawesome;
                font-weight: normal;
                margin-right: 10px;
            }
            /*label[for*='1']:before { content: '\f1cb'; }
            label[for*='2']:before { content: '\f17d'; }*/
            label:hover {
                color: #888;
                cursor: pointer;
            }
            input:checked+label {
                color: #555;
                border: 1px solid #ddd;
                border-top: 3px solid orange;
                border-bottom: 1px solid #fff;
                background: #fff;
            }
            #tab1:checked~#content1,
            #tab2:checked~#content2 {
                display: block;
            }
            user-list-unapprove,
            welfare-approve {
                margin-top: 15px;
                width: 98%;
            }
        </style>
        <main>
            <input id="tab1" type="radio" name="tabs">
            <label for="tab1">สวัสดิการ</label>

            <input id="tab2" type="radio" name="tabs" disabled="[[!isEnable]]">
            <label for="tab2">เงื่อนไข</label>
            <section id="content1">
                <paper-material elevation="1">
                    <group_welfare-manage is-enable="[[isEnable]]"></group_welfare-manage>
                </paper-material>
            </section>

            <section id="content2">
                <paper-material elevation="1">
                    <welfare-manage data="{{dataSelect}}"></welfare-manage>
                </paper-material>
            </section>
        </main>
    </template>
    <script>
        Polymer({
            is: 'welfare-panel',
            behaviors: [ReduxBehavior, FormatNumberBehavior],
            checked_tab:function(){
                this.$$('#tab1').checked = true;
            }
        });
    </script>
</dom-module>