<link rel="import" href="welfare-insert.html">
<link rel="import" href="welfare-edit.html">
<dom-module id="welfare-detail">
    <style is="custom-style" include="page-style iron-flex iron-flex-factors iron-flex-alignment">
        paper-material {
            /*background-color: var(--gl-white-color);*/
            padding: 0px;
        }
        
        .table-detail {
            margin: auto;
            width: 80%;
            padding: 20px;
        }
        
        table.gl-table-default {
            width: 100%;
            border: 1px solid #ddd;
        }
    </style>
    <template>
        <iron-pages selected="{{pages}}">
            <div>
                <template is="dom-if" if={{!list.status_approve}}>
                    <div class="horizontal end-justified layout">
                        <paper-button raised style="margin: 20px" class="gl-btn-primary" on-tap="_insert">
                            <iron-icon icon="add"></iron-icon>เพิ่มสวัสดิการย่อย</paper-button>
                    </div>
                </template>

                <div class="table-detail">
                    <paper-material elevation="1">
                        <table class="gl-table-default">
                            <thead class="table-head">
                                <tr>
                                    <th style="width:15%;text-align: center">ปี</th>
                                    <th>ชื่อสวัสดิการย่อย</th>
                                    <th style="width:15%;">จำนวนเงิน (บาท)</th>
                                    <th style="text-align:center;">จำนวนผู้มีสิทธิ</th>
                                    <th style="text-align:center;">จำนวนผู้ใช้สิทธิ</th>
                                    <th style="width:20%;text-align:center;">เครื่องมือ</th>
                                </tr>
                            </thead>
                            <tbody class="table-body">
                                <!--<template is="dom-repeat" items="{{list}}">-->
                                <template is="dom-repeat" items="{{list.welfare}}" as="welfare">
                                    <tr data="[[item]]">
                                        <td style="text-align:center;">[[list.year]]</td>
                                        <td>[[welfare.welfare_name]]</td>
                                        <td style="text-align:right;">[[formatNumber(welfare.budget)]]</td>
                                        <td style="text-align:center;">[[welfare.emp_budget]]</td>
                                        <td style="text-align:center;">[[welfare.emp_use]]</td>
                                        <td style="text-align:center;">
                                            <paper-icon-button data="[[welfare]]" on-tap="_edit" icon="icons:list" title="รายละเอียด"></paper-icon-button>
                                            <template is="dom-if" if={{!list.status_approve}}>
                                                <paper-icon-button data="[[welfare]]" on-tap="_delete" icon="delete" title="ลบ"></paper-icon-button>
                                            </template>
                                            <!--<paper-button data="[[welfare]]" style="height:30px; width:25px;" raised class="gl-btn-info" on-tap="_edit">แก้ไข</paper-button>-->
                                        </td>
                                    </tr>
                                </template>
                                <!--</template>-->
                            </tbody>
                        </table>
                    </paper-material>
                </div>
            </div>
            <div>
                <welfare-insert datas="{{data}}"></welfare-insert>
            </div>
            <div>
                <welfare-edit datas="{{data}}" status="[[list.status_approve]]"></welfare-edit>
            </div>
        </iron-pages>
    </template>
    <script>
        Polymer({
            is: 'welfare-detail',
            behaviors: [ReduxBehavior, FormatNumberBehavior],
            listeners: {
                'back': 'back_page'
            },
            properties: {
                pages: {
                    type: String,
                    value: '0'
                },
                list: {
                    statePath: 'groupWelfare.list_id',
                    observer: 'getData'
                }
            },
            getData: function (data) {
                // console.log('11111', data);
            },
            _insert: function () {
                this.pages = '1';
                this.dispatchAction('CONDITION_LIST')
            },
            back_page: function () {
                this.pages = '0';
            },
            _edit: function (e) {
                // console.log(e.currentTarget.data);
                var id = e.currentTarget.data.id;
                this.dispatchAction('WELFARE_DATA_SELECT', id)
                this.dispatchAction('CONDITION_LIST')
                this.pages = '2';
            },
            _delete: function (e) {
                this.fire('toast', {
                    status: 'openDialog',
                    text: 'คุณต้องการลบเงื่อนไขนี้ใช่หรือไม่ ?',
                    confirmed: this._confirmToast.bind(this),
                    datas: {
                        id : e.currentTarget.data.id,
                        group_id : e.currentTarget.data.group_id
                    }
                });
            },
            _confirmToast: function (result, detail) {
                if (result == true) {
                    this.dispatchAction('WELFARE_DELETE', detail.datas)
                }
            },
            setPage: function (pages) {
                this.pages = pages
            }
        });
    </script>
</dom-module>