<link rel="import" href="../../components/format-number-behavior.html">
<link rel="import" href="../../../../bower_components/vaadin-combo-box/vaadin-combo-box.html">

<dom-module id="welfare-edit">
    <template>
        <style is="custom-style" include="page-style iron-flex iron-flex-factors iron-flex-alignment">
            gl-form-input,
            vaadin-date-picker,
            gl-combo-box {
                margin-top: 15px;
            }
            
            .label_condition {
                font-weight: bold;
                text-align: right;
                margin-top: 35px;
                font-size: 20px;
            }
            
            .btn-bottom {
                margin: 30px;
            }
            
            paper-material {
                background-color: var(--gl-white-color);
            }
            
            .table-detail {
                margin: auto;
                width: 96%;
                padding: 20px 20px 100px 20px;
            }
            
            table.gl-table-default {
                border: 1px solid #ddd;
            }
        </style>
        <div style="padding:20px;">
            <!--[[setCondition(condition)]]-->
            <paper-material elevation="1">
                <!--//{{isEnabled}}//-->
                <div class="horizontal end-justified layout">
                    <div style="margin:20px 20px 0px 0px;" hidden="{{status}}">
                        <paper-icon-button icon="icons:create" on-tap="_edit"></paper-icon-button>
                        <paper-icon-button icon="delete" on-tap="_delete"></paper-icon-button>
                    </div>
                </div>

                <gl-grid-row width="{{getWidth}}">
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"></gl-grid-col>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                        <gl-form-input label="ชื่อสวัสดิการย่อย" value="{{data.welfare_name}}" placeholder="กรุณากรอกชื่อสวัสดิการ" disabled="{{active}}"></gl-form-input>
                    </gl-grid-col>
                </gl-grid-row>
                <gl-grid-row>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"></gl-grid-col>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                        <gl-form-input label="จำนวนเงิน" format-number="on" value="{{data.budget}}" placeholder="กรุณากรอกจำนวนเงิน" disabled="{{active}}"></gl-form-input>
                    </gl-grid-col>
                </gl-grid-row>
                <template is="dom-repeat" items="{{data.condition}}">
                    <gl-grid-row>
                        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]"></gl-grid-col>
                        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
                            <div class="label_condition">เงื่อนไข ([[count(index)]])</div>
                        </gl-grid-col>
                        [[conditionManage(item.field.id,index)]]
                        <!--{{item.field.id}}-->
                            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
                                <gl-form-dropdown-menu style="margin-top: 15px" disabled="{{active}}">
                                    <paper-listbox class="dropdown-content" attr-for-selected="value" selected="{{item.field.id}}">
                                        <template is="dom-repeat" items="{{item.itemField}}" as="item2">
                                            <paper-item value="{{item2.id}}">{{item2.label}}</paper-item>
                                        </template>
                                    </paper-listbox>
                                </gl-form-dropdown-menu>
                                <!--<gl-combo-box id="name-[[index]]" on-value-changed="setCondition" id="[[index]]"  item-label-path="label" item-value-path="id" items="[[ee.0]].[[index]]"
                                value="{{item.field}}" disabled="{{active}}"></gl-combo-box>-->
                            </gl-grid-col>

                            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
                                <gl-form-dropdown-menu style="margin-top: 15px" disabled="{{active}}">
                                    <paper-listbox class="dropdown-content" attr-for-selected="value" selected="{{item.logic_show}}">
                                        <template is="dom-repeat" items="{{item.field.conditions}}">
                                            <paper-item value="{{item.symbol}}">{{item.name}}</paper-item>
                                        </template>
                                    </paper-listbox>
                                </gl-form-dropdown-menu>
                                <!--<gl-combo-box id="symbo-[[index]]" item-label-path="name" item-value-path="symbol" value="{{item.logic_show}}" disabled="{{active}}"></gl-combobox>-->
                            </gl-grid-col>
                            [[checkValue(item.field.id,index)]]
                            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
                                <div id="combobox-[[index]]" hidden>
                                    <gl-form-dropdown-menu style="margin-top:15px;width:100%;" disabled="{{active}}">
                                        <paper-listbox class="dropdown-content" attr-for-selected="value" selected="{{item.value_show}}">
                                            <template is="dom-repeat" items="{{item.field.data}}">
                                                <paper-item value="{{item.id}}">{{item.name}}</paper-item>
                                            </template>
                                        </paper-listbox>
                                    </gl-form-dropdown-menu>
                                    <!--<gl-combobox id="value-combo-[[index]]" item-label-path="name" item-value-path="id" value="{{item.value_show}}" disabled="{{active}}"></gl-combobox>-->
                                </div>
                                <div id="input-[[index]]" hidden>
                                    <gl-form-input disabled="{{active}}" value="{{item.value_show}}"></gl-form-input>
                                </div>
                            </gl-grid-col>
                            <div hidden="{{active}}">
                                <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
                                    <paper-icon-button icon="delete" style="margin-top:25px;" index="{{index}}" on-tap="delete_condition"></paper-icon-button>
                                </gl-grid-col>
                            </div>
                        <!--</template>-->
                    </gl-grid-row>
                </template>
                <div class="horizontal center-justified layout">
                    <div hidden="{{active}}">
                        <paper-button raised class="gl-btn-info" style="margin-top:15px;" on-tap="add_condition">เพิ่มเงื่อนไข</paper-button>
                    </div>
                </div>
                <div class="horizontal layout">
                    <div hidden="{{!active}}" class="btn-bottom">
                        <paper-button raised class="gl-btn-danger" on-tap="back">ย้อนกลับ</paper-button>
                        <paper-button raised class="gl-btn-info" on-tap="list_users">ดูสมาชิก</paper-button>
                        <paper-button raised class="gl-btn-warning" on-tap="print">Print</paper-button>
                    </div>
                </div>
                <div class="horizontal end-justified layout">
                    <div hidden="{{active}}" class="btn-bottom">
                        <paper-button raised class="gl-btn-danger" on-tap="cancle">ยกเลิก</paper-button>
                        <paper-button raised class="gl-btn-success" on-tap="save">บันทึก</paper-button>
                    </div>
                </div>
            </paper-material>

        </div>

        <template is="dom-if" if="{{tableStatus}}">
            <div class="horizontal end-justified layout">
                <div style="margin-right:30px;font-weight: bold;font-size: 20px;">จำนวนผู้ได้รับสิทธิ [[employees.count_employee]] คน</div>
            </div>
            <div class="table-detail">
                <paper-material elevation="1">
                    <table class="gl-table-default">
                        <thead class="table-head">
                            <tr>
                                <th style="text-align:center">เลขบัตรประชาชน</th>
                                <th style="text-align:center">ชื่อ</th>
                                <th style="text-align:center">ตำแหน่ง</th>
                                <th style="text-align:center">แผนก</th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                            <template is="dom-repeat" items="{{employees.employee}}">
                                <tr>
                                    <td>[[item.personal_id]]</td>
                                    <td>[[item.prefix_name]] [[item.firstname]] [[item.lastname]]</td>
                                    <td>[[item.position_name]]</td>
                                    <td>[[item.department_name]]</td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </paper-material>
            </div>
        </template>
    </template>
    <script>
        Polymer({
            is: 'welfare-edit',
            behaviors: [ReduxBehavior, FormatNumberBehavior],
            properties: {
                condition: {
                    statePath: 'welfare.condition'
                },
                data: {
                    statePath: 'welfare.dataSelect',
                    type: Object,
                    value: {
                        condition: []
                    }
                },
                active: {
                    type: Boolean,
                    value: true
                },
                employees: {
                    statePath: 'welfare.employees'
                },
                isEnabled: {
                    type: Boolean,
                    value: false
                }
            },
            changeisEnabled() {
                this.isEnabled = false
            },
            checkValue: function (e, index) {
                this.async(() => {
                    try {
                        if (e != "") {
                            // var combobox = Polymer.dom(this.root).querySelector('#value-combo-' + index);
                            var id = e;
                            var value = this.condition.filter((val) => val.id == id)[0]
                            // combobox.items = value.data;
                            // console.log(value.data.length);
                            if (value.data.length == 0) {
                                Polymer.dom(this.root).querySelector('#input-' + index).hidden = false;
                                Polymer.dom(this.root).querySelector('#combobox-' + index).hidden = true;
                            } else {
                                Polymer.dom(this.root).querySelector('#input-' + index).hidden = true;
                                Polymer.dom(this.root).querySelector('#combobox-' + index).hidden = false;
                                // combobox.items = [];
                                combobox.items = value.data;
                            }
                        }

                    } catch (error) {

                    }
                }, 1);
            },
            conditionManage: function (val, index) {
                // console.log(this.data);
                if (val != "") {
                    var condition = this.condition;
                    var use = this.data.condition.map((item) => {
                        return item.field
                    })
                    var diff = condition.filter((item) => {
                        return use.indexOf(item) < 0;
                    })
                    for (var x in this.data.condition) {
                        var a = [];
                        for (var i in diff) {
                            a.push(diff[i]);
                        }
                        a.push(this.data.condition[x].field); //a
                        console.log(a);
                        // console.log('this.data.condition[', x, ']', this.data.condition[x]);
                        this.set('data.condition.' + x + '.itemField', a);
                        // console.log(this.data.condition[x].itemField);
                        // console.log('x', x, this.data.condition[x]);
                    }
                }
            },
            add_condition: function () {
                var condition = this.condition;
                var use = this.data.condition.map((item) => {
                    return item.field
                })
                var diff = condition.filter((item) => {
                    return use.indexOf(item) < 0;
                })
                this.push('data.condition', {
                    itemField: diff,
                    // itemLogic: '',
                    // logic_show: '',
                    // itemValue: '',
                    // value_show: ''
                })
            },
            delete_condition: function (e) {
                // console.log(e.target.index);
                this.splice('data.condition', e.target.index, 1);
                this.conditionManage();
            },
            back: function () {
                this.fire('back');
                this.set('disabled', this.active = true);
                // this.data = {
                //     condition: [
                //         { field: '', logic: '', value: '' }
                //     ]
                // };
                this.tableStatus = false;
                this.isEnabled = false
            },
            cancle: function () {
                this.set('disabled', this.active = true);
                this.dispatchAction('WELFARE_DATA_SELECT', this.data.id)
            },
            _edit: function () {
                this.set('disabled', this.active = false);
            },
            list_users: function () {
                var id = this.data.id;
                this.dispatchAction('WELFARE_LIST_EMPLOYEE', id)
                this.tableStatus = true;
            },
            print: function () {
                var id = this.data.id;
                window.open('api/report/report1/' + id);
            },
            save: function () {
                for (var i = 0; i < this.data.condition.length; i++) {
                    // console.log(this.data.condition[i].field);
                    var id = this.data.condition[i].field.id;
                    var item = this.condition.filter((val) => val.id == id)[0]
                    var field = item.field;
                    // console.log(field);
                    // console.log(this.data.condition[i].logic.search("<"))
                    if (field == 'start_work_date') {
                        if (this.data.condition[i].logic_show.search(">") >= 0) {
                            var d = this.datas.start_date.split("-");
                            this.data.condition[i].value = (parseInt(d[0]) - parseInt(this.data.condition[i].value_show)) + "-" + d[1] + "-" + d[2];
                            this.data.condition[i].logic = this.data.condition[i].logic_show.replace(">", "<");
                        } else if (this.data.condition[i].logic_show.search("<") >= 0) {
                            var d = this.datas.end_date.split("-");
                            this.data.condition[i].value = (parseInt(d[0]) - parseInt(this.data.condition[i].value_show)) + "-" + d[1] + "-" + d[2];
                            this.data.condition[i].logic = this.data.condition[i].logic_show.replace("<", ">");
                        }
                    }
                    else if (field == 'birthday') {
                        if (this.data.condition[i].logic_show.search(">") >= 0) {
                            var date = new Date().toISOString().split("T")(0);
                            var d = date.split('-');
                            // console.log(d);
                            this.data.condition[i].value = (parseInt(d[0]) - parseInt(this.data.condition[i].value_show)) + "-" + d[1] + "-" + d[2];
                            this.data.condition[i].logic = this.data.condition[i].logic_show.replace(">", "<");
                        } else if (this.data.condition[i].logic_show.search("<") >= 0) {
                            var date = new Date().toISOString().split("T")(0);
                            var d = date.split('-');
                            this.data.condition[i].value = (parseInt(d[0]) - parseInt(this.data.condition[i].value_show)) + "-" + d[1] + "-" + d[2];
                            this.data.condition[i].logic = this.data.condition[i].logic_show.replace("<", ">");
                        }
                    } else {
                        this.data.condition[i].value = this.data.condition[i].value_show;
                        this.data.condition[i].logic = this.data.condition[i].logic_show;
                    }

                }
                this.data.budget = this.unFormat(this.data.budget);
                for (var i in this.data.condition) {
                    this.data.condition[i].field = this.data.condition[i].field.id;
                    delete this.data.condition[i].itemField;
                }
                // console.log(this.data);
                this.dispatchAction('WELFARE_EDIT', this.data)
                this.set('disabled', this.active = true);
            },
            count: function (val) {
                return val + 1;
            }
        });
    </script>
</dom-module>