<link rel="import" href="../../components/format-number-behavior.html">
<link rel="import" href="./../../components/validateFormBehaviors.html">

<dom-module id="welfare-form">
    <template>
        <style is="custom-style" include="page-style iron-flex iron-flex-factors iron-flex-alignment">
            gl-form-input,
            vaadin-date-picker,
            gl-combo-box {
                margin-top: 15px;
            }
            
            .label_condition {
                font-weight: bold;
                text-align: right;
                margin-top: 35px;
                font-size: 20px;
            }
            
            .btn-bottom {
                margin: 30px;
            }
            
            paper-material {
                background-color: var(--gl-white-color);
            }
        </style>
        <div style="padding:20px;">
            <paper-material elevation="1">
                <template is="dom-if" if="{{checkMenu(data)}}">
                    <div hidden$="{{date.status_approve}}">       
                        <div hidden$="{{!isEnable}}">
                            <div class="horizontal end-justified layout">
                                <div style="margin:20px 20px 0px 0px;">
                                    <paper-icon-button icon="icons:create" on-tap="_edit"></paper-icon-button>
                                    <paper-icon-button icon="delete" on-tap="_delete"></paper-icon-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
                
                <gl-grid-row width="{{getWidth}}">
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"></gl-grid-col>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                        <div style="font-weight:bold;color:#737373">รูปแบบการใช้งาน</div>
                        <paper-radio-group selected="{{data.round_use}}" attr-for-selected="value">
                            <paper-radio-button value="{{!type_select}}" disabled="{{isEnable}}">ใช้แบบต่อรอบ</paper-radio-button>
                            <paper-radio-button value="{{type_select}}" disabled="{{isEnable}}">ใช้แบบต่อครั้ง</paper-radio-button>
                        </paper-radio-group>
                    </gl-grid-col>
                </gl-grid-row>
                <gl-grid-row>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"></gl-grid-col>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                        <gl-form-input class="form" required disabled="{{isEnable}}" label="ชื่อเงื่อนไข" value="{{data.welfare_name}}" placeholder="กรุณากรอกชื่อเงื่อนไข"></gl-form-input>
                    </gl-grid-col>
                </gl-grid-row>
                <gl-grid-row>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]"></gl-grid-col>
                    <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]">
                        <gl-form-input class="form" required disabled="{{isEnable}}" label="จำนวนเงิน (บาท)" format-number="on" value="{{data.budget}}" placeholder="กรุณากรอกจำนวนเงิน"></gl-form-input>
                    </gl-grid-col>
                </gl-grid-row>
                <template is="dom-repeat" items="{{data.condition}}">
                    [[conditionManage(item.field,index)]]
                    <gl-grid-row>
                        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]"></gl-grid-col>
                        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
                            <div class="label_condition">เงื่อนไข ([[count(index)]])</div>
                        </gl-grid-col>
                        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
                            <gl-form-dropdown-menu disabled="{{isEnable}}" on-value-changed="clearSelect" style="margin-top: 15px; width:100%">
                                <paper-listbox class="dropdown-content" attr-for-selected="value" selected="{{item.field}}">
                                    <template is="dom-repeat" items="{{item.itemField}}">
                                        <paper-item value="{{item}}">{{item.label}}</paper-item>
                                    </template>
                                </paper-listbox>
                            </gl-form-dropdown-menu>
                            <!--<vaadin-combo-box id="field-[[index]]" placeholder="[[item.itemField.length]]" items="[[item.itemField]]" value="{{item.field}}"></vaadin-combo-box>-->
                        </gl-grid-col>
                        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,2]]">
                            <gl-form-dropdown-menu disabled="{{isEnable}}" style="margin-top: 15px">
                                <paper-listbox class="dropdown-content" attr-for-selected="value" selected="{{item.logic_show}}">
                                    <template is="dom-repeat" items="{{item.field.conditions}}">
                                        <paper-item value="{{item.symbol}}">{{item.name}}</paper-item>
                                    </template>
                                </paper-listbox>
                            </gl-form-dropdown-menu>
                            <!--<gl-combo-box id="symbo-[[index]]" items="[[item.itemLogic]]" item-label-path="name" item-value-path="symbol" value="{{item.logic_show}}"></gl-combobox>-->
                        </gl-grid-col>
                        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
                            <template is="dom-if" if="{{!getFiled(item.field,index)}}">
                                <!--<div id="combobox-[[index]]" hidden>-->
                                <gl-form-dropdown-menu disabled="{{isEnable}}" style="margin-top:15px;width:100%;">
                                    <paper-listbox class="dropdown-content" attr-for-selected="value" selected="{{item.value_showDropdown}}">
                                        <template is="dom-repeat" items="{{item.field.data}}">
                                            <paper-item value="{{item.id}}">{{item.name}}</paper-item>
                                        </template>
                                    </paper-listbox>
                                </gl-form-dropdown-menu>
                                <!--<gl-combo-box id="value-combo-[[index]]" items="[[item.itemValue]]" item-label-path="name" item-value-path="id" value="{{item.value_show}}"></gl-combobox>-->
                                <!--</div>-->
                            </template>
                            <template is="dom-if" if="{{getFiled(item.field,index)}}">
                                <!--<div id="input-[[index]]" hidden>-->
                                <gl-form-input disabled="{{isEnable}}" pattern="[0-9]*" value="{{item.value_showInput}}">
                                    <div suffix>ปี</div>
                                </gl-form-input>
                                <!--</div>-->
                            </template>
                        </gl-grid-col>
                        <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,1]]">
                            <div hidden$="{{isEnable}}">
                                <paper-icon-button icon="delete" style="margin-top:25px;" index="{{index}}" on-tap="delete_condition"></paper-icon-button>
                            </div>
                        </gl-grid-col>
                    </gl-grid-row>
                </template>
                <div class="horizontal center-justified layout">
                    <div hidden$="{{isEnable}}">
                        <paper-button raised class="gl-btn-info" style="margin-top:15px;" on-tap="add_condition">เพิ่มเงื่อนไข</paper-button>
                    </div>
                </div>
                <div class="horizontal end-justified layout btn-bottom">
                    <div hidden$="{{isEnable}}">
                        <paper-button raised class="gl-btn-danger" on-tap="cancel">ยกเลิก</paper-button>
                        <paper-button raised class="gl-btn-success" on-tap="save">บันทึก</paper-button>
                    </div>
                </div>
                <template is="dom-if" if="{{checkMenu(data)}}">
                    <div class="horizontal layout">
                        <div hidden="{{!isEnable}}" class="btn-bottom">
                            <paper-button raised on-tap="back">ย้อนกลับ</paper-button>
                            <!--<paper-button raised class="gl-btn-info" on-tap="list_users">ดูสมาชิก</paper-button>
                            <paper-button raised class="gl-btn-warning" on-tap="print">Print</paper-button>-->
                        </div>
                    </div>
                </template>
            </paper-material>

            <template is="dom-if" if="{{tableStatus}}">
                <div class="horizontal end-justified layout">
                    <div style="margin:30px 30px 10px 0px;font-weight: bold;font-size: 20px;">จำนวนผู้ได้รับสิทธิ [[employees.count_employee]] คน</div>
                </div>
                <div class="table-detail" style="margin-bottom:30px;">
                    <paper-material elevation="1">
                        <table class="gl-table-default">
                            <thead class="table-head">
                                <tr>
                                    <th></th>
                                    <th style="text-align:center">เลขบัตรประชาชน</th>
                                    <th style="text-align:center">ชื่อ</th>
                                    <th style="text-align:center">ตำแหน่ง</th>
                                    <th style="text-align:center">แผนก</th>
                                </tr>
                            </thead>
                            <tbody class="table-body">
                                <template is="dom-repeat" items="{{employees.employee}}">
                                    <tr>
                                        <td><iron-icon style="cursor:pointer" icon="list" on-tap="_selectUser" data="[[item]]"></iron-icon></td>
                                        <td style="text-align:left">[[item.personal_id]]</td>
                                        <td style="text-align:left">[[item.prefix_name]] [[item.firstname]] [[item.lastname]]</td>
                                        <td style="text-align:left">[[item.position_name]]</td>
                                        <td style="text-align:left">[[item.department_name]]</td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </paper-material>
                </div>
            </template>
        </div>
    </template>
    <script>
        Polymer({
            is: 'welfare-form',
            behaviors: [ReduxBehavior, FormatNumberBehavior,ValidateFormBehavior],
            properties: {
                condition: {
                    statePath: 'welfare.condition'
                },
                data: {
                    statePath: 'welfare.dataSelect',
                    observer: 'setItemShow'
                },
                employees: {
                    statePath: 'welfare.employees'
                },
                isEnable: {
                    type: Boolean,
                    value: false
                },
                checkSplice:{
                    type: Boolean,
                    value: false
                },
                type_select:{
                    type: Boolean,
                    value: false
                }
            },
            checkMenu: function (data) {
                // console.log('data',data);
                if (typeof data.id == 'undefined') {
                    return false;
                }
                else {
                    return true;
                }
            },
            clearSelect:function(e){
                // console.log(this.data);
                if(this.isEnable == false && this.checkSplice !== true){
                    // console.log(this.data.condition[e.model.index]);
                    // var pre = JSON.parse(JSON.stringify(this.data.condition));
                    // if(pre[e.model.index] !== undefined){
                    //     // console.log(pre[e.model.index].field.conditions);
                    //     pre[e.model.index]k.field.conditions = {};
                    //     this.data.condition = pre;
                    // }

                    // var index = e.target.index;
                    // // this.checkSplice = false;
                    // if(this.data.condition[index].logic_show !== ''){
                    //     this.set('data.condition.'+index+'.logic_show','');
                    // }
                    // this.set('data.condition.'+index+'.value_showDropdown','');
                    // this.set('data.condition.'+index+'.value_showInput','');
                }
            },
            setItemShow: function (data) {
                // console.log(data);
                this.data.condition.map((item) => {
                    if (typeof item.field.data == 'string') {
                        item.value_showInput = item.value_show;
                    }
                    else {
                        item.value_showDropdown = item.value_show;
                    }
                })
            },
            count: function (index) {
                return index + 1;
            },
            getFiled: function (data, index) {
                if (typeof data != 'undefined') {
                    // if(this.resetData == false){
                    // this.set('data.condition.'+index+'.value_show','')
                    // }
                    if (typeof data.data == 'string') {
                        this.set('data.condition.' + index + '.value_showDropdown', '')
                        return true;
                    }
                    else if (typeof data.data == 'object') {
                        this.set('data.condition.' + index + '.value_showInput', '')
                        return false;
                    }
                }
            },
            add_condition: function () {
                if(this.date.type_continuous !== undefined){
                    if(this.date.type_continuous === true){
                        this.date.type_continuous = 'con';
                    }else if(this.date.type_continuous === false){
                        this.date.type_continuous = 'uncon';
                    }
                    var condition1 = this.condition.filter((item) => {
                            return item.type_continuous == this.date.type_continuous
                    });
                    var condition2 = this.condition.filter((item) => {
                            return item.type_continuous == 'all'
                    });
                    var condition = condition2.concat(condition1);
                }
                var data = condition;
                var use = this.data.condition.map((item) => {
                    return item.field
                })
                var diff = data.filter((item) => {
                    return use.indexOf(item) < 0;
                })
                var condition = this.condition;
                this.push('data.condition', {
                    itemField: diff
                })
            },
            delete_condition: function (e) {
                this.checkSplice = true;
                var index = e.target.index;
                this.splice('data.condition', index, 1);
            },
            conditionManage: function (val, index) {
                if (val != "") {
                    if(this.date.type_continuous !== undefined){
                        if(this.date.type_continuous === true){
                            this.date.type_continuous = 'con';
                        }else if(this.date.type_continuous === false){
                            this.date.type_continuous = 'uncon';
                        }
                        var condition1 = this.condition.filter((item) => {
                                return item.type_continuous == this.date.type_continuous
                        });
                        var condition2 = this.condition.filter((item) => {
                                return item.type_continuous == 'all'
                        });
                        var condition = condition2.concat(condition1);
                    }
                    var data = condition;
                    var use = this.data.condition.map((item) => {
                        return item.field
                    })
                    var diff = data.filter((item) => {
                        return use.indexOf(item) < 0;
                    })
                    for (var x in this.data.condition) {
                        var a = [];
                        for (var i in diff) {
                            a.push(diff[i]);
                        }
                        a.push(this.data.condition[x].field); //a
                        // console.log('this.data.condition[', x, ']', this.data.condition[x]);
                        this.set('data.condition.' + x + '.itemField', a);
                        // console.log(this.data.condition[x].itemField);
                        // console.log('x', x, this.data.condition[x]);
                    }
                }
            },
            save: function () {
                var check = this.validateForm('.form');
                // console.log(check);
                if(check == false) return '';
                if(check == true){
                    if(this.data.round_use === undefined){
                        this.fire('toast',{status:'connectError',text:'กรุณาเลือกรูปแบบการใช้งาน',
                            callback:function(){}
                        });
                    }else{
                        var newData = {
                            group_id: this.date.id,
                            // status: this.data.status,
                            welfare_name: this.data.welfare_name,
                            budget: this.unFormat(this.data.budget),
                            round_use: this.data.round_use,
                            year: this.date.year
                        }
                        var condition = this.data.condition.map((item)=>{
                            if(item.value_showDropdown == ''){
                                item.value_show = item.value_showInput;
                            }
                            else if(item.value_showInput == ''){
                                item.value_show = item.value_showDropdown;
                            }
                            return item
                        })
                        var arr = [];
                        var tz = "T00:00:00+07:00";
                            for (var i = 0; i < this.data.condition.length; i++) {
                                var data = condition[i];
                                var search = data.field.field.search('date');
                                var search_age = data.field.field.search('age');
                                if (search != -1) {
                                    // console.log(data.logic_show);
                                    if (data.logic_show.search(">") >= 0) {
                                        var d = this.date.cal_date.split("-");
                                        data.value = (parseInt(d[0]) - parseInt(data.value_show)) + "-" + d[1] + "-" + d[2] + tz;
                                        data.logic = data.logic_show.replace(">", "<");
                                    } else if (data.logic_show.search("<") >= 0) {
                                        var d = this.date.cal_date.split("-");
                                        data.value = (parseInt(d[0]) - parseInt(data.value_show)) + "-" + d[1] + "-" + d[2] + tz;
                                        data.logic = data.logic_show.replace("<", ">");
                                    }
                                }
                                else if(search_age != -1){
                                    if (data.logic_show.search(">") >= 0) {
                                        data.value = parseInt(data.value_show);
                                        data.logic = data.logic_show;
                                    } else if (data.logic_show.search("<") >= 0) {
                                        data.value = parseInt(data.value_show);
                                        data.logic = data.logic_show;
                                    }
                                }
                                else{
                                    data.value = data.value_show;
                                    data.logic = data.logic_show;
                                }
                                arr.push(data);
                            }
                        var setCondition = arr.map((item)=>{
                            let {field, logic, logic_show, value, value_show} = item;
                            let newitem = { field, logic, logic_show, value, value_show}
                            newitem.field = field.id;
                            newitem.field_name = field.field;
                            return newitem
                        })
                        newData.condition = setCondition;    
                        // console.log(newData);
                        if (typeof this.data.id == 'undefined') {
                            this.fire('toast', {
                                status: 'openDialog',
                                text: 'ต้องการเพิ่มเงื่อนไขใช่หรือไม่ ?',
                                confirmed: (result) => {
                                    if (result == true) {
                                        // newData.status = true;
                                        //  console.log(newData);
                                        var year = new Date().getFullYear();
                                        this.dispatchAction('WELFARE_INSERT', newData).then((val)=>{
                                            // this.fire('refresh_group',year);
                                            this.fire('back');
                                        })
                                    }
                                }
                            })
                        }
                        else {
                            this.fire('toast', {
                                status: 'openDialog',
                                text: 'ต้องการแก้ไขเงื่อนไขใช่หรือไม่ ?',
                                confirmed: (result) => {
                                    if (result == true) {
                                        // newData.status = this.data.status
                                        newData.id=this.data.id;
                                        // console.log(newData);
                                        this.dispatchAction('WELFARE_EDIT', newData).then((val)=>{
                                            this.isEnable = true;
                                        })
                                        // this.fire('back');
                                    }
                                }
                            })
                        }
                    }
                }
            },
            _edit: function () {
                this.isEnable = false;
                this.tableStatus = false;
            },
            cancel: function () {
                if (typeof this.data.id == 'undefined') {
                    this.dispatchAction('WELFARE_DATA_SELECT_CLEAR');
                    this.fire('back');
                }
                else {
                    this.dispatchAction('WELFARE_DATA_SELECT', this.data.id);
                    this.isEnable = true;
                }
            },
            back: function () {
                this.fire('back');
                this.tableStatus = false;
            },
            // list_users: function () {
            //     var id = this.data.id;
            //     this.dispatchAction('WELFARE_LIST_EMPLOYEE', id)
            //     this.tableStatus = true;
            // },
            // print: function () {
            //     var id = this.data.id;
            //     window.open('api/report/report1/' + id);
            // },
            _delete: function () {
                this.fire('toast', {
                    status: 'openDialog',
                    text: 'คุณต้องการลบเงื่อนไขนี้ใช่หรือไม่ ?',
                    confirmed: this._confirmToast.bind(this),
                    datas: {
                        id: this.data.id,
                        group_id: this.data.group_id
                    }
                });
            },
            _confirmToast: function (result, detail) {
                if (result == true) {
                    this.dispatchAction('WELFARE_DELETE', detail.datas)
                    this.fire('back');
                }
            },
            _selectUser: function (e) {
                var id = e.target.data.id;
                window.open('https://localhost:3000/admin-manage/' + id);
                // this.fire('nylon-change-page',{path:'/admin-employee/'+id})
            }
        });
    </script>
</dom-module>