<link rel="import" href="./../../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="./../../../../bower_components/vaadin-grid/vaadin-grid-column-group.html">
<link rel="import" href="./../../components/validateFormBehaviors.html">
<link rel="import" href="./../../components/format-number-behavior.html">

<dom-module id="import-fund">
    <style include="iron-flex iron-flex-factors iron-flex-alignment">
        .text-center {
            text-align: center;
        }

        .input-file {
            margin: 20px;
        }
    </style>
    <template>

        <div class="input-file">
            <input type="file" id="myFile" style="width:300px" on-change="_uploadFile">
            <gl-form-dropdown-menu class="checkValidate" required label="ชื่อชีท" placeholder="กรุณาเลือกชื่อชีท" id="dropdown">
                <paper-listbox class="dropdown-content" attr-for-selected="value" selected="{{selectSheet}}">
                    <template is="dom-repeat" items="{{list_sheet}}">
                        <paper-item value="{{item}}">{{item}}</paper-item>
                    </template>
                </paper-listbox>
            </gl-form-dropdown-menu>
            <paper-button raised on-tap="_preview">อัพโหลด</paper-button>
        </div>        

        <vaadin-grid items={{list}}>
            <vaadin-grid-column width="50px" flex-grow="0">
                <template class="header">
                    <div class="text-center">ลำดับ</div>
                </template>
                <template>
                    <div class="text-center">[[_Obindex(index)]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="250px" flex-grow="0">
                <template class="header">
                    ชื่อ-นามสกุล
                </template>
                <template>
                    {{item.emp_name}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="200px" flex-grow="0">
                <template class="header">
                    เลขบัตรประชาชน
                </template>
                <template>
                    {{item.personal_id}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="200px" flex-grow="0">
                <template class="header">
                    นโยบาย
                </template>
                <template>
                    {{item.policy_code}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="150px" flex-grow="0">
                <template class="header">
                    เงินสะสม
                </template>
                <template>
                    {{item.emp_con}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="150px" flex-grow="0">
                <template class="header">
                    ประโยชน์เงินสะสม
                </template>
                <template>
                    {{item.emp_ear}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="150px" flex-grow="0">
                <template class="header">
                    เงินสมทบ
                </template>
                <template>
                    {{item.com_con}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="150px" flex-grow="0">
                <template class="header">
                    รวม
                </template>
                <template>
                    {{item.total}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="150px" flex-grow="0">
                <template class="header">
                    วันที่ทำการ
                </template>
                <template>
                    {{item.fund_date}}
                </template>
            </vaadin-grid-column>
        </vaadin-grid>

        <div class="horizontal end-justified layout" style="margin:20px 0px 10px 0px">
            <paper-button raised on-tap="_cancle">ยกเลิก</paper-button>
            <paper-button raised on-tap="_insert">เพิ่มลงฐานข้อมูล</paper-button>
        </div>
    </template>

    <script>
        Polymer({
            is: 'import-fund',
            behaviors: [ReduxBehavior, ValidateFormBehavior, FormatNumberBehavior],
            properties: {
                list: {
                    statePath: 'fund.list'
                },
                select_file: {
                    statePath: 'fund.data',
                    observer: '_listSheets'
                },
                list_sheet: {
                    statePath: 'fund.list_sheet'
                }
            },
            _Obindex: function (index) {
                return index + 1
            },
            _preview: function () {
                var uploadDis = this.$$('#myFile');
                var dropDis = this.$$('#dropdown');
                var data = {
                    name: this.select_file.name,
                    sheet: this.selectSheet
                };
                var check = this.validateForm('.checkValidate');
                if(check === true){
                    if(this.selectSheet !== undefined){
                        this.dispatchAction('FUND_PREVIEW_DATA', data);
                        uploadDis.disabled = true;
                        dropDis.disabled = true;
                    }else{
                        this.fire('toast',{status:'connectError',text:'กรุณาเลือกไฟล์ที่จะอัพโหลด',
                        callback:function(){
                        }})
                    }
                }else{
                     this.fire('toast',{status:'connectError',text:'กรุณาเลือกชีท',
                     callback:function(){
                     }})
                }
            },
            _insert: function () {
                var data = {
                    name: this.select_file.name,
                    sheet: this.selectSheet
                };
                this.fire('toast', {
                    status: 'openDialog',
                    text: 'ต้องการเพิ่มข้อมูลลงฐานข้อมูลใช่หรือไม่ ?',
                    confirmed: (result) => {
                        if (result === true) {
                            this.dispatchAction('FUND_INSERT', data);
                        } else {
                            this._cancle();
                        }
                    }
                })
            },
            _cancle: function () {
                var uploadDis = this.$$('#myFile');
                uploadDis.disabled = false;
                var dropDis = this.$$('#dropdown');
                dropDis.disabled = false;
            },
            _uploadFile: function (e) {
                // console.log(e.currentTarget.files)
                var file = e.currentTarget.files;
                this.dispatchAction('FUND_UPLOADFILE', file)
            },
            _listSheets: function (data) {
                var dropDis = this.$$('#dropdown');
                var checkObject = JSON.stringify(data) === JSON.stringify({});
                if (checkObject === false) {
                    this.dispatchAction('FUND_GET_SHEET', data.name);
                    dropDis.disabled = false;
                } else {
                    dropDis.disabled = true;
                }
            }
        })
    </script>

</dom-module>