<link rel="import" href="./../../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="./../../../../bower_components/vaadin-grid/vaadin-grid-column-group.html">
<dom-module id="import-fund">
    <style include="iron-flex iron-flex-factors iron-flex-alignment">
        .text-center {
            text-align: center;
        }

        .input-file {
            margin: 20px;
        }
    </style>
    <template>

        <div class="input-file">
            <input type="file" id="myFile" style="width:300px" on-change="_uploadFile">
            <gl-form-dropdown-menu label="ชื่อชีท" placeholder="กรุณาเลือกชื่อชีท">
                <paper-listbox class="dropdown-content" attr-for-selected="value" selected="{{selectSheet}}">
                    <template is="dom-repeat" items="{{list_sheet}}">
                        <paper-item value="{{item}}">{{item}}</paper-item>
                    </template>
                </paper-listbox>
            </gl-form-dropdown-menu>
            <paper-button raised on-tap="_preview">อัพโหลด</paper-button>
        </div>

        <vaadin-grid items={{list}}>
            <vaadin-grid-column width="50px" flex-grow="0">
                <template class="header">
                    <div class="text-center">ลำดับ</div>
                </template>
                <template>
                    <div class="text-center">[[_Obindex(index)]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="350px" flex-grow="0">
                <template class="header">
                    นโยบาย
                </template>
                <template>
                    {{item.policy_code}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="150px" flex-grow="0">
                <template class="header">
                    เงินสะสม
                </template>
                <template>
                    {{item.emp_con}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="150px" flex-grow="0">
                <template class="header">
                    ประโยชน์เงินสะสม
                </template>
                <template>
                    {{item.emp_ear}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="150px" flex-grow="0">
                <template class="header">
                    เงินสมทบ
                </template>
                <template>
                    {{item.com_con}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="150px" flex-grow="0">
                <template class="header">
                    รวม
                </template>
                <template>
                    {{item.total}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="150px" flex-grow="0">
                <template class="header">
                    วันที่ทำการ
                </template>
                <template>
                    {{item.fund_date}}
                </template>
            </vaadin-grid-column>
        </vaadin-grid>

        <div class="horizontal end-justified layout" style="margin:20px 0px 10px 0px">
            <paper-button raised on-tap="_cancle">ยกเลิก</paper-button>
            <paper-button raised on-tap="_insert">เพิ่มลงฐานข้อมูล</paper-button>
        </div>
    </template>

    <script>
        Polymer({
            is: 'import-fund',
            behaviors: [ReduxBehavior],
            properties: {
                list: {
                    statePath: 'fund.list'
                },
                select_file: {
                    statePath: 'fund.data',
                    observer: '_listSheets'
                },
                list_sheet:{
                    statePath :'fund.list_sheet'
                }
            },
            _Obindex: function (index) {
                return index + 1
            },
            _preview: function () {
                var data = {
                    name : this.select_file.name,
                    sheet : this.selectSheet
                };
                var x = this.$$('#myFile');
                x.disabled = true;
                this.dispatchAction('FUND_PREVIEW_DATA', data);
            },
            _insert: function () {
                var data = {
                    name : this.select_file.name,
                    sheet : this.selectSheet
                };
                this.dispatchAction('FUND_INSERT', data);
            },
            _cancle: function () {
                var x = this.$$('#myFile');
                x.disabled = false;
            },
            _uploadFile: function (e) {
                // console.log(e.currentTarget.files)
                var file = e.currentTarget.files;
                this.dispatchAction('FUND_UPLOADFILE', file)
            },
            _listSheets: function (data) {
                var checkObject = JSON.stringify(data) === JSON.stringify({});
                if(checkObject === false){
                    this.dispatchAction('FUND_GET_SHEET', data.name);
                }
            }
        })
    </script>

</dom-module>