<link rel="import" href="./../../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="./../../../../bower_components/vaadin-grid/vaadin-grid-column-group.html">

<dom-module id="import-sso">
    <style include="iron-flex iron-flex-factors iron-flex-alignment">
        .text-center{
            text-align: center;
        }
        .input-file{
            margin: 20px;
        }
        .text-center{
            text-align: center;
        }
    </style>
    <template>

        <div class="input-file">
            <input type="file" id="myFile" style="width:300px;" on-change="_uploadFile">
            <paper-button raised on-tap="_preview">อัพโหลด</paper-button>
        </div>

        <vaadin-grid items={{list}}>
            <vaadin-grid-column width="50px" flex-grow="0">
                <template class="header">
                    <div class="text-center">ลำดับ</div>
                </template>
                <template>
                    <div class="text-center">[[_Obindex(index)]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="300px" flex-grow="0">
                <template class="header">
                    ชื่อ-นามสกุล
                </template>
                <template>
                    {{item.prefix_name}}{{item.first_name}}{{item.last_name}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="150px" flex-grow="0">
                <template class="header">
                    รหัสบัตรประชาชน
                </template>
                <template>
                    {{item.personal_id}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="300px" flex-grow="0">
                <template class="header">
                    สถานพยาบาล
                </template>
                <template>
                    {{item.hospital}}
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="150px" flex-grow="0">
                <template class="header">
                    <div class="text-center">วันที่ออกบัตร</div>
                </template>
                <template>
                    <div class="text-center">{{item.issued_date}}</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="150px" flex-grow="0">
                <template class="header">
                    <div class="text-center">วันที่บัตรหมดอายุ</div>
                </template>
                <template>
                    <div class="text-center">{{item.expired_date}}</div>
                </template>
            </vaadin-grid-column>

            <!--<vaadin-grid-column width="150px" flex-grow="0">
                <template class="header">
                    วันที่ิอัพเดท
                </template>
                <template>
                    {{item.name}}
                </template>
            </vaadin-grid-column>-->
        </vaadin-grid>
        
        <div class="horizontal end-justified layout" style="margin:20px 0px 10px 0px">
            <paper-button raised on-tap="_cancle">ยกเลิก</paper-button>
            <paper-button raised on-tap="_upload">เพิ่มลงฐานข้อมูล</paper-button>
        </div>
    </template>

    <script>
        Polymer({
            is: 'import-sso',
            behaviors: [ReduxBehavior],
            properties:{
                data:{
                    type:Array,
                    value:[
                        {name:'ice'},
                        {name:'test'}
                        ]
                },
                select_file:{
                    statePath: 'sso.data'
                },
                list:{
                    statePath: 'sso.list'
                }
            },
            _Obindex:function(index){
                return index+1
            },
            _preview:function(){
                // console.log(this.select_file);
                var x = this.$$('#myFile');
                x.disabled = true;
                this.dispatchAction('SSO_CLICK_UPLOAD', this.select_file.name);
            },
            _upload:function(){
                // console.log(this.list);
                this.dispatchAction('SSO_INSERT', this.list);
            },
            _cancle:function(){
                var x = this.$$('#myFile');
                x.disabled = false;
            },
            _uploadFile:function(e){
                // console.log(e.currentTarget.files)
                var file = e.currentTarget.files;
                this.dispatchAction('SSO_UPLOADFILE', file)
            }
        })
    </script>

</dom-module>