<link rel="import" href="./../../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="./../../../../bower_components/vaadin-grid/vaadin-grid-column-group.html">
<link rel="import" href="./../../components/validateFormBehaviors.html">
<link rel="import" href="./../../components/format-number-behavior.html">
<link rel="import" href="./../../components/page-style.html">
<dom-module id="import-sso">
    <style include="page-style iron-flex iron-flex-factors iron-flex-alignment">
        .text-center {
            text-align: center;
        }
        .input-file {
            margin: 20px;
        }
        .text-center {
            text-align: center;
        }
        .text-empty {
            text-align:right;
            margin:30px 0px 30px 30px;
            font-size: h4;
            font-weight: bold;
        }
    </style>
    <template>

        <div class="input-file">
            <input type="file" id="myFile" style="width:300px;" on-change="_uploadFile">
            <gl-form-dropdown-menu class="checkValidate" required label="ชื่อชีท" placeholder="กรุณาเลือกชื่อชีท" id="dropdown">
                <paper-listbox class="dropdown-content" attr-for-selected="value" selected="{{selectSheet}}">
                    <template is="dom-repeat" items="{{list_sheet}}">
                        <paper-item value="{{item}}">{{item}}</paper-item>
                    </template>
                </paper-listbox>
            </gl-form-dropdown-menu>
            <paper-button raised on-tap="_preview">{{localize('upload')}}</paper-button>
        </div>

        <template is="dom-if" if={{_obData(list)}}>
            <vaadin-grid id="material" items="{{list}}">
                <vaadin-grid-column width="50px" flex-grow="0">
                    <template class="header">
                        <div class="text-center">{{localize('order')}}</div>
                    </template>
                    <template>
                        <div class="text-center">[[_Obindex(index)]]</div>
                    </template>
                </vaadin-grid-column>

                <vaadin-grid-column width="300px" flex-grow="0">
                    <template class="header">
                        {{localize('firstname')}}-{{localize('lastname')}}
                    </template>
                    <template>
                        {{item.prefix_name}}{{item.first_name}}{{item.last_name}}
                    </template>
                </vaadin-grid-column>

                <vaadin-grid-column width="150px" flex-grow="0">
                    <template class="header">
                        {{localize('personal_id')}}
                    </template>
                    <template>
                        {{item.personal_id}}
                    </template>
                </vaadin-grid-column>

                <vaadin-grid-column width="300px" flex-grow="0">
                    <template class="header">
                        {{localize('hospital')}}
                    </template>
                    <template>
                        {{item.hospital}}
                    </template>
                </vaadin-grid-column>

                <vaadin-grid-column width="150px" flex-grow="0">
                    <template class="header">
                        <div class="text-center">{{localize('day')}}{{localize('at')}}{{localize('issue')}}{{localize('card')}}</div>
                    </template>
                    <template>
                        <div class="text-center">{{item.issued_date}}</div>
                    </template>
                </vaadin-grid-column>

                <vaadin-grid-column width="150px" flex-grow="0">
                    <template class="header">
                        <div class="text-center">{{localize('day')}}{{localize('at')}}{{localize('card')}}{{localize('expired')}}</div>
                    </template>
                    <template>
                        <div class="text-center">{{item.expired_date}}</div>
                    </template>
                </vaadin-grid-column>
            </vaadin-grid>
            <div class="horizontal end-justified layout" style="margin:20px 0px 10px 0px">
                <!--<paper-button raised on-tap="_cancle">ยกเลิก</paper-button>-->
                <paper-button raised class="gl-btn-success" on-tap="_insert">{{localize('insert')}}</paper-button>
            </div>
        </template>

        <template is="dom-if" if={{!_obData(list)}}>
            <vaadin-grid items="{{list_empty}}">
                <vaadin-grid-column width="5%" flex-grow="0">
                    <template class="header"><div class="text-center">{{localize('order')}}</div></template>
                    <template></template>
                </vaadin-grid-column>

                <vaadin-grid-column width="25%" flex-grow="0">
                    <template class="header">{{localize('firstname')}} - {{localize('lastname')}}</template>
                    <template></template>
                </vaadin-grid-column>

                <vaadin-grid-column width="20%" flex-grow="0">
                    <template class="header">{{localize('personal_id')}}</template>
                    <template><div class="text-empty">[[item.name]]</div></template>
                </vaadin-grid-column>

                <vaadin-grid-column width="20%" flex-grow="0">
                    <template class="header">{{localize('hospital')}}</template>
                    <template></template>
                </vaadin-grid-column>

                <vaadin-grid-column width="15%" flex-grow="0">
                    <template class="header"><div class="text-center">{{localize('day')}}{{localize('at')}}{{localize('issue')}}{{localize('card')}}</div></template>
                    <template><div class="text-center"></div></template>
                </vaadin-grid-column>

                <vaadin-grid-column width="15%" flex-grow="0">
                    <template class="header"><div class="text-center">{{localize('day')}}{{localize('at')}}{{localize('card')}}{{localize('expired')}}</div></template>
                    <template><div class="text-center"></div></template>
                </vaadin-grid-column>
            </vaadin-grid>
        </template>
    </template>

    <script>
        Polymer({
            is: 'import-sso',
            behaviors: [ReduxBehavior, ValidateFormBehavior, FormatNumberBehavior,nylonLocalizeBehavior],
            created: function () {
                this.nylonLocalizeImport('/i18n-page1.json');
            },
            properties: {
                select_file: {
                    statePath: 'sso.data',
                    observer: '_listSheets'
                },
                list: {
                    statePath: 'sso.list'
                },
                list_sheet: {
                    statePath: 'sso.list_sheet'
                },
                list_empty: {
                    type:Array,
                    value: [{name:'ไม่มีข้อมูล'}]
                }
            },
            _Obindex: function (index) {
                return index + 1
            },
            _preview: function () {
                // var uploadDis = this.$$('#myFile');
                // var dropDis = this.$$('#dropdown');
                var data = {
                    name: this.select_file.name,
                    sheet: this.selectSheet
                };
                var check = this.validateForm('.checkValidate');
                if(check === true){
                    if(this.selectSheet !== undefined){
                        this.dispatchAction('SSO_PREVIEW_DATA', data);
                        // uploadDis.disabled = true;
                        // dropDis.disabled = true;
                    }else{
                        this.fire('toast',{status:'connectError',text:'กรุณาเลือกไฟล์ที่จะอัพโหลด',
                        callback:() => {
                        }})
                    }
                }else{
                     this.fire('toast',{status:'connectError',text:'กรุณาเลือกชีท',
                     callback: ()=> {
                     }})
                }
            },
            _insert: function () {
                var data = {
                    name: this.select_file.name,
                    sheet: this.selectSheet
                };
                this.fire('toast', {
                    status: 'openDialog',
                    text: 'ต้องการเพิ่มข้อมูลลงฐานข้อมูลใช่หรือไม่ ?',
                    confirmed: (result) => {
                        if (result === true) {
                            this.dispatchAction('SSO_INSERT', data);
                        } else {
                            this._cancle();
                        }
                    }
                })
            },
            // _cancle: function () {
            //     var uploadDis = this.$$('#myFile');
            //     uploadDis.disabled = false;
            //     // var dropDis = this.$$('#dropdown');
            //     // dropDis.disabled = false;
            //     this.list = [];
            // },
            _uploadFile: function (e) {
                // console.log(e.currentTarget.files)
                var file = e.currentTarget.files;
                this.dispatchAction('SSO_UPLOADFILE', file)
            },
            _listSheets: function (data) {
                var dropDis = this.$$('#dropdown');
                var checkObject = JSON.stringify(data) === JSON.stringify({});
                if (checkObject === false) {
                    this.dispatchAction('SSO_GET_SHEET', data.name);
                    dropDis.disabled = false;
                } else {
                    dropDis.disabled = true;
                }
            },
            _obData:function(data){
                if(data.length > 0){
                    return true
                }else{
                    return false
                }
            }
        })
    </script>

</dom-module>