<link rel="import" href="../../components/format-number-behavior.html">
<link rel="import" href="./fund-form.html">

<dom-module id="fund-manage">
    <template>
        <style is="custom-style" include="page-style iron-flex iron-flex-factors iron-flex-alignment">
            gl-form-input,
            vaadin-date-picker,
            gl-combo-box {
                margin-top: 15px;
            }
            .label_condition {
                font-weight: bold;
                text-align: right;
                margin-top: 35px;
                font-size: 20px;
            }
            .btn-bottom {
                margin: 30px;
            }
            paper-material {
                background-color: var(--gl-white-color);
            }
        </style>

        <div style="padding:20px 20px 50px 20px;">

            <paper-material elevation="1">

                <div class="horizontal end-justified layout">
                    <div style="margin:20px 20px 0px 0px;" hidden="{{!active}}">
                        <template is="dom-if" if={{statusApprove}}>
                            <paper-icon-button icon="icons:create" on-tap="manageForm"></paper-icon-button>
                            <paper-icon-button icon="delete" on-tap="_delete"></paper-icon-button>
                        </template>
                    </div>
                </div>
                <div>
                    <fund-form data="{{data}}"></fund-form>
                </div>
                <div class="horizontal end-justified layout btn-bottom">            
                        <template is="dom-if" if={{statusApprove}}>
                            <paper-button raised style="margin-bottom:15px;" class="gl-btn-success" on-tap="approve">อนุมัติใช้งาน</paper-button>
                        </template>
                </div>
            </paper-material>

        </div>
    </template>
    <script>
        Polymer({
            is: 'fund-manage',
            behaviors: [ReduxBehavior, FormatNumberBehavior],
            editForm:function(val){
                var foundForm = this.$$('fund-form');
                foundForm.editForm = val; // on || off edit form 
            },
            manageForm:function(){
                this.statusApprove = false;
                this.editForm(false)
            },
            _delete:function(){
                var id = this.$$('fund-form').data.id 
                this.dispatchAction('GROUP_FUND_DELETE',id)
            },
            reset:function(){
                this.$$('fund-form').resetComponents();
                this.statusApprove = true;
                this.editForm(true)
            }
        });
    </script>
</dom-module>