<link rel="import" href="./type-search/search-day.html">
<link rel="import" href="./type-search/search-week.html">
<link rel="import" href="./type-search/search-month.html">
<link rel="import" href="./type-search/search-year.html">

<link rel="import" href="./../../../components/month-behavior.html">

<link rel="import" href="./../../../../../bower_components/chart-elements/chart-bar.html">

<dom-module id="chart-search">
    <template>
        <style include="page-style iron-flex iron-flex-factors iron-flex-alignment gl-styles">
             :host {
                display: block;
            }
            
            .container {
                padding: 10px;
            }
            
            .combo-box {
                margin-top: -31px;
            }
            
            .date-picker {
                margin-top: -35px !important;
            }
            
            /*.auto-flex {
                width: 100%;
            }*/
        </style>
        <paper-material elevation="1">
            <div class="container">
                <div class="horizontal layout wrap">
                    <div class="flex-2 layout horizontal">
                        <div class="flex end-justified horizontal layout self-center">
                            ปีสวัสดิการ :
                        </div>
                        <div class="flex-3 center-justified horizontal layout self-center">
                            <!--[[setYear(years)]]-->
                            <gl-combo-box class="combo-box" placeholder="แสดง" value="{{dataSearch.year}}" item-label-path="year" item-value-path="year"
                                items="{{years}}"></gl-combo-box>
                        </div>
                    </div>
                    <div class="flex-2 layout horizontal">
                        <div class="flex end-justified horizontal layout self-center">
                            สวัสดิการ :
                        </div>
                        <div class="flex-3 center-justified horizontal layout self-center">
                            <gl-combo-box class="combo-box" placeholder="แสดง" value="{{dataSearch.group_id}}" item-label-path="group_welfare_name" item-value-path="id"
                                items="{{welfares}}"></gl-combo-box>
                        </div>
                    </div>
                    <div class="flex"></div>
                </div>
                <div class="horizontal layout wrap">
                    <div class="flex-2 layout horizontal">
                        <div class="flex end-justified horizontal layout self-center">
                            รูปแบบแสดง :
                        </div>
                        <div class="flex-3 center-justified horizontal layout self-center">
                            <gl-combo-box class="combo-box" placeholder="แสดง" value="{{dataSearch.showBy}}" item-label-path="label" item-value-path="id"
                                items="{{showBy}}" on-value-changed="setSearch"></gl-combo-box>
                        </div>
                    </div>
                    <div class="flex-2">

                        <iron-pages selected="{{componentsSearch}}">
                            <search-day class="auto-flex " data-search="{{dataSearch}}"></search-day>
                            <search-week class="auto-flex " data-search="{{dataSearch}}"></search-week>
                            <search-month class="auto-flex " data-search="{{dataSearch}}"></search-month>
                            <div></div>
                            <!--<search-year style="width: 100%;"></search-year>-->
                        </iron-pages>
                    </div>
                    <div class="flex"></div>
                </div>
                <div class="horizontal end-justified layout wrap">

                    <paper-button raised class="gl-bg-info gl-small" on-tap="serchWelfare">ค้นหา</paper-button>
                    <paper-button raised on-tap="printReport" class="gl-bg-primary gl-small">ออกรายงาน</paper-button>

                </div>
            </div>
            <div class="horizontal center-justified layout">
                <chart-bar data="[[charttt]]" style="width: 450px; height: 250px;"></chart-bar>
                <chart-bar data="[[people]]" style="width: 450px; height: 250px;"></chart-bar>
            </div>
        </paper-material>
    </template>
    <script>
        Polymer({
            is: 'chart-search',
            behaviors: [
                ReduxBehavior, MonthBehavior
            ],
            properties: {
                dataSearch: {
                    type: Object,
                    value: {}
                },
                years: {
                    statePath: 'userWelfare.list',
                    type: Array,
                    observer: 'setYear'
                },
                welfares: {
                    statePath: 'userWelfare.list_id',
                    type: Array,
                },
                showBy: {
                    type: Array,
                    value: [
                        { id: 'day', label: 'วัน' },
                        { id: 'week', label: 'สัปดาห์' },
                        { id: 'month', label: 'เดือน' },
                        { id: 'year', label: 'ปี' },
                    ]
                },
                date: {
                    statePath: 'dateDb.date',
                    type: Object,
                    observer: 'setDay'
                },
                componentsSearch: {
                    type: String,
                    value: 'week'
                },
                chart: {
                    type: String,
                    statePath: 'chart.chart',
                    observer: 'setChart'
                }
            },
            setYear(year) {
                try {
                    if (year.length != 0) {

                        this.set('dataSearch.year', year[year.length - 1].year)

                        // console.log(this.dataSearch);
                    }

                } catch (error) {
                    console.log(error);
                }
            },
            setDay(day) {
                try {

                    if (typeof day.date !== 'undefined' && day.date !== 'undefined' && day.date !== '') {
                        this.set('dataSearch.showBy', 'week')
                        if (this.dataSearch.showBy == 'week') {
                            this.set('componentsSearch', 1)
                            let days = day.date.split('T')[0]
                            let oldDay = day.dateOld_7.split('T')[0]
                            this.set('dataSearch.date_end', days)
                            this.set('dataSearch.date_start', oldDay)

                            newData = {
                                date_start: this.dataSearch.date_start,
                                date_end: this.dataSearch.date_end
                            }
                            this.dispatchAction('GET_CHART_WEEK_WITHOUT_GROUP', this.genUrl(newData))

                        }
                    }
                } catch (error) {
                    console.log(error);
                }
            },
            setSearch(e) {
                // console.log(e.detail.value);
                switch (e.detail.value) {
                    case 'day':
                        this.set('componentsSearch', 0)
                        break;
                    case 'week':
                        this.set('componentsSearch', 1)
                        break;
                    case 'month':
                        this.set('componentsSearch', 2)
                        break;
                    case 'year':
                        this.set('componentsSearch', 3)
                        break;
                    default:
                    // this.set('componentsSearch', 0)
                }
            },
            setChart(chart) {

                try {
                    let label = []
                    if (chart[0].id.length < 3) {
                        label = chart.map((ed) => ed.id)

                    } else {
                        label = chart.map((ed) => this.toThaiDate(ed.id))
                        // console.log(label[0].search('undefined'));
                        if (label[0].search('undefined') >= 0) {
                            label = chart.map((ed) => ed.id)
                        }
                    }
                    this.charttt = {
                        labels: label,
                        datasets: [
                            {
                                label: "จำนวนเงิน",
                                backgroundColor: "rgba(220,220,220,0.2)",
                                borderColor: "rgba(220,220,220,1)",
                                borderWidth: 1,
                                data: chart.map((ed) => ed.bath)
                            },
                        ]
                    };
                    this.people = {
                        labels: label,
                        datasets: [
                            {
                                label: "จำนวนคนใช้งาน",
                                backgroundColor: "rgba(220,220,220,0.2)",
                                borderColor: "rgba(220,220,220,1)",
                                borderWidth: 1,
                                data: chart.map((ed) => ed.emp_use)
                            },
                            {
                                label: "จำนวนคนมีสิทธิ์",
                                backgroundColor: "rgba(220,220,220,0.2)",
                                borderColor: "rgba(220,220,220,1)",
                                borderWidth: 1,
                                data: chart.map((ed) => ed.emp_pass)
                            },
                        ]
                    };
                } catch (e) {

                }

            },
            serchWelfare() {
                console.log(this.dataSearch);
                let newData = {}
                switch (this.dataSearch.showBy) {
                    case 'day':
                        if (this.checkUndefined(this.dataSearch.group_id)) {
                            newData = {
                                year: this.dataSearch.year,
                                date_start: this.dataSearch.date_end,
                                group_id: this.dataSearch.group_id
                            }
                        } else {
                            newData = {
                                year: this.dataSearch.year,
                                date_start: this.dataSearch.date_end,
                            }
                        }
                        this.dispatchAction('GET_CHART_DAY_WITHOUT_GROUP', this.genUrlYearToThai(newData))


                        break;
                    case 'week':
                        if (this.checkUndefined(this.dataSearch.group_id)) {
                            newData = {
                                year: this.dataSearch.year,
                                date_start: this.dataSearch.date_start,
                                date_end: this.dataSearch.date_end,
                                group_id: this.dataSearch.group_id
                            }
                        } else {
                            newData = {
                                year: this.dataSearch.year,

                                date_start: this.dataSearch.date_start,
                                date_end: this.dataSearch.date_end
                            }

                        }
                        this.dispatchAction('GET_CHART_WEEK_WITHOUT_GROUP', this.genUrlYearToThai(newData))

                        break;
                    case 'month':
                        if (this.checkUndefined(this.dataSearch.group_id)) {
                            newData = {
                                year: this.dataSearch.year,
                                month: this.dataSearch.month + 1,
                                group_id: this.dataSearch.group_id
                            }
                        } else {
                            newData = {
                                year: this.dataSearch.year,
                                month: this.dataSearch.month + 1
                            }
                            if (newData.month < 10)
                                newData.month = '0' + newData.month

                        }
                        this.dispatchAction('GET_CHART_MONTH_WITHOUT_GROUP', this.genUrlYearToThai(newData))

                        break;
                    case 'year':
                        if (this.checkUndefined(this.dataSearch.group_id)) {
                            newData = {
                                year: this.dataSearch.year,
                                group_id: this.dataSearch.group_id
                            }
                        } else {
                            newData = {
                                year: this.dataSearch.year,
                            }
                        }
                        this.dispatchAction('GET_CHART_YEAR_WITHOUT_GROUP', this.genUrlYearToThai(newData))
                        // this.set('componentsSearch', 3)
                        break;
                    default:
                }
                // console.log(newData);
            },
            checkUndefined(data) {
                return (typeof data !== 'undefined' && data !== 'undefined' && data !== '')
            },
            printReport() {
                console.log(1111);
                switch (this.dataSearch.showBy) {
                    case 'day':
                        if (this.checkUndefined(this.dataSearch.group_id)) {
                            newData = {
                                year: this.dataSearch.year,
                                date_start: this.dataSearch.date_end,
                                group_id: this.dataSearch.group_id
                            }
                            window.open('./api/report/report2_1?' + this.genUrlYearToThai(newData));
                        } else {
                            newData = {
                                year: this.dataSearch.year,
                                date_start: this.dataSearch.date_end,
                            }
                            window.open('./api/report/report2?' + this.genUrlYearToThai(newData));
                        }
                        break;
                    case 'week':
                        if (this.checkUndefined(this.dataSearch.group_id)) {
                            newData = {
                                year: this.dataSearch.year,
                                date_start: this.dataSearch.date_start,
                                date_end: this.dataSearch.date_end,
                                group_id: this.dataSearch.group_id
                            }
                            window.open('./api/report/report5_1?' + this.genUrlYearToThai(newData));
                        } else {
                            newData = {
                                year: this.dataSearch.year,

                                date_start: this.dataSearch.date_start,
                                date_end: this.dataSearch.date_end
                            }
                            window.open('./api/report/report5?' + this.genUrlYearToThai(newData));

                        }
                        break;
                    case 'month':
                        if (this.checkUndefined(this.dataSearch.group_id)) {
                            newData = {
                                year: this.dataSearch.year,
                                month: this.dataSearch.month + 1,
                                group_id: this.dataSearch.group_id
                            }
                            if (newData.month < 10)
                                newData.month = '0' + newData.month
                            window.open('./api/report/report3_1?' + this.genUrlYearToThai(newData));
                        } else {
                            newData = {
                                year: this.dataSearch.year,
                                month: this.dataSearch.month + 1
                            }
                            if (newData.month < 10)
                                newData.month = '0' + newData.month

                            // console.log(newData);
                            window.open('./api/report/report3?' + this.genUrlYearToThai(newData));
                        }
                        break;
                    case 'year':
                        // if (this.checkUndefined(this.dataSearch.group_id)) {
                        //     newData = {
                        //         year: this.dataSearch.year,
                        //         group_id: this.dataSearch.group_id
                        //     }
                        //      window.open('./api/report/report3?' + this.genUrlYearToThai(newData));
                        // } else {
                            newData = {
                                year: this.dataSearch.year,
                            }
                             window.open('./api/report/report6?' + this.genUrlYearToThai(newData));
                        // }
                        break;
                    default:

                }
            }
        });
    </script>
</dom-module>