<link rel="import" href="./../../../../bower_components/vaadin-grid/vaadin-grid.html">

<link rel="import" href="./../../components/validateFormBehaviors.html">

<link rel="import" href="./../../components/format-number-behavior.html">
<link rel="import" href="./../../components/common-logic.html">

<link rel="import" href="./admin-dialog-use-all-welfare.html">

<dom-module id="list-employees">
    <template>
        <style include="page-style flex-style">
             :host {
                display: block;
            }

            * {
                font-family: 'CSChatThaiUI', sans-serif;
                -webkit-font-smoothing: antialiased;
            }

            vaadin-grid {
                height: 580px;
            }

            paper-fab {
                position: fixed;
                right: 25px;
                bottom: 25px;
                color: #fff;
                --paper-fab-background: var(--paper-light-blue-500);
                --paper-fab-keyboard-focus-background: var(--paper-light-blue-900);
            }
            .title{
                text-align: center;
                font-size: 30px;
            }
        </style>

        <template is="dom-if" if={{isEnabled}}>
            <div class="title">
                ไม่มีข้อมูล
            </div>

        </template>
        <template is="dom-if" if={{!isEnabled}}>

            <vaadin-grid id="material" items='{{list_employees}}'>

                <vaadin-grid-column width="100px" flex-grow="0" hidden="{{setCheck}}">
                    <template class="header ">
                        <div class="text-center">
                            <paper-checkbox checked="{{statusCheck}}" on-tap="selectAll"></paper-checkbox>#</div>
                    </template>
                    <template>
                        <div class="text-center">
                            <paper-checkbox checked="{{item.check}}" on-tap="useWelfare" disabled="{{checkboxUse(item.admin_use,item.budget_balance)}}"></paper-checkbox>
                        </div>
                    </template>
                    <template class="footer">
                        <div class="text-center">ลำดับ</div>
                    </template>
                </vaadin-grid-column>


                <vaadin-grid-column width="80px" flex-grow="0">
                    <template class="header ">
                        <div class="text-center">ลำดับ</div>
                    </template>
                    <template>
                        <div class="text-center cursor" on-tap="chagePageDetail" data="[[item]]">[[_Obindex(index)]]</div>
                    </template>
                    <template class="footer">
                        <div class="text-center">ลำดับ</div>
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column width="150px" flex-grow="0">
                    <template class="header">
                        <div class="text-center">เลขประจำตัวประชาชน</div>
                    </template>
                    <template>
                        <div class="text-center cursor" on-tap="chagePageDetail" data="[[item]]">[[item.personal_id]]
                        </div>
                    </template>
                    <template class="footer">
                        <div class="text-center">เลขประจำตัวประชาชน
                        </div>
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column width="400px">
                    <template class="header">
                        <div class="text-left">ชื่อ - นามสกุล
                        </div>
                    </template>
                    <template>
                        <div class=" cursor" on-tap="chagePageDetail" data="[[item]]">[[item.prefix_name]] [[item.firstname]] [[item.lastname]]
                        </div>
                    </template>
                    <template class="footer">
                        <div class="text-left">ชื่อ - นามสกุล
                        </div>
                    </template>
                </vaadin-grid-column>

                <vaadin-grid-column width="300px">
                    <template class="header">
                        <div class="text-left">ประเภทพนักงาน 
                        </div>
                    </template>
                    <template>
                        <div class=" cursor" on-tap="chagePageDetail" data="[[item]]">
                            <p style="white-space: nowrap">[[item.type_employee_name]]</p>
                        </div>
                    </template>
                    <template class="footer">
                        <div class="text-left">ประเภทพนักงาน
                        </div>
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column width="70px">
                    <template class="header">
                        <div class="text-center">อายุ (ปี)
                        </div>
                    </template>
                    <template>
                        <div class=" cursor text-right" on-tap="chagePageDetail" data="[[item]]">[[item.birthdate_cal]]
                        </div>
                    </template>
                    <template class="footer">
                        <div class="text-center">อายุ (ปี)
                        </div>
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column width="90px">
                    <template class="header">
                        <div class="text-center">อายุงาน (ปี)
                        </div>
                    </template>
                    <template>
                        <div class=" cursor text-right" on-tap="chagePageDetail" data="[[item]]">[[item.start_work_date_cal]]
                        </div>
                    </template>
                    <template class="footer">
                        <div class="text-center">อายุงาน (ปี)
                        </div>
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column width="180px">
                    <template class="header">
                        <div class="text-center">จำนวนเงินที่ใช้ได้ (บาท)
                        </div>
                    </template>
                    <template>
                        <div class=" cursor text-right" on-tap="chagePageDetail" data="[[item]]">[[formatNumber(item.budget_cover)]]
                        </div>
                    </template>
                    <template class="footer">
                        <div class="text-center">จำนวนเงินที่ใช้ได้ (บาท)
                        </div>
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column width="150px">
                    <template class="header">
                        <div class="text-center">ยอดการใช้ (บาท)
                        </div>
                    </template>
                    <template>
                        <div class=" cursor text-right" on-tap="chagePageDetail" data="[[item]]">[[formatNumber(item.budget_use)]]
                        </div>
                    </template>
                    <template class="footer">
                        <div class="text-center">ยอดการใช้ (บาท)
                        </div>
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column width="150px">
                    <template class="header">
                        <div class="text-center">คงเหลือ (บาท)
                        </div>
                    </template>
                    <template>
                        <div class=" cursor text-right" on-tap="chagePageDetail" data="[[item]]">[[formatNumber(item.budget_balance)]]
                        </div>
                    </template>
                    <template class="footer">
                        <div class="text-center">คงเหลือ (บาท)
                        </div>
                    </template>
                </vaadin-grid-column>
            </vaadin-grid>
            <div hidden="{{paperFab}}">
                <paper-fab icon="send" on-tap="confirmSend"></paper-fab>
            </div>
            <paper-dialog id="welfare_budget" modal>
                <admin-dialog-use-all-welfare id="admin-dialog-use-all-welfare" data="{{dataDialog}}" disabled="[[disabled]]"></admin-dialog-use-all-welfare>
                <div class="flex horizontal end-justified layout buttons">
                    <paper-button raised class="gl-btn-default" dialog-dismiss>ปิด</paper-button>
                    <paper-button raised class="gl-btn-primary" on-tap="getwelfare" dialog-confirm autofocus>ใช้งาน</paper-button>
                </div>
            </paper-dialog>
        </template>
    </template>
    <script>
        Polymer({
            is: 'list-employees',
            behaviors: [ReduxBehavior, nylonBehavior, FormatNumberBehavior, MonthBehavior, commonLogic, ValidateFormBehavior],
            properties: {
                list_employees: {
                    statePath: 'users.lisyUserhistoryWelfare',
                    observer: 'setLoad'
                },
                dataCheck: {
                    type: Object,
                    // observer:'checkDepart'
                },
                setCheck: {
                    type: Boolean,
                    value: false
                },
                paperFab: {
                    type: Boolean,
                    value: true
                }
            },
            // observers: [
            //     'checkDepart(dataCheck.*)',
            // ],
            checkDepart(data) {
                // console.log(this.dataCheck);
                try {
                    const checkNull = (data) => data !== ''
                    if (checkNull(this.dataCheck.group_id)
                        && checkNull(this.dataCheck.faculty_id)
                        && checkNull(this.dataCheck.department_id)) {
                        // console.log(1111);
                        this.set('setCheck', false)
                        // console.log(this.setCheck);
                    } else {
                        this.set('setCheck',true )
                        // console.log(2222);
                        // console.log(this.setCheck);
                    }
                } catch (e) {

                }

            },
            setLoad(data) {
                // console.log(111);
                this.fire('toast', {
                    status: 'success', text: 'โหลดสำเร็จ',
                    callback: () => {
                    }
                });
                let xx = data.find((set, index) => set.admin_use === true)
                // console.log(xx);
                if (xx === undefined) {
                    // console.log(1);
                    this.checkDepart(this.dataCheck)
                    this.set('setCheck', true)

                    
                } else {
                    // console.log(2);
                    this.set('setCheck', false)
                    this.checkDepart(this.dataCheck)
                }

                this.set('paperFab', true)
                if (data.length) {
                    this.set('isEnabled', false)
                } else {
                    this.set('isEnabled', true)
                }

            },
            chagePageDetail(e) {
                var item = e.currentTarget.data;
                var id = item.id;
                // console.log(item);
                window.open('/admin-manage/' + id);
            },
            checkboxUse(adminUse, budget_balance) {
                // ส่งจริง เปิดใช้
                if (adminUse && budget_balance !== 0)
                    return false
                return true

            },
            selectAll(e) {
                // console.log(this.statusCheck);
                this.fire('toast', { status: 'load' })
                this.list_employees.map((set, index) => {
                    // console.log(this.list_employees[index].budget_balance);
                    if (this.list_employees[index].budget_balance !== 0)
                        this.set('list_employees.' + index + '.check', this.statusCheck)
                    // console.log(this.list_employees[index].budget_balance);
                })
                this.set('paperFab', !this.statusCheck)
                // console.log(this.paperFab);
                this.fire('toast', { status: 'load' })
            },
            useWelfare(e) {
                let newArray = this.list_employees.find((set, index) => set.check === true)
                // console.log(111);
                // console.log(newArray);
                if (newArray !== undefined) {
                    this.set('paperFab', false)
                } else {
                    this.set('paperFab', true)
                }


            },
            confirmSend(e) {
                let data = new Object();
                let newArray = this.list_employees.find((set, index) => set.check === true)
                newArray = JSON.parse(JSON.stringify(newArray))
                data.budget = newArray.budget_cover
                data.budget_cover = newArray.budget_balance
                data.budget_use = newArray.budget_balance
                data.status = true
                data.onetime = newArray.admin_use
                data.history_detail = ''
                this.$$('#welfare_budget').open()
                this.dataDialog = data;
                // this.dispatchAction('EMPLOYEE_USE_SELETE_WELFARE', this.dataDialog);
            },
            getwelfare() {
                // this.usewelfareProp.document_ids = this.$$('admin-dialog-use-all-welfare').keepFile()
                // console.log();
                let dia = this.$$('admin-dialog-use-all-welfare').dataSend()
                let newData = this.usewelfareProp
                let dataDialog = JSON.parse(JSON.stringify(dia))
                let newArray = JSON.parse(JSON.stringify(this.list_employees.filter((set, index) => set.check === true)))
                newArray.map((item) => {
                    item.budget_balance = dataDialog.budget - dataDialog.budget_use
                    item.budget_cover = dataDialog.budget_cover
                    item.budget_use = dataDialog.budget_use
                    item.date_approve = dataDialog.date_approve + 'T00:00:00+07:00'
                    item.date_use = dataDialog.date_use + 'T00:00:00+07:00'
                    item.emp_id = item.id
                    item.document_ids = new Array()
                    item.status = true
                    item.history_detail = dataDialog.history_detail
                })
                this.$$('#welfare_budget').close()
                // console.log(this.$$('#admin-dialog-use-all-welfare').validateForm('.required'));
                if (this.$$('#admin-dialog-use-all-welfare').validateForm('.required')) {
                    newArray.map((data) => {
                        // console.log(data);
                        this.dispatchAction('EMPLOYEE_USE_WELFARE', data);
                    })
                    // this.dispatchAction('EMPLOYEE_USE_WELFARE', newArray);
                    this.dispatchAction('USERS_LIST_HISTORY_WELFARE', this.genUrl(this.dataCheck))
                    this.set('paperFab', true)
                }
            },

        });
    </script>
</dom-module>