<link rel="import" href="./../../../../bower_components/vaadin-grid/vaadin-grid.html">

<link rel="import" href="./../../components/validateFormBehaviors.html">

<link rel="import" href="./../../components/format-number-behavior.html">
<link rel="import" href="./../../components/common-logic.html">

<link rel="import" href="./admin-dialog-use-all-welfare.html">

<link rel="import" href="./../../../../bower_components/paper-tooltip/paper-tooltip.html">

<dom-module id="list-employees">
    <template>
        <style include="page-style flex-style">
             :host {
                display: block;
            }

            * {
                font-family: 'CSChatThaiUI', sans-serif;
                -webkit-font-smoothing: antialiased;
            }

            vaadin-grid {
                height: 580px;
            }

            paper-fab {
                position: fixed;
                right: 25px;
                bottom: 25px;
                color: #fff;
                --paper-fab-background: var(--paper-light-blue-500);
                --paper-fab-keyboard-focus-background: var(--paper-light-blue-900);
            }

            paper-fab.fabCancel {
                position: fixed;
                right: 25px;
                bottom: 25px;
                color: #fff;
                --paper-fab-background: var(--paper-red-500);
                --paper-fab-keyboard-focus-background: var(--paper-light-red-900);
            }

            .title {
                text-align: center;
                font-size: 30px;
            }

            .custom {
                width: 70px;
            }
        </style>
        <!--{{dataCheck.group_name}}-->
        <template is="dom-if" if={{!setCheck}}>
            <gl-form-dropdown-menu always-float-label label="รูปแบบการดู" placeholder="รูปแบบการดู" style="margin-top:15px;width:100%;"
                on-tap="text">
                <paper-menu class="dropdown-content" attr-for-selected="value" selected="{{type_seleted}}">
                    <paper-item value="">ทั้่งหมด</paper-item>
                    <paper-item value="use">คนที่ใช้สวัสดิการไปแล้ว</paper-item>
                    <paper-item value="notuse">คนที่ยังไม่ได้ใช้สวัสดิการ</paper-item>

                </paper-menu>
            </gl-form-dropdown-menu>

        </template>
        <!--{{type_seleted}}//{{setCheck}}-->
        <template is="dom-if" if={{isEnabled}}>
            <div class="title">
                ไม่มีข้อมูล
            </div>
        </template>
        <!--{{setCheck}}-->
        <template is="dom-if" if={{!isEnabled}}>
            <!--{{checkNoUse}}//-->
            <vaadin-grid id="material" items='{{list_employees}}'>

                <vaadin-grid-column width="100px" flex-grow="0" hidden="{{setCheck}}">
                    <template class="header ">
                        <div class="text-center">

                            <template is="dom-if" if={{checkNoUse}}>
                                <paper-checkbox checked="{{statusCheck}}" on-tap="selectAll" hidden="{{checkType(type_seleted)}}"></paper-checkbox>

                            </template>


                            <template is="dom-if" if={{checkType(type_seleted)}}>
                                <paper-checkbox checked="{{statusNot}}" on-tap="selectAllCalcel"></paper-checkbox>
                            </template>
                            #
                        </div>
                    </template>
                    <template>
                        <div class="text-center">
                            <paper-checkbox checked="{{item.check}}" on-tap="useWelfare" hidden="{{checkboxUse(item.group_use,item.budget_balance)}}"></paper-checkbox>
                            <template is="dom-if" if={{checkType(type_seleted)}}>
                                <paper-checkbox checked="{{item.checkForNotUse}}" on-tap="notuseWelfare"></paper-checkbox>
                            </template>
                        </div>
                    </template>
                    <template class="footer">
                        <div class="text-center"></div>
                    </template>
                </vaadin-grid-column>


                <vaadin-grid-column width="80px" flex-grow="0">
                    <template class="header ">
                        <div class="text-center">ลำดับ</div>
                    </template>
                    <template>
                        <div class="text-center cursor" on-tap="chagePageDetail" data="[[item]]">[[_Obindex(index)]]</div>
                    </template>
                    <template class="footer">
                        <div class="text-center">ลำดับ</div>
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column width="150px" flex-grow="0">
                    <template class="header">
                        <div class="text-center">เลขประจำตัวประชาชน</div>
                    </template>
                    <template>
                        <div class="text-center cursor" on-tap="chagePageDetail" data="[[item]]">[[item.personal_id]]
                        </div>
                    </template>
                    <template class="footer">
                        <div class="text-center">เลขประจำตัวประชาชน
                        </div>
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column width="400px">
                    <template class="header">
                        <div class="text-left">ชื่อ - นามสกุล
                        </div>
                    </template>
                    <template>
                        <div class=" cursor" on-tap="chagePageDetail" data="[[item]]">[[item.prefix_name]] [[item.firstname]] [[item.lastname]]
                        </div>
                    </template>
                    <template class="footer">
                        <div class="text-left">ชื่อ - นามสกุล
                        </div>
                    </template>
                </vaadin-grid-column>

                <vaadin-grid-column width="300px">
                    <template class="header">
                        <div class="text-left">ประเภทพนักงาน
                        </div>
                    </template>
                    <template>
                        <div class=" cursor" on-tap="chagePageDetail" data="[[item]]">
                            <p style="white-space: nowrap">[[item.type_employee_name]]</p>
                        </div>
                    </template>
                    <template class="footer">
                        <div class="text-left">ประเภทพนักงาน
                        </div>
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column width="70px">
                    <template class="header">
                        <div class="text-center">อายุ (ปี)
                        </div>
                    </template>
                    <template>
                        <div class=" cursor text-right" on-tap="chagePageDetail" data="[[item]]">[[item.birthdate_cal]]
                        </div>
                    </template>
                    <template class="footer">
                        <div class="text-center">อายุ (ปี)
                        </div>
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column width="90px">
                    <template class="header">
                        <div class="text-right">อายุงาน (ปี)
                        </div>
                    </template>
                    <template>
                        <div class=" cursor text-right" on-tap="chagePageDetail" data="[[item]]">[[item.start_work_date_cal]]
                        </div>
                    </template>
                    <template class="footer">
                        <div class="text-right">อายุงาน (ปี)
                        </div>
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column width="180px">
                    <template class="header">
                        <div class="text-right">จำนวนเงินที่ใช้ได้ (บาท)
                        </div>
                    </template>
                    <template>
                        <div class=" cursor text-right" on-tap="chagePageDetail" data="[[item]]">[[formatNumber(item.budget_cover)]]
                        </div>
                    </template>
                    <template class="footer">
                        <div class="text-right">จำนวนเงินที่ใช้ได้ (บาท)
                        </div>
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column width="150px">
                    <template class="header">
                        <div class="text-right">ยอดการใช้ (บาท)
                        </div>
                    </template>
                    <template>
                        <div class=" cursor text-right" on-tap="chagePageDetail" data="[[item]]">[[formatNumber(item.budget_use)]]
                        </div>
                    </template>
                    <template class="footer">
                        <div class="text-right">ยอดการใช้ (บาท)
                        </div>
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column width="150px">
                    <template class="header">
                        <div class="text-right">คงเหลือ (บาท)
                        </div>
                    </template>
                    <template>
                        <div class=" cursor text-right" on-tap="chagePageDetail" data="[[item]]">[[formatNumber(item.budget_balance)]]
                        </div>
                    </template>
                    <template class="footer">
                        <div class="text-right">คงเหลือ (บาท)
                        </div>
                    </template>
                </vaadin-grid-column>
            </vaadin-grid>
            <div hidden="{{paperFab}}">
                <paper-fab id="confirmSend" icon="send" on-tap="confirmSend"></paper-fab>
                <paper-tooltip position="left" class="custom" for="confirmSend">ใช้สวัสดิการ</paper-tooltip>
            </div>
            <div hidden="{{paperFabCancel}}">
                <paper-fab id="confirmCancel" class="fabCancel" icon="send" on-tap="confirmCancel"></paper-fab>
                <paper-tooltip position="left" class="custom" for="confirmCancel">ยกเลิกสวัสดิการ</paper-tooltip>
            </div>
            <paper-dialog id="welfare_budget" modal>
                <admin-dialog-use-all-welfare id="admin-dialog-use-all-welfare" data="{{dataDialog}}" disabled="[[disabled]]"></admin-dialog-use-all-welfare>
                <div class="flex horizontal end-justified layout buttons">
                    <paper-button raised class="gl-btn-default" dialog-dismiss>ปิด</paper-button>
                    <paper-button raised class="gl-btn-primary" on-tap="getwelfare" dialog-confirm autofocus>ใช้งาน</paper-button>
                </div>
            </paper-dialog>
        </template>
    </template>
    <script>
        Polymer({
            is: 'list-employees',
            behaviors: [ReduxBehavior, nylonBehavior, FormatNumberBehavior, MonthBehavior, commonLogic, ValidateFormBehavior],
            properties: {
                list_employees: {
                    statePath: 'users.lisyUserhistoryWelfare',
                    observer: 'setLoad'
                },
                list_employees_old: {
                    statePath: 'users.lisyUserhistoryWelfare',
                },
                dataCheck: {
                    type: Object,
                    // observer:'checkDepart'
                },
                setCheck: {
                    type: Boolean,
                    value: false
                },
                paperFab: {
                    type: Boolean,
                    value: true
                },
                paperFabCancel: {
                    type: Boolean,
                    value: true
                },
                oldData: {
                    type: Array,
                    val: []
                }
            },
            observers: [
                'getSelectType(type_seleted)',
            ],
            text() {
                // console.log(111);
                this.$$('#material').notifyResize()
            },
            getSelectType(type_seleted) {
                // all
                // use
                // notuse
                let newEmp = []
                let data = JSON.parse(JSON.stringify(this.list_employees_old))
                switch (type_seleted) {
                    case 'notuse':
                        newEmp = data.filter((emp) => {
                            return emp.budget_balance !== 0
                        })
                        this.set('list_employees', newEmp)
                        // this.set('setCheck', false)
                        this.set('paperFab', true)
                        break;
                    case 'use':
                        newEmp = data.filter((emp) => {
                            return emp.budget_balance === 0
                        })
                        this.set('list_employees', newEmp)
                        // this.set('setCheck', false)
                        this.set('paperFabCancel', true)
                        break;
                    default:
                        // this.set('setCheck', false)
                        this.set('list_employees', this.list_employees_old)
                        this.set('paperFabCancel', true)
                        break;
                }
                this.set('setCheck', false)
            },
            checkDepart(data) {
                // //console.log(this.dataCheck);
                try {

                    const checkNull = (data) => data !== ''
                    if (checkNull(this.dataCheck.group_id)
                        && checkNull(this.dataCheck.faculty_id)
                        && checkNull(this.dataCheck.department_id)) {
                        // //console.log(1111);
                        // this.setLoad(this.list_employees)
                        this.set('setCheck', false)
                        // //console.log(this.setCheck);
                    } else {
                        // this.setLoad(this.list_employees)
                        this.set('setCheck', true)
                        // //console.log(2222);
                        // //console.log(this.setCheck);
                    }
                } catch (e) {

                }

            },
            setLoad(data) {
                try {
                    // console.log(this.$$('#material'));
                    this.fire('toast', {
                        status: 'success', text: 'โหลดสำเร็จ',
                        callback: () => {
                        }
                    });
                    // //console.log(data);
                    let xx = data.find((set, index) => set.group_use === true)

                    const checkNull = (data) => data !== '' && data !== undefined
                    // this.oldData = JSON.parse(JSON.stringify(data));
                    if (xx === undefined) {
                        this.set('setCheck', true)
                    } else {
                        // //console.log(this.dataCheck.type_employee_id);
                        if (checkNull(this.dataCheck.group_id)
                            && checkNull(this.dataCheck.faculty_id)
                            && checkNull(this.dataCheck.department_id)
                        ) {
                            this.set('setCheck', false)
                            // //console.log(1);
                        } else {
                            this.set('setCheck', true)
                            // //console.log(2);
                        }
                        // this.checkDepart(this.dataCheck)
                    }
                    // this.set('paperFab', true)
                    if (data.length) {
                        this.set('isEnabled', false)
                    } else {
                        this.set('isEnabled', true)
                    }
                    let sum = data.find((set, index) => set.budget_balance > 0)
                    // //console.log(sum);
                    if (checkNull(sum)) {
                        this.set('checkNoUse', true)
                    } else {
                        this.set('checkNoUse', false)
                    }
                    // this.getSelectType(this.type_seleted) 
                } catch (e) {

                }
            },
            chagePageDetail(e) {
                var item = e.currentTarget.data;
                var id = item.id;
                // //console.log(item);
                window.open('/admin-manage/' + id);
            },
            checkboxUse(adminUse, budget_balance) {
                // ส่งจริง เปิดใช้
                if (adminUse && budget_balance !== 0)
                    return false
                return true

            },
            selectAll(e) {
                // //console.log(this.statusCheck);
                this.fire('toast', { status: 'load' })
                this.list_employees.map((set, index) => {
                    // //console.log(this.list_employees[index].budget_balance);
                    if (this.list_employees[index].budget_balance !== 0)
                        this.set('list_employees.' + index + '.check', this.statusCheck)
                    // //console.log(this.list_employees[index].budget_balance);
                })
                this.set('paperFab', !this.statusCheck)
                // //console.log(this.paperFab);
                this.fire('toast', { status: 'load' })
            },
            selectAllCalcel(e) {
                this.fire('toast', { status: 'load' })
                this.list_employees.map((set, index) => {
                    // //console.log(this.list_employees[index].budget_balance);
                    if (this.list_employees[index].budget_balance === 0)
                        this.set('list_employees.' + index + '.checkForNotUse', this.statusNot)
                    // //console.log(this.list_employees[index].budget_balance);
                })
                this.set('paperFabCancel', !this.statusNot)
                // //console.log(this.paperFab);
                this.fire('toast', { status: 'load' })
            },
            useWelfare(e) {
                let newArray = this.list_employees.find((set, index) => set.check === true)
                // //console.log(111);
                // //console.log(newArray);
                if (newArray !== undefined) {
                    this.set('paperFab', false)
                } else {
                    this.set('paperFab', true)
                }
            },
            notuseWelfare(e) {
                let newArray = this.list_employees.find((set, index) => set.checkForNotUse === true)
                // //console.log(newArray);
                if (newArray !== undefined) {
                    this.set('paperFabCancel', false)
                } else {
                    this.set('paperFabCancel', true)
                }
            },
            checkType(type_seleted) {
                if (type_seleted === 'use')
                    return true
                return false

            },
            confirmCancel() {
                this.fire('toast', {
                    status: 'openDialog',
                    text: 'กรุณายืนยันการยกเลิกการทำรายการ ?',
                    confirmed: (result) => {
                        if (result == true) {
                            let newArray = this.list_employees.filter((set, index) => set.checkForNotUse === true)
                            let newArray2 = []
                            newArray.map((item) => {
                                // //console.log(item.history_welfare_id);
                                newArray2.push({ id: item.history_welfare_id })
                            })
                            // //console.log(newArray2);
                            this.dispatchAction('USER_REJECT_USE_WELFARE', newArray2)
                                .then((res) => {
                                    this.dispatchAction('USERS_LIST_HISTORY_WELFARE', this.genUrl(this.dataCheck))
                                    this.type_seleted = 'all'
                                    this.set('paperFabCancel', true)
                                })
                        }
                    }
                })

            },
            confirmSend(e) {
                let data = new Object();
                let date = new Date().toISOString().split('T')[0]
                let newArray = this.list_employees.find((set, index) => set.check === true)
                newArray = JSON.parse(JSON.stringify(newArray))
                // //console.log(date);
                data = {
                    title: this.dataCheck.group_name,
                    budget: newArray.budget_cover,
                    budget_cover: newArray.budget_balance,
                    budget_use: newArray.budget_balance,
                    status: true,
                    onetime: newArray.admin_use,
                    date_use: date,
                    date_approve: date,
                    description_detail: ''
                }

                this.$$('#welfare_budget').open()
                // //console.log(data);
                this.set('dataDialog', data)
            },
            getwelfare() {
                // this.usewelfareProp.document_ids = this.$$('admin-dialog-use-all-welfare').keepFile()
                let dia = this.$$('admin-dialog-use-all-welfare').dataSend()
                let newData = this.usewelfareProp
                let dataDialog = JSON.parse(JSON.stringify(dia))

                let newEmprom = new Promise((resolve, reject) => {
                    let newEmp = []
                    this.list_employees.map((set, index) => {
                        if (set.check === true) {
                            newEmp.push({
                                id: set.id,
                                group_id: set.group_id
                            })
                        }
                    })
                    resolve(newEmp)
                });

                newEmprom.then((successMessage) => {
                    // console.log(successMessage);
                    this.dispatchAction('EMPLOYEE_USE_WELFARE_GROUP', successMessage)
                    this.dispatchAction('USERS_LIST_HISTORY_WELFARE', this.genUrl(this.dataCheck))
                    this.set('paperFab', true)
                    this.type_seleted = 'all'
                    // this.$$('#material').notifyResize()
                });

                // console.log(newArray);
                // console.log(dataDialog);

                // console.log(newEmp);
                // newArray.map((item) => {
                //     item.budget_balance = 0
                //     item.budget_cover = dataDialog.budget_cover
                //     item.budget_use = dataDialog.budget_cover
                //     item.date_approve = dataDialog.date_approve + 'T00:00:00+07:00'
                //     item.date_use = dataDialog.date_use + 'T00:00:00+07:00'
                //     item.emp_id = item.id
                //     item.personal_id = item.personal_id
                //     item.document_ids = new Array()
                //     item.status = true
                //     item.description_detail = dataDialog.description_detail
                // })
                // // //console.log(newArray);

                // // //console.log(this.$$('#admin-dialog-use-all-welfare').validateForm('.required'));
                // if (this.$$('#admin-dialog-use-all-welfare').validateForm('.required')) {
                //     this.fire('toast', {
                //         status: 'openDialog',
                //         text: 'กรุณายืนยันการทำรายการ ?',
                //         confirmed: (result) => {
                //             if (result == true) {
                //                 this.$$('#welfare_budget').close()
                //                 newArray.map((data) => {
                //                     // //console.log(data);
                //                     this.dispatchAction('EMPLOYEE_USE_WELFARE_GROUP', data);
                //                 })
                //                 // this.dispatchAction('EMPLOYEE_USE_WELFARE', newArray);
                //                 this.dispatchAction('USERS_LIST_HISTORY_WELFARE', this.genUrl(this.dataCheck))
                //                 this.set('paperFab', true)
                //                 this.type_seleted = 'all'
                //             }
                //         }
                //     })

                // }
            },

        });
    </script>
</dom-module>