<link rel="import" href="./../../../../bower_components/vaadin-grid/vaadin-grid.html">

<link rel="import" href="./../../components/format-number-behavior.html">
<link rel="import" href="./../../components/common-logic.html">
<dom-module id="list-employees">
    <template>
        <style include="page-style flex-style">
             :host {
                display: block;
            }

            * {
                font-family: 'CSChatThaiUI', sans-serif;
                -webkit-font-smoothing: antialiased;
            }

            vaadin-grid {
                height: 700px;
            }
        </style>
        <vaadin-grid id="material" items='{{list_employees}}'>
            <!--<vaadin-grid-column width="100px" flex-grow="0">
                                <template class="header ">
                                    <div class="text-center"><paper-checkbox checked="{{dataCheck}}" on-tap="selectAll"></paper-checkbox>เลือกทั้งหมด</div>
                                </template>
                                <template>
                                    <div class="text-center">
                                        <paper-checkbox checked="{{item.check}}" disabled="{{!item.admin_use}}"></paper-checkbox> 
                                    </div>
                                </template>
                                <template class="footer">
                                    <div class="text-center">ลำดับ</div>
                                </template>
                            </vaadin-grid-column>-->
            <vaadin-grid-column width="80px" flex-grow="0">
                <template class="header ">
                    <div class="text-center">ลำดับ</div>
                </template>
                <template>
                    <div class="text-center cursor" on-tap="chagePageDetail" data="[[item]]">[[_Obindex(index)]]</div>
                </template>
                <template class="footer">
                    <div class="text-center">ลำดับ</div>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="150px" flex-grow="0">
                <template class="header">
                    <div class="text-center">รหัสประชาชน</div>
                </template>
                <template>
                    <div class="text-center cursor" on-tap="chagePageDetail" data="[[item]]">[[item.personal_id]]
                    </div>
                </template>
                <template class="footer">
                    <div class="text-center">รหัสประชาชน
                    </div>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="400px">
                <template class="header">
                    <div class="text-center">ชื่อ - นามสกุล
                    </div>
                </template>
                <template>
                    <div class=" cursor" on-tap="chagePageDetail" data="[[item]]">[[item.prefix_name]] [[item.firstname]] [[item.lastname]]
                    </div>
                </template>
                <template class="footer">
                    <div class="text-center">ชื่อ - นามสกุล
                    </div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="300px">
                <template class="header">
                    <div class="text-center">ประเภทพนักงาน
                    </div>
                </template>
                <template>
                    <div class=" cursor" on-tap="chagePageDetail" data="[[item]]">
                        <p style="white-space: nowrap">[[item.type_employee_name]]</p>
                    </div>
                </template>
                <template class="footer">
                    <div class="text-center">ประเภทพนักงาน
                    </div>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="70px">
                <template class="header">
                    <div class="text-center">อายุ
                    </div>
                </template>
                <template>
                    <div class=" cursor text-right" on-tap="chagePageDetail" data="[[item]]">[[item.birthdate_cal]]
                    </div>
                </template>
                <template class="footer">
                    <div class="text-center">อายุ
                    </div>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="70px">
                <template class="header">
                    <div class="text-center">อายุงาน
                    </div>
                </template>
                <template>
                    <div class=" cursor text-right" on-tap="chagePageDetail" data="[[item]]">[[item.start_work_date_cal]] 
                    </div>
                </template>
                <template class="footer">
                    <div class="text-center">อายุงาน
                    </div>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="150px">
                <template class="header">
                    <div class="text-center">จำนวนเงินที่ใช้ได้
                    </div>
                </template>
                <template>
                    <div class=" cursor text-right" on-tap="chagePageDetail" data="[[item]]">[[formatNumber(item.budget_cover)]]
                    </div>
                </template>
                <template class="footer">
                    <div class="text-center">จำนวนเงินที่ใช้ได้
                    </div>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="150px">
                <template class="header">
                    <div class="text-center">ยอดการใช้
                    </div>
                </template>
                <template>
                    <div class=" cursor text-right" on-tap="chagePageDetail" data="[[item]]">[[formatNumber(item.budget_use)]]
                    </div>
                </template>
                <template class="footer">
                    <div class="text-center">ยอดการใช้
                    </div>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="150px">
                <template class="header">
                    <div class="text-center">คงเหลือ
                    </div>
                </template>
                <template>
                    <div class=" cursor text-right" on-tap="chagePageDetail" data="[[item]]">[[formatNumber(item.budget_balance)]]
                    </div>
                </template>
                <template class="footer">
                    <div class="text-center">คงเหลือ
                    </div>
                </template>
            </vaadin-grid-column>
        </vaadin-grid>
    </template>
    <script>
        Polymer({
            is: 'list-employees',
            behaviors: [ReduxBehavior, nylonBehavior,FormatNumberBehavior,commonLogic],
            properties: {
                list_employees: {
                    statePath: 'users.lisyUserhistoryWelfare',
                    observer: 'setYear'
                },
            },
            setYear(data){
                // console.log(data);
            },
            chagePageDetail(e){
                var item = e.currentTarget.data;
                var id = item.id;
                window.open('https://localhost:3000/admin-manage/' + id);
            }

        });
    </script>
</dom-module>