
<link rel="import" href="./../../../../bower_components/iron-input/iron-input.html">

<dom-module id="search-setting">
    <template>
        <style include="page-style iron-flex iron-flex-factors iron-flex-alignment">
             :host {
                display: block;
            }

            gl-form-dropdown-menu,
            vaadin-date-picker,
            gl-form-input,
            gl-combo-box {
                width: 100%;
                text-align: left;
            }

            vaadin-date-picker {
                margin-top: 0.5px;
            }
        </style>
        <div class="layout horizontal start-justified">
            <!--<div class="flex-2" style=" margin-right: 30px">{{getGroupWelfare(data.year)}}
                <iron-input><input placeholder="type=date" type="date" value="{{data.datetest::input}}"></iron-input>
            </div>-->

            <div class="flex-2" style=" margin-right: 30px">{{getWelareName(data.group_id)}}
                <gl-combo-box label="สวัสดิการ" placeholder="สวัสดิการทั้งหมด" items="{{list_welfare}}" item-label-path="label" item-value-path="id"
                    value="{{data.group_id}}">
                    <template>
                        [[item.label]]
                    </template>
                </gl-combo-box>
            </div>
            <div class="flex" style=" margin-right: 30px">
                <gl-combo-box label="สถานภาพ" placeholder="สถานภาพทั้งหมด" items="{{list_active}}" item-label-path="active_name" item-value-path="id"
                    value="{{data.active_id}}">
                    <template>
                        [[item.active_name]]
                    </template>
                </gl-combo-box>
            </div>
            <div class="flex">
                <gl-combo-box label="ประเภทบุคคล" placeholder="ประเภทบุคคลทั้งหมด" items="{{list_type_employee}}" item-label-path="type_employee_name"
                    item-value-path="id" value="{{data.type_employee_id}}">
                    <template>
                        [[item.type_employee_name]]
                    </template>
                </gl-combo-box>
            </div>
        </div>
        <div class="layout horizontal start-justified">
            <div class="flex-2" style=" margin-right: 30px">{{getdepartment(data.faculty_id)}}
                <gl-combo-box label="คณะ" placeholder="คณะทั้งหมด" items="{{list_faculty}}" item-label-path="faculty_name" item-value-path="id"
                    value="{{data.faculty_id}}">
                    <template>
                        [[item.faculty_name]]
                    </template>
                </gl-combo-box>
            </div>
            <div class="flex-2">
                <gl-combo-box label="ภาควิชา" placeholder="ภาควิชาทั้งหมด" items="{{list_department}}" item-label-path="department_name"
                    item-value-path="id" value="{{data.department_id}}">
                    <template>
                        [[item.department_name]]
                    </template>
                </gl-combo-box>
            </div>

        </div>
        <div class="layout horizontal start-justified">
            <!--<div class="flex" style=" margin-right: 30px">
                <vaadin-date-picker always-float-label label="วันที่" value="{{data.date_start}}"></vaadin-date-picker>
            </div>
            <div style="margin: 31px 10px;">ถึง</div>
            <div class="flex" style=" margin-right: 30px">
                <vaadin-date-picker always-float-label label="วันที่" value="{{data.date_end}}"></vaadin-date-picker>
            </div>
            <div class="flex-2">-->
            <div class="flex-2" style=" margin-right: 30px">
                <gl-form-input always-float-label label="เลขประจำตัวประชาชน" placeholder="เลขประจำตัวประชาชน" value="{{data.personal_id}}">
                </gl-form-input>
            </div>
            <div class="flex-2">
                <!--<gl-form-input always-float-label label="ชื่อ-นามสกุล" placeholder="ชื่อ-นามสกุล" value="{{data.personal_name}}">
                </gl-form-input>-->
            </div>
        </div>
        </div>
        <div class="layout horizontal start-justified">

        </div>
        <div class="layout horizontal center-justified">
            <paper-button class="gl-btn-info" on-tap="search">
                <iron-icon icon="search"></iron-icon>
                ค้นหา</paper-button>
        </div>
    </template>
    <script>
        Polymer({
            is: 'search-setting',
            behaviors: [ReduxBehavior, nylonBehavior, MonthBehavior],
            properties: {
                list_welfare: {
                    statePath: 'userWelfare.list_id',
                    observer: 'setCombo'
                },
                list_faculty: {
                    statePath: 'commonData.faculty'
                },
                list_active:{
                    statePath: 'commonData.active'
                },
                list_department: {
                    // statePath: 'commonData.department'
                },
                list_type_employee: {
                    statePath: 'commonData.type_employee'
                },

                data: {
                    type: Object,
                    value: {},
                    notify: true
                }
            },
            setCombo(data) {
                // //console.log(data);
                let newWelFare = data.map((el) => {
                    el.label = el.group_welfare_name
                })
                return newWelFare
            },
            getWelareName(group_id){
                
                const getName = (arrays, id) => arrays.find((wel) => wel.id === id)
                const checkUndefined = (value) => value !== undefined && value !== ''
                let name = ''
                if (checkUndefined(group_id)) 
                     name = getName(this.list_welfare,group_id).label
               this.set('data.group_name',name)
                // //console.log(name);
            },
            setYear: function (year) {
                // //console.log(year);
                try {
                    if (year !== '') {
                        let time = new Date()
                        let today = new Date()
                        this.set('data.year', year[0].year)
                        this.set('data.date_start', new Date(time.setHours(time.getHours() - 168)).toISOString().split('T')[0])
                        this.set('data.date_end', today.toISOString().split('T')[0])
                        // this.dispatchAction('USERS_LIST_HISTORY_WELFARE', this.genUrl(this.data))
                        // //console.log(1111); //console.log(2222);
                    }

                    // req.query.date_start || 
                    // req.query.date_end = req.query.date_end || time.toISOString().split('T')[0]
                } catch (error) {

                }

            },
            // getGroupWelfare: function (year) {
            //     //    //console.log(this.data);
            //     // //console.log(year);
            //     if (year !== undefined) {
            //         this.dispatchAction('WELFARE_LISTS');
            //     }

            // },
            getdepartment: function (facultyId) {
                try {
                    this.set('data.department_id', '')
                    let newDepartment = this.list_faculty.find((fid) => fid.id === facultyId)
                    this.set('list_department', newDepartment.department)
                } catch (e) {

                }

            },
            search: function () {
                // //console.log(this.data);
                // //console.log(this.genUrl(this.data));
                try {
                    this.fire('toast', { status: 'load' })

                    this.dispatchAction('USERS_LIST_HISTORY_WELFARE', this.genUrl(this.data))
                } catch (e) {

                }


            }
        });
    </script>
</dom-module>