<link rel="import" href="../../components/upload-file/upload-file.html">
<dom-module id="dialog-use-welfare">
    <style include="page-style gl-styles gl-size iron-flex iron-flex-factors iron-flex-alignment">
            :host {
                display: block;
            }
        </style>
    <template>
        
         <div class="flex">
             <h2 id="welfare_name">[[data.title]]</h2>
        </div>
        <div class="flex horizontal start-justified layout">
            <div class="flex-2 label">
                <label for="total_budget">จำนวนเงินคงเหลือ :</label>
            </div>
            <div class="flex-2">
                 <gl-form-input id="total_budget" no-label-float disabled format-number="on" value="[[data.budget_cover]]">
                     <div suffix>บาท</div>
                 </gl-form-input>
            </div> 
            <div class="flex label">
                <label for="emp_id">ใช้จำนวน :</label>
            </div>
            <div class="flex-2">
                [[changeString2Num(data.*,'use_budget')]]
                [[checkBudget(data.*)]]
                 <gl-form-input id="use_budget" no-label-float allowed-pattern="[0-9||,||.]" format-number="on" value="{{data.use_budget}}"  disabled="[[disabled]]" class="required" required><div suffix>บาท</div></gl-form-input>
            </div> 
        </div>
        
        <!--<div class="flex horizontal start-justified layout">
            <div class="flex-2 label">
                <label for="total_budget">วันที่ใช้งาน :</label>
            </div>
            <div class="flex-2">
                 <vaadin-date-picker always-float-label  value="{{data.date_use}}"></vaadin-date-picker>
                 </gl-form-input>
            </div> 
            <div class="flex label">
            </div>
            <div class="flex-2">
            </div> 
        </div>-->
        <div class="flex horizontal start-justified layout">
            *ใช้เงินได้มากสุดตามจำนวนที่คงเหลือ
        </div>

        <upload-file
        target="/api/employee/[[data.emp_id]]/upload"
        accept="application/pdf"
        ref-path="employee.document"
        emp-id="[[data.emp_id]]"
        welfare-id="[[data.welfare_id]]">
        </upload-file>
        
    </template>
    <script>
        Polymer({
            is: 'dialog-use-welfare',
            behaviors:[ReduxBehavior,FormatNumberBehavior,commonLogic,ValidateFormBehavior],
            properties:{
                data:{
                    type:Object,
                    notify:true,
                },
            },
            keepFile(){
                var newItem = this.$$('upload-file').listFiles;
                return newItem.map((item)=>{
                    return item.id;
                })

            },
            checkBudget(e){
                try {
                    //  console.log(this.$$('#use_budget').validateForm('.required'));
                    // console.log(this.data.use_budget);
                    // console.log(this.data.budget_cover);
                        if(this.data.use_budget > this.data.budget_cover)
                            this.set('data.use_budget',this.data.budget_cover)
                        if(this.data.onetime){
                            this.set('data.use_budget',this.data.budget_cover)
                            console.log(111);
                        }
                            
                    }
                    catch(err) {
                        // document.getElementById("demo").innerHTML = err.message;
                    } 
            },
        });
    </script>
</dom-module>
