<dom-module id="dialog-use-welfare">
    <style include="page-style gl-styles gl-size iron-flex iron-flex-factors iron-flex-alignment">
         :host {
            display: block;
        }
    </style>
    <template>

        <div class="flex">
            <h2 id="welfare_name">สวัสดิการ : [[data.title]]</h2>
        </div>
        <div class="flex horizontal start-justified layout">
            <div class="flex">
                <gl-form-textarea rows="2" label="รายละเอียด" placeholder="" value="{{data.description}}" name="description_detail" disabled></gl-form-textarea>
            </div>
        </div>
        <div class="flex horizontal start-justified layout">
            <div class="flex-2 label">
                <label for="total_budget">ส่วนของมหาวิทยาลัย :</label>
            </div>
            <div class="flex-2">
                <gl-form-input id="total_budget" no-label-float disabled format-number="on" value="[[data.budget_cover]]">
                    <div suffix>[[checkTypeFund(data.type_group)]]</div>
                </gl-form-input>
            </div>
            <div class="flex-2 label">
                <label for="total_budget">ส่วนของพนักงาน :</label>
            </div>
            <div class="flex-2">
                <gl-form-input id="total_budget" no-label-float disabled format-number="on" value="[[data.budget_emp_cover]]">
                    <div suffix>[[checkTypeFund(data.type_group)]]</div>
                </gl-form-input>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'dialog-use-welfare',
            checkTypeFund(type_group){
                // console.log(type_group);
                if(type_group === 'fund') return '%'
                return 'บาท'
            }
        });
    </script>
</dom-module>