
<dom-module id="dialog-use-welfare">
    <style include="page-style gl-styles gl-size iron-flex iron-flex-factors iron-flex-alignment">
            :host {
                display: block;
            }
        </style>
    <template>
        
        <div class="flex">
            <h2 id="welfare_name">สวัสดิการ : [[data.title]]</h2>
        </div>
        <div class="flex horizontal start-justified layout">
            <div class="flex">
                <gl-form-textarea rows="2" label="รายละเอียด" placeholder="" value="{{data.description}}" name="description_detail" disabled></gl-form-textarea>
            </div>
        </div>
        
    </template>
    <script>
        Polymer({
            is: 'dialog-use-welfare',
        });
    </script>
</dom-module>
