<link rel="import" href="./../../components/common-logic.html">

<link rel="import" href="./../../components/month-behavior.html">
<dom-module id="fund-rvd">
    <template>
        <style include="page-style gl-styles gl-size iron-flex iron-flex-factors iron-flex-alignment">
             :host {
                display: block;
            }
            
            .head-text {
                font-size: var(--font-size-h4);
                margin: 15px 15px 15px 15px;
            }
            
            table.gl-table-default {
                width: 98%;
                border: 1px solid #ddd;
                /*margin: 15px;*/
            }
        </style>
        <gl-form-panel-body label="" set-padding="10px" set-border="1px">
            <div class="head-text">
                รายชื่อกองทุนสำรองเลี้ยงชีพ
            </div>
            <div class="content horizontal center-justified layout">
                <table class="gl-table-default">
                    <thead class="table-head">
                        <tr>
                            <th>ลำดับ</th>
                            <th>ชื่อ</th>
                            <th>รายละเอียด</th>
                            <th>กระทำการ</th>
                        </tr>
                    </thead>
                    <tbody class="table-body">
                        <template is="dom-repeat" items={{forRegrvp}}>
                            <tr>
                                <td>[[_Obindex(index)]]</td>
                                <td>[[item.rvd_name]]</td>
                                <td>[[item.description]]</td>
                                <td>
                                    <paper-button class="gl-btn-primary" data="[[item]]" on-tap="regFund" raised>สมัคร</paper-button>
                                </td>
                            </tr>
                        </template>
                        <template is="dom-if" if={{_ObIsHave(forRegrvp)}}>
                            <tr>
                                <td colspan="4">ไม่มีข้อมูล</td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </gl-form-panel-body>
        <gl-form-panel-body label="" set-padding="10px" set-border="1px">
            <div class="head-text">
                รายชื่อกองทุนสำรองเลี้ยงชีพที่สมัครแล้ว
            </div>
            <div class="content horizontal center-justified layout">
                <table class="gl-table-default">
                    <thead class="table-head">
                        <tr>
                            <th>ลำดับ</th>
                            <th>ชื่อ</th>
                            <th>รายละเอียด</th>
                            <th>วันที่เป็นสมาชิก</th>
                            <th>กระทำการ</th>
                        </tr>
                    </thead>
                    <tbody class="table-body">
                        <!-- ชื่อที่สมัคร -->
                        <!--<template is="dom-if" if={{_ObIsHave(data.history_welfare)}}>-->
                        <template is="dom-repeat" items={{data}}>
                            <tr>
                                <td>[[_Obindex(index)]]</td>
                                <td>[[item.rvd_name]]</td>
                                <td>[[item.description]]</td>
                                <td>[[toThaiDate(item.date_approve)]]</td>
                                <td>

                                    <template is="dom-if" if={{isActive(item.status)}}>
                                        <!--<paper-button raised class="gl-btn-info" data="[[item]]" on-tap="fundOut">ออกจากกองทุน</paper-button>
                                        <paper-button raised class="gl-btn-danger" data="[[item]]" on-tap="leaveWork">เปลี่ยนกองทุน</paper-button>-->
                                        <paper-menu-button>
                                            <paper-icon-button icon="settings" class="dropdown-trigger"></paper-icon-button>
                                            <paper-menu class="dropdown-content">
                                                <paper-item data="[[item]]" on-tap="fundOut">ออกจากกองทุน</paper-item>
                                                <paper-item data="[[item]]" on-tap="leaveWork">เปลี่ยนกองทุน</paper-item>
                                            </paper-menu>
                                        </paper-menu-button>
                                    </template>
                                    <template is="dom-if" if={{!isActive(item.status)}}>
                                        -
                                    </template>

                                </td>
                            </tr>
                        </template>
                        <template is="dom-if" if={{_ObIsHave(data)}}>
                            <tr>
                                <td colspan="6">ไม่มีข้อมูล</td>
                            </tr>
                        </template>

                    </tbody>
                </table>
            </div>
        </gl-form-panel-body>



    </template>
    <script>
        Polymer({
            is: 'fund-rvd',
            behaviors: [ReduxBehavior, commonLogic, MonthBehavior],
            properties: {
                data: {
                    statePath: 'users.rvp_fund',
                },
                forRegrvp: {
                    statePath: 'fundRvd.dataList',
                },
            },
            regFund(e) {
                this.fire('toast', {
                    status: 'openDialog',
                    text: 'ต้องการสมัครกองทุนนี้ใช่หรือไม่ ?',
                    confirmed: (result) => {
                        if (result == true) {
                            console.log(this.personalId);
                            console.log(e.currentTarget.data.id);
                            let obj = {
                                personal_id: this.personalId,
                                rvd_id: e.currentTarget.data.id
                            }
                            this.dispatchAction('USER_RVP_SIGNUP', obj, this.personalId);
                            // this.dispatchAction('USER_RVP_FUND', this.personalId);
                        }
                    }
                })


                // this.dispatchAction('USER_RVP_FUND', this.personalId);
                // this.dispatchAction('USER_RVP_SIGNUP',obj)
                // this.set('fundSeleted',e.currentTarget.id)
            },
            leaveWork(e) {
                this.fire('toast', {
                    status: 'openDialog',
                    text: 'ต้องการเปลี่ยนกองทุนใช่หรือไม่ ?',
                    confirmed: (result) => {
                        if (result == true) {
                            console.log(e.currentTarget.data.id);
                            let obj = {
                                id: e.currentTarget.data.id
                            }
                            this.dispatchAction('USER_RVP_LEAVE_FUND', obj, this.personalId);
                        }
                    }
                })

                // this.dispatchAction('USER_RVP_FUND', this.personalId);
            },
            fundOut(e) {
                this.fire('toast', {
                    status: 'openDialog',
                    text: 'ต้องการออกจากกองทุนใช่หรือไม่ ?',
                    confirmed: (result) => {
                        if (result == true) {
                            console.log(e.currentTarget.data.id);
                            let obj = {
                                id: e.currentTarget.data.id
                            }
                            this.dispatchAction('USER_RVP_FUND_OUT', obj, this.personalId);
                            // this.dispatchAction('USER_RVP_FUND', this.personalId);
                        }
                    }
                })

            },
            isActive(active) {

                return active == 'active'
            }
        });
    </script>
</dom-module>