
<link rel="import" href="./user-fund.html">

<dom-module id="fund-list">
    <template>
        <style include="page-style gl-styles gl-size">
            :host {
                display: block;
            }
        </style>
<user-fund></user-fund>
        <table class="gl-table-default">
            <thead class="table-head">
                <tr>
                    <th rowspan="2" style="width:5%;">ลำดับ</th>
                    <th rowspan="2" style="width:30%;">ชื่อกองทุน</th>
                    <th colspan="2" style="width:25%;">ปี 2559</th>
                    <!--<th>ชื่อกองทุน</th>-->
                    <th colspan="2" style="width:25%;">ปี 2560</th>
                    <th rowspan="2" style="width:15%;">รวม</th>
                </tr>
                <tr>
                    <!--<th>ลำดับ</th>-->
                    <!--<th>ชื่อกองทุน</th>-->
                    <th>ลูกจ้าง</th>
                    <th>มหาวิทยาลัย</th>
                    <!--<th>ชื่อกองทุน</th>-->
                    <th>ลูกจ้าง</th>
                    <th>มหาวิทยาลัย</th>
                    <!--<th>รวม</th>-->
                </tr>
            </thead>
            <tbody class="table-body">
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
            </tbody>
        </table>
    </template>
    <script>
        Polymer({
            is: 'fund-list'
        });
    </script>
</dom-module>
