<link rel="import" href="./user-welfare.html">

<link rel="import" href="./fund-pay.html">

<link rel="import" href="./fund-rvd.html">

<dom-module id="user-detail">
    <template>
        <style include="page-style  gl-size iron-flex iron-flex-factors iron-flex-alignment">
             :host {
                display: block;
            }
            
            fieldset {
                margin: 15px;
            }
            
            main {
                min-width: 320px;
                /*max-width: 1000px;*/
                padding: 5px;
                margin: 0 auto;
                background: #fff;
            }
            
            section {
                display: none;
                padding: 20px 0 0;
                border-top: 1px solid #ddd;
            }
            
            input {
                display: none;
            }
            
            label {
                display: inline-block;
                margin: 0 0 -1px;
                padding: 15px 25px;
                font-weight: 600;
                text-align: center;
                color: #bbb;
                border: 1px solid transparent;
            }
            
            label:before {
                font-family: fontawesome;
                font-weight: normal;
                margin-right: 10px;
            }
            /*label[for*='1']:before { content: '\f1cb'; }
            label[for*='2']:before { content: '\f17d'; }*/
            
            label:hover {
                color: #888;
                cursor: pointer;
            }
            
            input:checked+label {
                color: #555;
                border: 1px solid #ddd;
                border-top: 3px solid orange;
                border-bottom: 1px solid #fff;
            }
            
            #tab1:checked~#content1,
            #tab2:checked~#content2,
            #tab3:checked~#content3 {
                display: block;
            }
        </style>
        <gl-form-panel set-padding="10px 20px 10px 20px" set-border="1px">
            <gl-form-panel-head label="" set-padding="10px" set-border="1px">
                <paper-button class="gl-btn-info" on-tap="editData" raised>ดูข้อมูลส่วนตัว</paper-button>
            </gl-form-panel-head>
            <gl-form-panel-body label="" set-padding="10px" set-border="1px">
                <fieldset>
                    <legend>ข้อมูลพนักงาน :</legend>
                    <div class="flex content horizontal start-justified layout">
                        <div class="flex">ชื่อ : [[data.prefix_name]] [[data.firstname]] [[data.lastname]]</div>
                        <div class="flex">รหัสพนักงาน : [[data.emp_no]]</div>
                    </div>
                    <div class="flex content horizontal start-justified layout">
                        <div class="flex">สถานภาพการทำงาน : [[data.active_name]]</div>
                        <div class="flex">ตำแหน่ง : [[data.position_name]]</div>
                    </div>
                    <div class="flex content horizontal start-justified layout">
                        <div class="flex">ภาควิชา : [[data.department_name]]</div>
                        <div class="flex">คณะ : [[data.faculty_name]]</div>
                    </div>
                </fieldset>
                <div class="content horizontal start-justified layout">
                    [[setYear(year)]]
                    <gl-combo-box no-label-float items="{{year}}" value="{{seleterYear}}" item-label-path="year" item-value-path="year" on-value-changed="gerYearWelfare"></gl-combo-box>
                </div>
            </gl-form-panel-body>
            <main>
                <input id="tab1" type="radio" name="tabs" checked>
                <label for="tab1">สวัสดิการ</label>

                <!--//พนักงานมหาวิยาลัย ถึงจะเห็น-->

                <template is="dom-if" if=[[data.rvd_status]]>
                    <input id="tab2" type="radio" name="tabs">
                    <label for="tab2">กองทุนสำรองเลี้ยงชีพ</label>
                </template>



                <input id="tab3" type="radio" name="tabs">
                <label for="tab3">กองทุน</label>

                <section id="content1">
                    <user-welfare data="[[data]]" year="[[seleterYear]]"></user-welfare>
                </section>
                <template is="dom-if" if=[[data.rvd_status]]>
                    [[_obRvpFund(data)]]
                    <section id="content2">
                        <fund-rvd personal-id=[[data.personal_id]]></fund-rvd>
                        <!--<fund-pay></fund-pay>-->
                    </section>
                </template>
                <section id="content3">
                    <fund-pay></fund-pay>
                </section>
            </main>


        </gl-form-panel>
    </template>
    <script>
        Polymer({
            is: 'user-detail',
            behaviors: [ReduxBehavior],
            properties: {
                data: {
                    statePath: 'users.select_welefares',
                },
                year: {
                    statePath: 'userWelfare.list',
                    type: Number,
                },
            },
            setYear(year) {
                try {
                    this.set('seleterYear', year[year.length - 1].year)
                    // console.log(year[year.length-1].year);
                    // console.log(this.seleterYear);
                } catch (error) {

                }
            },
            _obRvpFund(data) {
                // console.log(data);
                this.dispatchAction('USER_RVP_FUND', data.personal_id)
                this.dispatchAction('USER_RVP_FUND_LIST')
                this.dispatchAction('FUND_RVD_GET_LIST',true)
            },
            gerYearWelfare(e) {
                if (e.detail.value) {
                    this.dispatchAction('USER_GET_WELFARES', window.location.pathname.split('/')[2], true, e.detail.value - 543);
                    // this.dispatchAction('USER_RVP_FUND',
                }

            },
            editData() {
                this.fire('_get-user-edit', this.data)
                // this.dispatchAction('USER_SELECT',e.detail);
            },
        });
    </script>
</dom-module>