<link rel="import" href="./../../components/format-number-behavior.html">
<link rel="import" href="./../../components/common-logic.html">

<link rel="import" href="./../../components/month-behavior.html">

<link rel="import" href="./../../components/validateFormBehaviors.html">

<link rel="import" href="./user-history-welfare.html">

<link rel="import" href="./dialog-use-welfare.html">
<link rel="import" href="./../../../../bower_components/vaadin-grid/vaadin-grid.html">

<link rel="import" href="./../../../../bower_components/vaadin-grid/vaadin-grid-column-group.html">
<dom-module id="user-welfare">
    <style include="page-style gl-styles gl-size iron-flex iron-flex-factors iron-flex-alignment">
         :host {
            display: block;
        }

        .head-text {
            font-size: var(--font-size-h4);
            margin: 15px 15px 15px 15px;
        }

        table.gl-table-default {
            width: 98%;
            border: 1px solid #ddd;
            /*margin: 15px;*/
        }

        .label,
        .inpit {
            font-size: var(--font-size-h5)
        }

        .label {
            text-align: right;
            padding-right: 5px;
        }

        .left {
            text-align: left;
        }

        .right {
            text-align: right;
        }

        fieldset {
            margin: 15px;
        }

        main {
            /*min-width: 320px;*/
            /*max-width: 1000px;*/
            padding: 5px;
            margin: 0 auto;
        }

        section {
            display: none;
            /*padding: 20px 0 0;*/
            border-top: 1px solid #ddd;
        }

        input {
            display: none;
        }

        label {
            display: inline-block;
            margin: 0 0 -1px;
            padding: 15px 25px;
            font-weight: 600;
            text-align: center;
            color: #bbb;
            border: 1px solid transparent;
            background: #D5D8DC;
        }

        label:before {
            font-family: fontawesome;
            font-weight: normal;
            margin-right: 10px;
        }
        /*label[for*='1']:before { content: '\f1cb'; }
            label[for*='2']:before { content: '\f17d'; }*/

        label:hover {
            color: #888;
            cursor: pointer;
        }

        input:checked+label {
            color: #555;
            border: 1px solid #ddd;
            border-top: 3px solid orange;
            border-bottom: 1px solid #fff;
            background: #fff;
        }

        #tab1:checked~#content1,
        #tab2:checked~#content2 {
            display: block;
        }

        user-history-welfare,
        vaadin-grid {
            /*margin-top: 15px;*/
            width: 98%;
            margin: 10px;
        }
    </style>
    <template>
        <div class="content horizontal end-justified layout">
            <paper-button raised on-tap="getWelfare">ดูสวัสดิการที่มีสิทธิ์</paper-button>
        </div>

        <main>
            <input id="tab1" type="radio" name="tabs" checked>
            <label for="tab1">สวัสดิการที่ได้รับสิทธิ</label>

            <input id="tab2" type="radio" name="tabs">
            <label for="tab2">รายการสวัสดิการที่ขอใช้สิทธิ</label>

            <section id="content1">
                <gl-form-panel-body label="" set-padding="10px" set-border="1px">
                    <!--<div class="head-text">
                        สวัสดิการที่ได้รับสิทธิ
                    </div>-->
                    <div class="content horizontal center-justified layout">
                        <vaadin-grid id="material" aria-label="Column Grouping Example" items={{data.group_welfares}}>
                            <vaadin-grid-column width="50px" flex-grow="0">
                                <template class="header ">
                                    <div class="text-center">ลำดับ</div>
                                </template>
                                <template>
                                    <div class="text-center">[[_Obindex(index)]]
                                    </div>
                                </template>
                            </vaadin-grid-column>

                            <vaadin-grid-column width="450px" flex-grow="0">
                                <template class="header ">สวัสดิการที่สามารถใช้ได้
                                </template>
                                <template>[[item.group_welfare_name]] [[item.welfare_name]] [[checkOnce(item.onetime_use)]]

                                </template>
                            </vaadin-grid-column>

                            <vaadin-grid-column-group>
                                <template class="header">
                                    <div class="text-center">จำนวนเงิน (บาท)</div>
                                </template>

                                <vaadin-grid-column width="calc(10% - 20px)">
                                    <template class="header">
                                        <div class="text-right">มีสิทธิ</div>
                                    </template>
                                    <template>
                                        <div class="text-right">[[formatNumber(item.budget)]]</div>
                                    </template>
                                </vaadin-grid-column>

                                <vaadin-grid-column width="calc(10% - 20px)">
                                    <template class="header">
                                        <div class="text-right">ใช้สิทธิ</div>
                                    </template>
                                    <template>
                                        <div class="text-right">[[formatNumber(item.budget_use)]]</div>
                                    </template>
                                </vaadin-grid-column>
                                <vaadin-grid-column width="calc(10% - 20px)">
                                    <template class="header">
                                        <div class="text-right">คงเหลือ</div>
                                    </template>
                                    <template>
                                        <div class="text-right">[[formatNumber(item.budget_balance)]]</div>
                                    </template>
                                </vaadin-grid-column>
                            </vaadin-grid-column-group>

                        </vaadin-grid>
                    </div>
                </gl-form-panel-body>



            </section>

            <section id="content2">
                <div class="content horizontal center-justified layout">
                    <user-history-welfare data={{data.history_welfare}}></user-history-welfare>
                </div>
            </section>
        </main>
    </template>
    <script>
        Polymer({
            is: 'user-welfare',
            behaviors: [ReduxBehavior, FormatNumberBehavior, commonLogic, MonthBehavior],
            properties: {
                // data:{
                //     statePath:'users.select_welefares'
                // },
                usewelfareProp: {
                    statePath: 'users.select_use_welefares',
                    type: Object,
                },
                dataSelete: {
                    type: Object,
                    value: { budget: 0 }
                },
                // year :{
                //     statePath:'userWelfare.list',
                //     type:Number,
                // },
                disabled: {
                    type: Boolean,
                    value: false
                }
            },
            checkOnce(status) {
                // console.log(status);
                switch (status) {
                    case true:
                        return 'ครั้งเดียว'
                        break;
                    case false:
                        return 'หลายครั้ง'
                        break;
                    default:

                }
            },
            _Obindex(index) {
                return index + 1
            },
            downloadFile(e) {
                // console.log(e.currentTarget.data);
                window.open('/api/file/download/' + e.currentTarget.data.id)
            },
            getWelfare() {
                // /api/report/emp_welfare?id=000183c1-23db-4af2-937f-3e359400e33c
                window.open('/api/report/emp_welfare?id=' + this.data.id);
            }
        });
    </script>
</dom-module>