<link rel="import" href="./../../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="./../../components/format-number-behavior.html">
<link rel="import" href="./../../components/common-logic.html">
<dom-module id="user-history-welfare">
    <template>
        <style include="page-style gl-styles">
             :host {
                display: block;
            }

            vaadin-grid {
                height: 480px;
            }
        </style>
        <vaadin-grid id="material" items="{{data}}">

            <vaadin-grid-column width="50px" flex-grow="0">
                <template class="header ">
                    <div class="text-center">ลำดับ</div>
                </template>
                <template>
                    <div class="text-center">[[_Obindex(index)]]
                    </div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="450px" flex-grow="0">
                <template class="header">สวัสดิการที่ใช้</template>
                <template>[[item.description]]</template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">
                    <div class="text-right">จำนวนเงินที่ใช้
                    </div>
                </template>
                <template>
                    <div class="text-right">[[formatNumber(item.budget_use)]]
                    </div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">
                    <div class="text-right">วันที่ใช้งาน </div>
                </template>
                <template>
                    <div class="text-center">[[toCCDate(item.date_use)]]
                    </div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">
                    <div class="text-center">วันที่อนุมัติ</div>
                </template>
                <template>
                    <div class="text-center">[[toCCDate(item.date_approve)]]
                    </div>
                </template>
            </vaadin-grid-column>

            <!--<vaadin-grid-column>
                <template class="header">สถานะ</template>
                <template>[[item.status]]</template>
            </vaadin-grid-column>-->
            <vaadin-grid-column width="350px" flex-grow="0" resizable>
                <template class="header">รายละเอียด
                </template>
                <template>
                    [[item.description_detail]]
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="350px" flex-grow="0" resizable>
                <template class="header">
                    <div class="text-center">เอกสารแนบ</div>
                </template>
                <template>
                    <div class="text-center">
                        <template is="dom-if" if={{item.file}}>
                            <template is="dom-repeat" items={{item.file}}>
                                <a href="" on-tap=downloadFile data="[[item]]">[[item.name]]</a>
                            </template>
                        </template>
                        <template is="dom-if" if={{_ObIsHave(item.file)}}>
                            <div style="text-align: center;">-</div>
                        </template>
                    </div>
                </template>
            </vaadin-grid-column>

        </vaadin-grid>
    </template>
    <script>
        Polymer({
            is: 'user-history-welfare',
            behaviors: [ReduxBehavior, FormatNumberBehavior, nylonBehavior,
                commonLogic, uploadAction, commonDataAction,
                MonthBehavior, ValidateFormBehavior],
            downloadFile(e) {
                // console.log(e.currentTarget.data);
                window.open('/api/file/download/' + e.currentTarget.data.id);
                // this.dispatchAction('UPLOAD_GET_FILE',e.currentTarget.data.id );
            },
        });
    </script>
</dom-module>