<dom-module id="search-week">
    <style include="iron-flex iron-flex-factors iron-flex-alignment">
         :host {
            display: block;
        }
        
        .date-picker {
            margin-top: -35px !important;
        }
        
        .auto-flex {
            width: 100%;
        }
    </style>
    <template>

        <div class="layout horizontal auto-flex">
            <div class="flex end-justified horizontal layout self-center">
                จาก :
            </div>
            <div class="flex-3 center-justified horizontal layout self-center">
                <vaadin-date-picker class="date-picker" always-float-label label="" value="{{dataSearch.date_start}}"></vaadin-date-picker>
            </div>
            <div class="flex end-justified horizontal layout self-center">
                ถึง :
            </div>
            <div class="flex-3 center-justified horizontal layout self-center">
                <vaadin-date-picker class="date-picker" always-float-label label="" min="{{select.date_start}}" value="{{dataSearch.date_end}}"></vaadin-date-picker>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'search-week',
            properties: {
                dataSearch: {
                    type: Object,
                    notify: true
                }
            },
        });
    </script>
</dom-module>