<dom-module id="search-day">
    <style include="iron-flex iron-flex-factors iron-flex-alignment">
         :host {
            display: block;
        }
        
        .date-picker {
            margin-top: -31px !important;
        }
    </style>
    <template>
        <div class="layout horizontal">
            <div class="flex end-justified horizontal layout self-center">
                วันที่ :
            </div>
            <div class="flex-3 center-justified horizontal layout self-center">
                <vaadin-date-picker class="date-picker" always-float-label label="" value="{{dataSearch.date_end}}"></vaadin-date-picker>
            </div>
            <!--<div class="flex"></div>-->
        </div>
    </template>
    <script>
        Polymer({
            is: 'search-day',
            properties: {
                dataSearch: {
                    type: Object,
                    notify: true,
                }
            },
        });
    </script>
</dom-module>