
<link rel="import" href="./../../../components/validateFormBehaviors.html">

<dom-module id="gender-manage">
    <style include="gl-table gl-color flex-style">
        .container {
            padding: 20px
        }
        .contentTable{
            background-color: white;
        }
        table{
            border:1px solid #ddd;
        }
        td,th{
            text-align: center !important;
        }
    </style>
    <template>
        <div class="container">
            <section>
                <gl-form-panel set-padding="10px 20px 10px 20px" set-border="1px">
                    <gl-form-panel-head label="เพิ่มข้อมูล" set-padding="10px" set-border="0px">
                        <!--<paper-icon-button icon="clear"></paper-icon-button>-->
                    </gl-form-panel-head>
                    <gl-form-panel-body label="" set-padding="10px" set-border="0px">
                        <div class="container flex-horizontal-with-ratios">
                            <div class="flexchild"></div>
                            <div class="flex3child">
                                <gl-form-input label="gender_name" placeholder="กรอกข้อมูล" value="{{data.gender_name}}"></gl-form-input>
                            </div>
                            <div class="flexchild" style="text-align: center">
                                <paper-button class="gl-btn-success" on-tap="getForm" raised>save</paper-button>
                            </div>
                        </div>
                    </gl-form-panel-body>
                </gl-form-panel>
            </section>

            <section style="padding: 10px 20px 10px 20px;">
                <div class="contentTable">
                    <table class="gl-table-default">
                        <thead>
                            <tr>
                                <th style="width: 10%">ลำดับ</th>
                                <th>gender_name</th>
                                <th style="width: 20%">กระทำ</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            <template is="dom-repeat" items="[[dataList]]">
                                <tr>
                                    <td>[[count(index)]]</td>
                                    <template is="dom-if" if="{{item.check}}">
                                        <td>
                                            {{item.gender_name}} 
                                        </td>
                                    </template>
                                    <template is="dom-if" if="{{!item.check}}">
                                        <td>
                                            <paper-input no-label-float value="{{item.gender_name}}"></paper-input>
                                        </td>
                                    </template>
                                    <template is="dom-if" if="{{item.check}}">
                                        <td>
                                            <paper-icon-button on-tap="edit" item="[[item]]" disabled="[[item.status]]" index="[[index]]" icon="create"></paper-icon-button>
                                            <paper-icon-button on-tap="confirmDelete" item="[[item]]" disabled="[[item.status]]" index="[[index]]" icon="delete"></paper-icon-button>
                                        </td>
                                    </template>
                                    <template is="dom-if" if="{{!item.check}}">
                                        <td>
                                            <paper-icon-button on-tap="update" item="[[item]]" index="[[index]]" icon="save"></paper-icon-button>
                                            <paper-icon-button on-tap="close" item=[[item.gender_name]] index="[[index]]" icon="clear"></paper-icon-button>
                                        </td>
                                    </template>
                                </tr>
                            </template>
                        </tbody>
                    </table>       
                </div>
            </section>
        </div>
    </template>
    <script>
        Polymer({
            is: 'gender-manage',
            behaviors:[ReduxBehavior,ValidateFormBehavior],
            properties:{
                dataList:{
                    statePath:'commonData.gender'
                },
                data:{
                    type:Object,
                    value:{}
                }
            },
            count:function(index){
                return index+1;
            },
            // update table function 
            edit:function(e){
                var index = e.target.index;
                this.dataList.map((item,num)=>{
                    if(num != index){
                        this.set('dataList.'+num+'.check',true);
                        this.set('dataList.'+num+'.status',true);
                         
                    }
                    else{
                        this.set('dataList.'+num+'.check',false);
                    }
                })
            },
            close:function(e){
                var index = e.target.index;
                this.dispatchAction('COMMONDATA_DATA_GENDER')
                this.set('dataList.'+index+'.check',true);
                // this.dataList.map((item,num)=>{
                //     this.set('dataList.'+num+'.status',false);
                // })
            },
            getForm:function(){
                this.dispatchAction('COMMONDATA_DATA_GENDER_INSERT',this.data);
            },
            update:function(e){
                var getForm = e.target.item;
                var newItem = {
                    id: getForm.id,
                    gender_name: getForm.gender_name
                }
                this.dispatchAction('COMMONDATA_DATA_GENDER_UPDATE',newItem);
            },
            confirmDelete:function(e){
                var id = e.target.item.id;
                this.fire('toast',{ 
                 status:'openDialog',
                 text:'ต้องการลบข้อมูลใช่หรือไม่ ?',
                 confirmed:this._deleteData.bind(this), 
                 data:id 
                 })
            },
            _deleteData:function(check,id){
                if(check == true){
                    // console.log(id.data);
                    var id = id.data;
                    this.dispatchAction('COMMONDATA_DATA_GENDER_DELETE',id);
                }
            }
            
        });
    </script>
</dom-module>