<script>
    commonLogic = {
        comBtnStatus(insertView,disabled,btn){
            
        },
        _Obindex(index){
                return index+1
        },
        _ObIsHave: function (data) {
            if ((typeof data == 'object') && (data !== null)) {
              if (data.length < 1) {
                return true;
              } else {
                return false
              }
            } else {
              return true
            }
        }
         
    }
  
</script>