<dom-module id="page-style">
    <template>
        <style include="gl-size gl-styles gl-table gl-panel iron-flex iron-flex-factors iron-flex-alignment">
            table.gl-table-default>thead.table-head>tr>th,
            table.gl-table-default>tbody.table-body>tr>td {
                text-align: center;
            }

            table.gl-table-default {
                width: 98%;
                border: 1px solid #ddd;
                /*margin: 15px;*/
            }

            paper-button.gl-small {
                font-family: 'CSChatThaiUI', sans-serif;
                -webkit-font-smoothing: antialiased;
                font-size: var(--font-size-h5);
            }

            paper-material {
                background-color: #FFFFFF;
                padding-top: 15px;
                padding-bottom: 15px;
            }

            paper-material>div.head {
                padding: 10px;
                font-size: 35px;
                /*margin-bottom: 25px;*/
                text-align: center;
                @apply(--layout-flex);
            }

            div.label {
                text-align: left;
                padding-top: 10px;
                padding-right: 15px;
                padding-left: 5px;
                /*padding-top: 17px;*/
            }

            vaadin-date-picker {
                margin-top: -19px;
            }

            .xcontainer {
                margin: auto;
            }

            @media screen and (min-width: 1275px) {
                .xcontainer {
                    width: 85%;
                }
            }

            .tabe-overflow-x {
                overflow-x: auto;
                border-right: 1px solid #ddd;
                border-left: 1px solid #ddd
            }

            .header-page {
                padding: 10px;
                font-size: 35px;
            }

            .header-page::after {
                content: ":";
            }

            vaadin-grid#material {
                font-family: 'CSChatThaiUI', sans-serif;
                -webkit-font-smoothing: antialiased;
                --divider-color: rgba(0, 0, 0, var(--dark-divider-opacity));
                --vaadin-grid-cell: {
                    padding: 0;
                };
                --vaadin-grid-header-cell: {
                    height: 64px;
                    color: rgba(0, 0, 0, var(--dark-secondary-opacity));
                    font-size: 16px;
                    font-weight: bold;
                    background-color: #F1F1F1;
                    /*border: 0.5px solid rgba(0, 0, 0, var(--dark-secondary-opacity));*/
                };
                --vaadin-grid-body-cell: {
                    height: 48px;
                    color: rgba(0, 0, 0, var(--dark-primary-opacity));
                    word-warp font-size: 17px;
                };
                --vaadin-grid-footer-cell: {
                    height: 64px;
                    color: rgba(0, 0, 0, var(--dark-secondary-opacity));
                    font-size: 16px;
                    font-weight: bold;
                };
                --vaadin-grid-body-row-hover-cell: {
                    background-color: var(--paper-grey-200);
                };
                --vaadin-grid-body-row-selected-cell: {
                    background-color: var(--paper-grey-100);
                }
                ;
                --vaadin-grid-focused-cell: {
                    box-shadow: none;
                    font-weight: bold;
                }
                ;
            }

            vaadin-grid#material .text-left {
                text-align: left;
                padding-right: 10px;
            }

            vaadin-grid#material .text-center {
                text-align: center;
            }

            vaadin-grid#material .text-right {
                text-align: right;
                padding-right: 10px;
            }



            vaadin-grid#material .cursor {
                cursor: pointer
            }
        </style>
    </template>
    <script>
        Polymer({
            is: 'page-style'
        });
    </script>
</dom-module>