<link rel="import" href="./../../../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="./../../../components/format-number-behavior.html">
<link rel="import" href="./../../../components/page-style.html">

<link rel="import" href="./../../../components/common-logic.html">

<link rel="import" href="./../../../components/month-behavior.html">



<dom-module id="history-of-use-welfare">
    <template>
        <style include="page-style ">

        </style>
        <vaadin-grid id="material" items='{{list}}'>
            <vaadin-grid-column width="80px" flex-grow="0">
                <template class="header ">
                    <div class="text-center">ลำดับ</div>
                </template>
                <template>
                    <div class="text-center cursor" >[[_Obindex(index)]]</div>
                </template>
                <template class="footer">
                    <div class="text-center">ลำดับ</div>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="150px" flex-grow="0">
                <template class="header">
                    <div class="text-center">รหัสพนักงาน</div>
                </template>
                <template>
                    <div class="text-center cursor" >[[item.emp_no]]
                    </div>
                </template>
                <template class="footer">
                    <div class="text-center">รหัสพนักงาน
                    </div>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="300px" flex-grow="0">
                <template class="header">
                    <div class="text-center">ชื่อ - นามสกุล
                    </div>
                </template>
                <template>
                    <div class=" cursor" >[[item.prefix_name]][[item.firstname]] [[item.lastname]]
                    </div>
                </template>
                <template class="footer">
                    <div class="text-center">ชื่อ - นามสกุล
                    </div>
                </template>
            </vaadin-grid-column>
            
            <vaadin-grid-column width="350px">
                <template class="header">
                    <div class="text-center">ประเภทบุคคล
                    </div>
                </template>
                <template>
                    <div class=" cursor" >
                        <p style="white-space: nowrap">[[item.type_employee_name]]</p>
                    </div>
                </template>
                <template class="footer">
                    <div class="text-center">ประเภทบุคคล
                    </div>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="350px">
                <template class="header">
                    <div class="text-center">ภาควิชา
                    </div>
                </template>
                <template>
                    <div class=" cursor" >
                        <p style="white-space: nowrap">[[item.department_name]]</p>
                    </div>
                </template>
                <template class="footer">
                    <div class="text-center">ภาควิชา
                    </div>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="350px">
                <template class="header">
                    <div class="text-center">คณะ
                    </div>
                </template>
                <template>
                    <div class=" cursor" >[[item.faculty_name]]
                    </div>
                </template>
                <template class="footer">
                    <div class="text-center">คณะ
                    </div>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="200px" flex-grow="0">
                <template class="header ">
                    <div class="text-center">สวัสดิการที่ใช้งาน</div>
                </template>
                <template>
                    <div class="text-center">[[item.group_welfare_name]]</div>
                </template>
                <template class="footer">
                    <div class="text-center">สวัสดิการที่ใช้งาน</div>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="200px" flex-grow="0">
                <template class="header ">
                    <div class="text-center">จำนวนเงินที่ใช้งาน</div>
                </template>
                <template>
                    <div class="text-right">[[formatNumber(item.budget_use)]]</div>
                </template>
                <template class="footer">
                    <div class="text-center">จำนวนเงินที่ใช้งาน</div>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="200px" flex-grow="0">
                <template class="header ">
                    <div class="text-center">จำนวนเงินคงเหลือ</div>
                </template>
                <template>
                    <div class="text-right">[[formatNumber(item.budget_balance)]]</div>
                </template>
                <template class="footer">
                    <div class="text-center">จำนวนเงินคงเหลือ</div>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="200px" flex-grow="0">
                <template class="header ">
                    <div class="text-center">วันอนุมัติ</div>
                </template>
                <template>
                    <div class="text-center">[[toThaiDate(item.date_approve)]]</div>
                </template>
                <template class="footer">
                    <div class="text-center">วันอนุมัติ</div>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="200px" flex-grow="0">
                <template class="header ">
                    <div class="text-center">เอกสาร</div>
                </template>
                <template>
                    <div class="text-center">
                        <a href="" on-tap=downloadFile data="[[item]]"> [[item.file.0.name]]</a>
                    </div>
                </template>
                <template class="footer">
                    <div class="text-center">เอกสาร</div>
                </template>
            </vaadin-grid-column>
        </vaadin-grid>
        * เรียงตามวันอนุมัติ
    </template>
    <script>
        Polymer({
            is: 'history-of-use-welfare',
            behaviors: [ReduxBehavior, FormatNumberBehavior, commonLogic, MonthBehavior],
            properties: {
                list: {
                    statePath: 'users.lisyUserhistoryWelfare',
                    observer: 'getList'
                },
            },
            getList(data) {

                // console.log(data);
            },
            downloadFile(e) {
                // console.log();
                let idFile = e.model.__data__.item.file[0].id
                window.open('/api/file/download/' + idFile)
            },
        });
    </script>
</dom-module>