<link rel="import" href="./../../../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../components/month-behavior.html">
<link rel="import" href="./../../components/format-number-behavior.html">

<dom-module id="list-user">
    <template>
        <style is="custom-style" include="gl-color gl-table flex-style">
            paper-material {
                margin: 10px;
                background-color: var(--gl-white-color);
                padding-top: 15px;
                padding-bottom: 15px;
            }


            .table-detail {
                margin: 20px;
            }

            td,th{
                white-space: nowrap;
            }
            table.gl-table-default {
                border: 1px solid #ddd;
            }

            .text-head {
                margin-left: 20px;
                font-weight: bold;
            }
            paper-fab {
                position: fixed;
                right: 25px;
                bottom: 25px;
                color: #fff;
                --paper-fab-background: var(--paper-light-blue-500);
                --paper-fab-keyboard-focus-background: var(--paper-light-blue-900);
            }
        </style>
        <div class="container">
            <!--<div class="horizontal layout">
                <paper-button raised on-tap="back_page">back</paper-button>
            </div>-->

            <paper-material elevation="1">
                <div class="table-detail">  
                    <template is="dom-if" if={{isSearch}}>
                        <div class="container flex-horizontal-with-ratios">
                            <div class="flex3child">
                                <paper-button class="gl-btn-primary" on-tap="resetData">
                                    <iron-icon icon="autorenew"></iron-icon>
                                    <span style="margin-left: 5px">แสดงทั้งหมด</span>
                                </paper-button>
                                <!--<paper-icon-button icon="autorenew"></paper-icon-button>-->
                            </div>
                            <div class="flex2child">
                                <gl-form-input no-label-float placeholder="ค้นหาข้อมูล" on-input="searchTableList" value="{{searchInputList}}">
                                    <div prefix>
                                        <iron-icon icon="search"></iron-icon>&nbsp;&nbsp;
                                    </div>
                                </gl-form-input>
                            </div>
                        </div>
                        <div style="overflow-x: auto; border:1px solid #ddd;">
                        <table class="gl-table-default">
                            <thead class="table-head">
                                <tr>
                                    <!--<th style="width:10%;">
                                        <paper-checkbox checked="{{dataCheck}}" on-tap="selectAll"></paper-checkbox>กระทำ
                                    </th>-->
                                    <th></th>
                                    <th>รหัสพนักงาน</th>
                                    <th>ชื่อ นามสกุล</th>
                                    <th>ตำแหน่ง</th>
                                    <th>คณะ</th>
                                    <th>ภาควิชา</th>
                                    <th>วันที่เริ่มงาน</th>
                                    <th>ประเภท</th>
                                </tr>
                            </thead>
                            <tbody class="table-body">
                                <template is="dom-repeat" items={{newList}}>
                                    <tr data="[[item]]">
                                        <!--<td style="text-align: center">
                                            <paper-checkbox checked="{{item.check}}" checked></paper-checkbox>
                                        </td>-->
                                        <td>
                                            <iron-icon style="cursor:pointer" icon="list"  on-tap="chagePageDetail" data="[[item]]"></iron-icon>
                                        </td>
                                        <td>[[item.emp_no]]</td>
                                        <td>[[item.fullName]]</td>
                                        <td>[[item.position_name]]</td>
                                        <td>[[item.faculty_name]]</td>
                                        <td>[[item.department_name]]</td>
                                        <td>[[toThaiDate(item.start_work_date)]]</td>
                                        <td>[[item.type_employee_name]]</td>
                                    </tr>
                                </template>
                                <template is="dom-if" if={{checkData(item.employee)}}>
                                    <tr>
                                        <td colspan="7" style="text-align: center;">ไม่มีข้อมูล</td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                        </div>
                    </template>
                    <template is="dom-if" if={{!isSearch}}>
                        <div class="container flex-horizontal-with-ratios">
                            <div class="flex3child">
                                <paper-button class="gl-btn-primary" on-tap="resetData">
                                    <iron-icon icon="autorenew"></iron-icon>
                                    <span style="margin-left: 5px">แสดงทั้งหมด</span>
                                </paper-button>
                                <!--<paper-icon-button icon="autorenew"></paper-icon-button>-->
                            </div>
                            <div class="flex2child">
                                <gl-form-input no-label-float placeholder="ค้นหาข้อมูล" on-input="searchTableListSearch" value="{{searchInputListSearch}}">
                                    <div prefix>
                                        <iron-icon icon="search"></iron-icon>&nbsp;&nbsp;
                                    </div>
                                </gl-form-input>
                            </div>
                        </div>
                        <div style="overflow-x: auto; border:1px solid #ddd;">
                        <table class="gl-table-default">
                            <thead class="table-head">
                                <tr>
                                    <th hidden="{{!checkBox}}">
                                        <paper-checkbox checked="{{dataCheck}}" on-tap="selectAll"></paper-checkbox>เลือกทั้งหมด
                                    </th>
                                    <th></th>
                                    <th>รหัสพนักงาน</th>
                                    <th>ชื่อ นามสกุล</th>
                                    <th>ยอดที่ใช้ (บาท)</th>
                                    <th>ยอดคงเหลือ (บาท)</th>
                                    <th>ตำแหน่ง</th>
                                    <th>คณะ</th>
                                    <th>ภาควิชา</th>
                                    <th>วันที่เริ่มงาน</th>
                                    <th>ประเภท</th>
                                </tr>
                            </thead>
                            <tbody class="table-body">
                                <template is="dom-repeat" items={{newListSearch}}>
                                    <tr>
                                        <td style="text-align: center" hidden="{{!checkBox}}">
                                            <paper-checkbox checked="{{item.check}}" disabled="{{!item.admin_use}}"></paper-checkbox>  
                                        </td>
                                        <td>
                                            <iron-icon style="cursor:pointer" icon="list" on-tap="chagePage" data="[[item]]"></iron-icon>
                                        </td>
                                        <td>[[item.emp_no]]</td>
                                        <td>[[item.fullName]]</td>
                                        <td style="text-align: right">[[formatNumber(item.value_use)]]</td>
                                        <td style="text-align: right">[[formatNumber(item.value_budget)]]</td>
                                        <td>[[item.position_name]]</td>
                                        <td>[[item.faculty_name]]</td>
                                        <td>[[item.department_name]]</td>
                                        <td>[[toThaiDate(item.start_work_date)]]</td>
                                        <td>[[item.type_employee_name]]</td>
                                       
                                    </tr>
                                </template>
                                <template is="dom-if" if={{checkData(item.employee)}}>
                                    <tr>
                                        <td colspan="7" style="text-align: center;">ไม่มีข้อมูล</td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                        </div>
                    </template>
                </div>
            </paper-material>

        </div>
        <div hidden="{{paperFab}}">
            <paper-fab icon="send" on-tap="confirmSend"></paper-fab>
        </div>

    </template>
    <script>
        Polymer({
            is: 'list-user',
            behaviors: [ReduxBehavior, MonthBehavior,FormatNumberBehavior],
            observers: ['showBtn(newListSearch.*)'],
            properties: {
                list: {
                    statePath: 'userWelfare.list_user',
                    observer:'getList'
                },
                listSearch: {
                    statePath: 'userWelfare.listSearch',
                    observer:'getListSearch'
                },
                listFilter:{
                    type: Array,
                    value: []
                },
                listFilterSearch:{
                    type: Array,
                    value: []
                },
                checkBox: {
                    type: Boolean,
                    value: false,
                    observer: 'hiddenCheckBox'
                },
                paperFab: {
                    type: Boolean,
                    value: true
                }
            },
            checkData: function (data) {
                if (typeof data != 'undefined') {
                    if (data.length == 0) {
                        return true;
                    }
                    else {
                        return false;
                    }
                    // console.log(data.length);
                }
            },
            resetData:function(){
                this.searchInputList = "";
                this.searchInputListSearch = "";
                this.fire('reset-search')
            },
            hiddenCheckBox: function (check) {
                if (typeof check == 'undefined') {
                    this.checkBox = false;
                }
            },
            showBtn: function (show) {
                var check = show.base.filter((item) => {
                    return item.check == true
                })
                // console.log(check);
                if (check.length != 0) {
                    this.paperFab = false;
                }
                else {
                    this.paperFab = true;
                }
            },
            selectAll: function (e) {
                var check = e.target.checked;
                if (check == true) {
                    this.newListSearch.map((item, index) => {
                        console.log(item.admin_use);
                        if (item.admin_use == true) {
                            this.set('newListSearch.' + index + '.check', true);
                        } else {
                            this.set('newListSearch.' + index + '.check', false);
                        }

                    })
                }
                else {
                    this.newListSearch.map((item, index) => {
                        this.set('newListSearch.' + index + '.check', false);
                    })
                }

            },
            back_page: function () {
                this.fire('back_page_welfare');
            },
            confirmSend: function () {
                this.fire('toast', {
                    status: 'openDialog',
                    text: 'ต้องการอนุมัติข้อมูลใช่หรือไม่ ?',
                    confirmed: this.insertData.bind(this),
                })
            },
            insertData: function (check) {
                if (check == true) {
                    var newData = this.newListSearch.filter((item) => {
                        return item.check == true;
                    })
                    var saveData = newData.map((item) => {
                        var newItem = {
                            group_id: item.group_id,
                            year: item.year,
                            emp_id: item.emp_id,
                            welfare_id: item.welfare_id,
                            use_budget: item.value_budget - item.value_use,
                            date_approve: new Date().toISOString(),
                            date_use: new Date().toISOString(),
                            status: true
                        };
                        return newItem;
                    })
                    //    console.log(saveData);
                    this.dispatchAction('USER_INSERT', saveData)
                }

            },
            selectTable: function (id) {
                if (id == true) {
                    this.isSearch = true;
                }
                else {
                    this.isSearch = false;
                }
            },
            chagePage: function (e) {
                var item = e.currentTarget.data;
                var datas = {
                    id: item.emp_id,
                    year: item.year
                }
                // console.log(datas);
                this.dispatchAction('LIST_EMPLOYEES_WELFARE', datas);
                var check = e.target.is;
                if (check != 'paper-checkbox') {
                    this.fire('select-page', 1)
                }
                // console.log(e.target.is);
            },
            chagePageDetail: function (e) {
                var item = e.currentTarget.data;
                var id = item.id;
                this.seleterYear = '';
                this.dispatchAction('EMPLOYEE_GET_WELFARES', id);
                this.dispatchAction('LIST_EMPLOYEE_WELFARE', id);
                var check = e.target.is;
                if (check != 'paper-checkbox') {
                    this.fire('select-page', 1)
                }
            },
            getList:function(list){
                this.newList = list;
            },
            getListSearch:function(list){
                this.newListSearch = list;
            },
            searchTableList:function(e){
                let arr=[];
                var storeData;
                if(this.listFilter.length == 0){
                   storeData = this.list;
                }
                else{
                    storeData = this.listFilter;
                }
                this.newList = storeData;
                var input = e.target.value;
                var feild = Object.getOwnPropertyNames(this.newList[0]).sort();
                if(input != ''){
                    this.newList.map((item,index)=>{
                        for(var i = 0; i < feild.length;i++){
                            var getFeild = feild[i];
                            if(String(item[getFeild]).search(input) != -1){
                                arr.push(item)
                                break;   
                            }
                            else{
                                // console.log('error');
                                // arr = [];
                            }
                        }
                    })
                    this.newList = arr
                }
                else{
                    console.log('error');
                    this.newList = storeData;
                }
            },
            searchTableListSearch:function(e){
                let arr=[];
                // console.log(this.listFilterSearch);
                var storeData;
                if(this.listFilterSearch.length == 0){
                    storeData = this.listSearch
                }
                else{
                    storeData = this.listFilterSearch;
                }
                this.newListSearch = storeData;
                var input = e.target.value;
                var feild = Object.getOwnPropertyNames(this.newListSearch[0]).sort();
                if(input != ''){
                    this.newListSearch.map((item,index)=>{
                        for(var i = 0; i < feild.length;i++){
                            var getFeild = feild[i];
                            if(String(item[getFeild]).search(input) != -1){
                                arr.push(item)
                                break;   
                            }
                            else{
                                // console.log('error');
                                // arr = [];
                            }
                        }
                    })
                    this.newListSearch = arr
                }
                else{
                    console.log('error');
                    this.newListSearch = storeData;
                }
            },
            searchTableByFilterDepartment:function(id){
                if(this.isSearch == true){
                    var storeData = this.list;
                    this.newList = storeData;
                    var getList = this.newList;
                    this.newList = getList.filter((item)=>{
                        return item.department_id == id
                    })
                    this.listFilter = this.newList;
                }
                else{
                    var storeData = this.listSearch;
                    this.newListSearch = storeData;
                    var getList = this.newListSearch;
                    this.newListSearch = getList.filter((item)=>{
                        return item.department_id == id
                    })
                    this.listFilterSearch = this.newListSearch
                    // console.log(this.newListSearch);
                }
            },
            searchTableByFilterFaculty:function(id){
                if(this.isSearch == true){
                    var storeData = this.list;
                    this.newList = storeData;
                    var getList = this.newList;
                    this.newList = getList.filter((item)=>{
                        return item.faculty_id == id
                    })
                    this.listFilter = this.newList;
                }
                else{
                    var storeData = this.listSearch;
                    this.newListSearch = storeData;
                    var getList = this.newListSearch;
                    this.newListSearch = getList.filter((item)=>{
                        return item.faculty_id == id
                    })
                    this.listFilterSearch = this.newListSearch
                }
            }      
        });
    </script>
</dom-module>