<link rel="import" href="../../../../bower_components/vaadin-upload/vaadin-upload.html">
<dom-module id="upload-file">
    <style>
        .borderDrop{
            border: 1px dashed;
            border-color: #dbdbdb;
            border-radius: 3px;
            overflow: hidden;
            padding: 16px;
            color:#AAA;
        }
    </style>
    <template>
        <template is="dom-if" if="[[checkRefPath(refPath)]]">
            <vaadin-upload
            id="preFill"
            target="[[target]]"
            files="{{listFiles}}"
            method="POST"
            timeout="300000"
            accept="[[accept]]"
            on-upload-request="_addHeader"
            on-upload-success="getList"
            disabled
            >
                <div class="drop-label">
                    <iron-icon icon="description"></iron-icon>
                    [[dropName]]
                </div>
                <div id="fileList" class="file-list">
                    <div id="fileList">
                        <template is="dom-repeat" items="[[listFiles]]" as="file">
                            <vaadin-upload-file
                            file="[[file]]"
                            on-tap="downloadFile"
                            style="cursor:pointer"
                            file-id-upload="[[fileChanged(file.*)]]"
                            file-id="[[file.file_id]]"
                            on-file-abort="_deleteFile"
                            ></vaadin-upload-file>
                        </template>
                    </div>
                </div>
            </vaadin-upload>
        </template>
        <template is="dom-if" if="[[!checkRefPath(refPath)]]">
            <div class="borderDrop"><iron-icon icon="description"></iron-icon>&nbsp;&nbsp;Upload Disabled.</div>
        </template>

    </template>
    <script>
        Polymer({
            is: 'upload-file',
            behaviors: [ReduxBehavior],
            properties:{
                target:{
                    type:String
                },
                accept:{
                    type:String
                },
                dropName:{
                    type:String,
                    value:"วางไฟล์ที่นี่"
                },
                docTypeId:{
                    type:String
                },
                refPath:{
                    type:String,
                    value:"",
                    observer:'getList'
                },
                empId:{
                  type:String,
                  value:"",
                  observer:'getList'
                },
                welfareId:{
                  type:String,
                  value:"",
                  observer:'getList'
                },
                // fileIdUpload:{
                //   statePath: 'upload.fileIdUpload'
                // },
                // listFiles:{
                //   statePath: 'upload.listFiles'
                // }
            },
            _addHeader:function(e){
                event.detail.xhr.setRequestHeader('ref-path', this.refPath);
                event.detail.xhr.setRequestHeader('welfare-id', this.welfareId);
                event.detail.xhr.setRequestHeader('history-welfare-id', this.welfareId);
            },
            checkRefPath:function(refPath){
                return (refPath!="")
            },
            fileChanged:function(fileChange){
              // console.log(fileChange);
              if(fileChange.path=='file.complete'){
                if(fileChange.base.xhr){
                  var res = JSON.parse(fileChange.base.xhr.response);
                  console.log(res.generated_keys[0]);
                  this.getData = res.generated_keys;
                 
                //   this.dispatchAction('UPLOAD_FILECHANGE',res.generated_keys[0]);
                  // axios.get('/document_file/id/'+res.generated_keys[0])
                  // .then((response)=> {
                  //   this.fileIdUpload = response.data.file_id;
                  //   // console.log(response.data.file_id);
                  // })
                  // // return res.generated_keys[0];
                  // .catch((error)=> {
                  //   // console.log("error");
                  //   console.log(error);
                  // })
                }
              }
            },
            getList:function(){
                // console.log(this.welfareId);
              if (this.refPath != {} && this.empId != '' && this.empId != undefined) {
                // this.dispatchAction('UPLOAD_LISTFILE', this.refPath, this.requestId);
                // axios.defaults.headers.common['ref-path'] = this.refPath;
                // axios.defaults.headers.common['welfare-id'] = this.welfareId;
                axios.get('/employee/list/file/?emp_id='+this.empId+'&refPath='+this.refPath+'&welfareId='+this.welfareId)
                .then( (response)=>{
                    this.listFiles = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                });
              }
            },
            downloadFile:function(e){
                //console.log(e.target.getAttribute('class'));
                if(e.target.getAttribute('class')===null){
                    var idFile;
                    if(typeof e.currentTarget.fileId=="undefined"){
                        // idFile = e.currentTarget.fileIdUpload
                        idFile = this.fileIdUpload
                    }else{
                        idFile = e.currentTarget.fileId
                    }
                    // window.location = '/api/upload/download/'+idFile;
                    window.open('/api/employee/download/'+idFile);
                }
            },
            _deleteFile:function(e){
                var idFile;
                if(typeof e.target.fileId=="undefined"){
                  // console.log(e.target.fileIdUpload);
                  idFile = this.fileIdUpload
                }else{
                  idFile = e.target.fileId
                  console.log("ID File = "+idFile);
                }
                this.fire('toast',{status:'openDialog',
                text:'คุณต้องการจะลบไฟล์ใช่หรือไม่ ?',
                confirmed : this._confirmToast.bind(this),
                datas : idFile
                });
            },
            _confirmToast:function(result,detail){
              if(result == true){
                this.dispatchAction('UPLOAD_DELETE',detail.datas);
              }
              else {
                this.getList();
              }
            }
        });
    </script>
</dom-module>
