<link rel="import" href="../../components/common-logic.html">

<dom-module id="list-of-logic">
    <style include="page-style">
         :host {
            display: block;
        }
        
        .head-text {
            font-size: var(--font-size-h4);
            margin: 15px 15px 15px 15px;
        }
    </style>
    <template>

        <!--<paper-material elevation="1">-->
        <div class="head-text">
            {{localize('field')}}{{localize('condition')}}
        </div>
        <div class="content horizontal center-justified layout">
            <table class="gl-table-default">
                <thead class="table-head">
                    <tr>
                        <th>{{localize('order')}}</th>
                        <th style="text-align:left;">{{localize('firstname')}}</th>
                        <th style="text-align:left;">{{localize('firstname')}}{{localize('table')}}{{localize('of')}}{{localize('data')}}</th>
                        <th>{{localize('tool')}}</th>
                    </tr>
                </thead>
                <tfoot class="table-foot">
                    <tr>
                        <td colspan="4">
                            <div class="horizontal end-justified layout">
                                <paper-button raised class="gl-btn-primary" on-tap="addlogic">{{localize('insert')}}</paper-button>
                            </div>
                        </td>
                    </tr>
                </tfoot>
                <tbody class="table-body">

                    <template is="dom-repeat" items={{lists}}>
                        <tr>
                            <td>[[_Obindex(index)]]</td>
                            <td style="text-align:left;">[[item.label]] ([[item.field]])</td>
                            <td style="text-align:left;">[[item.data_source]]</td>
                            <td>
                                <paper-tooltip for="editData">{{localize('edit')}}</paper-tooltip>
                                <paper-icon-button id="editData" icon="create" on-tap="editData" data="[[item]]"></paper-icon-button>
                                <!--<paper-button class="gl-btn-info gl-small" raised on-tap="editData" data="[[item]]">{{localize('edit')}}</paper-button>-->
                            </td>
                        </tr>
                    </template>
                    <template is="dom-if" if={{_ObIsHave(lists)}}>
                        <tr>
                            <td colspan="4" style="text-align: center">{{localize('no')}}{{localize('have')}}{{localize('data')}}</td>
                        </tr>
                    </template>

                </tbody>
            </table>
        </div>
        <!--</paper-material>-->


    </template>
    <script>
        Polymer({
            is: 'list-of-logic',
            behaviors: [ReduxBehavior, commonLogic,nylonLocalizeBehavior],
            created: function () {
                this.nylonLocalizeImport('/i18n-page1.json');
            },
            properties: {
                lists: {
                    statePath: 'conditionReadWelfare.listConditions'
                },
            },
            addlogic() {
                this.fire('_get-field')
            },
            editData(e) {
                this.fire('_edit-data-condition', e.currentTarget.data)
            }

        });
    </script>
</dom-module>