<dom-module id="list-welfare-common">
    <template>
        <style include="page-style">
            /*table{
                margin: auto;
                border: 1px solid #ddd;
            }
            td,th{
                text-align: center !important; 
            }
            paper-material{
                background-color: white;
                padding: 20px;
            }*/
            
            .head-text {
                font-size: var(--font-size-h4);
                margin: 15px 15px 15px 15px;
            }
        </style>
        <!--<paper-material elevation="1">-->
        <div class="head-text">
            ฐานข้อมูลตั้งต้น
        </div>
        <div class="content horizontal center-justified layout">
            <table class="gl-table-default">
                <thead class="table-head">
                    <tr>
                        <th>ลำดับที่</th>
                        <th>ชื่อตาราง</th>
                        <th>กระทำ</th>
                    </tr>
                </thead>
                <!--<template is="dom-if" if="">
                    <tbody>
                        <tr>
                            <td colspan="3">ไม่พบข้อมูล</td>
                        </tr>
                    </tbody>
                </template>-->
                <tbody>
                    <template is="dom-repeat" items="[[dataList]]">
                        <tr>
                            <td style="text-align: center">[[count(index)]]</td>
                            <td>[[item]]</td>
                            <td style="text-align: center">
                                <paper-tooltip for="editData">แก้ไข</paper-tooltip>
                                <paper-icon-button id="editData"icon="create" item="[[item]]" on-tap="selectData"></paper-icon-button>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
        <!--</paper-material>-->
    </template>
    <script>
        Polymer({
            is: 'list-welfare-common',
            behaviors: [ReduxBehavior],
            properties: {
                dataList: {
                    statePath: 'conditionReadWelfare.listTable'
                }
            },
            count: function (index) {
                return index + 1;
            },
            selectData: function (e) {
                // console.log(e.target.item);
                this.fire('open-panel', e.target.item);
            }
        });
    </script>
</dom-module>