
<link rel="import" href="../../components/validateFormBehaviors.html">
<link rel="import" href="logic-manage.html">

<dom-module id="logic-panel">
    <style include="iron-flex iron-flex-factors iron-flex-alignment gl-styles">
            .btn{
                margin-bottom: 30px;
                margin-right: 30px;
            }
            paper-material {
                background-color: #FFFFFF;
                padding-top: 15px;
                padding-bottom: 15px;
                /*width: 98%;*/
            }
            paper-material > div.head {
                padding: 10px;
                font-size: 35px;
                /*margin-bottom: 25px;*/
                text-align: center;
                @apply(--layout-flex);
            }
        </style>
    <template>
        
             <gl-form-panel set-padding="10px 20px 10px 20px" set-border="1px">
        <gl-form-panel-head label="" set-padding="10px" set-border="1px">
            <template is="dom-if" if={{!insertView}}>
                    <paper-button class="gl-btn-info" on-tap="editData" raised hidden="[[!disabled]]">แก้ไข</paper-button>
                    <paper-button class="gl-btn-danger" on-tap="deleteData" raised hidden="[[!disabled]]">ลบ</paper-button>
                </template>
        </gl-form-panel-head>
        <gl-form-panel-body label="" set-padding="10px" set-border="1px">
            <logic-manage id="logic-manage" data="{{data}}" disabled="[[disabled]]"></logic-manage>
            <!--<user-manage data="{{data}}" disabled="[[disabled]]"></user-manage>-->
        </gl-form-panel-body>
        <gl-form-panel-footer label="" set-padding="10px">
           <template is="dom-if" if={{!insertView}}>
                    
                    <paper-button class="gl-btn-success" on-tap="saveData" raised hidden="[[disabled]]">บันทึก</paper-button>
                </template>
                
                <template is="dom-if" if={{insertView}}>
                    <paper-button class="gl-btn-primary" on-tap="insertata" raised >เพิ่ม</paper-button>
                </template>
        </gl-form-panel-footer>
    </gl-form-panel>
        
        
    </template>
    <script>
        Polymer({
            is: 'logic-panel',
            behaviors:[ReduxBehavior],
            properties:{
                data:{
                    statePath:'conditionReadWelfare.select'
                },
                insertView:{
                    statePath:'conditionReadWelfare.insert_view'
                },
                disabled:{
                    statePath:'conditionReadWelfare.disabled'
                },
            },
            insertata(){
                // let data = this.data;
                if(this.$$('#logic-manage').validateForm('.required'))
                   this.dispatchAction('CONDITIONREADWELFARE_INSERT',this.data);
            },
            saveData(){
                if(this.$$('#logic-manage').validateForm('.required'))
                   this.dispatchAction('CONDITIONREADWELFARE_EDIT',this.data);
            },
            deleteData(){
                this.dispatchAction('CONDITIONREADWELFARE_DELETED',this.data.id);
               
            },
            editData(){
                if(this.$$('#logic-manage').validateForm('.required'))
                   this.dispatchAction('CONDITIONREADWELFARE_BTN',false);
                
                // this.cc()
            }
        });
    </script>
</dom-module>
