<dom-module id="system-setting">
    <template>
        <style include="page-style">
             :host {
                display: block;
            }

            .head-text {
                font-size: var(--font-size-h4);
                margin: 15px 15px 15px 15px;
            }
        </style>
        <div class="head-text">
            {{localize('setting')}}{{localize('system')}}
        </div>
        <div class="content vertical start-justified layout">
            <div class="flex ">
                <div class="horizontal start-justified layout">
                    <div class="flex">เปิดการ{{localize('edit')}}{{localize('data')}}พนักงาน :</div>
                    <div class="flex-3">
                        <div class="horizontal start-justified layout">
                            <paper-toggle-button checked={{data.employee_edit}}></paper-toggle-button>
                            <span>{{setText(data.employee_edit)}}</span>
                        </div>

                    </div>
                </div>
            </div>
            <!--<div class="flex ">
                <div class="horizontal start-justified layout">
                    <div class="horizontal layout center flex">สถานนะภาพที่แสดงว่าทำงาน :</div>
                    <div class="flex-3">
                        <div class="horizontal start-justified layout">
                            <paper-dropdown-menu id="dropdownmenu" label="">
                                <paper-menu id="menu" class="dropdown-content" attr-for-selected="value" selected="{{data.active_id}}">
                                    <template is="dom-repeat" items="{{list_active}}">
                                        <paper-item value="{{item.id}}">[[item.active_name]]</paper-item>
                                    </template>
                                </paper-menu>
                            </paper-dropdown-menu>
                        </div>

                    </div>
                </div>
            </div>
            <div class="flex ">
                <div class="horizontal start-justified layout">
                    <div class="horizontal layout center flex">สถานนะภาพที่แสดงว่าเกษียณ :</div>
                    <div class="flex-3">
                        <div class="horizontal start-justified layout">
                            <paper-dropdown-menu id="dropdownmenu" label="">
                                <paper-menu id="menu" class="dropdown-content" attr-for-selected="value" selected="{{data.active_id}}">
                                    <template is="dom-repeat" items="{{list_active}}">
                                        <paper-item value="{{item.id}}">[[item.active_name]]</paper-item>
                                    </template>
                                </paper-menu>
                            </paper-dropdown-menu>
                        </div>

                    </div>
                </div>
            </div>-->
            <div class="flex">
                <div class="horizontal end-justified layout">
                    <paper-button raised class="gl-btn-primary" on-tap="updateSystem"> {{localize('save')}}</paper-button>
                </div>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'system-setting',
            behaviors: [ReduxBehavior, nylonBehavior,nylonLocalizeBehavior],
            created: function () {
                this.nylonLocalizeImport('/i18n-page1.json');
            },
            properties: {
                data: {
                    statePath: 'systemConfigs.config',
                    observer: 'setw'
                },
                list_active: {
                    statePath: 'commonData.active'
                },
            },
            setw(data) {
                // //console.log(data);
            },
            updateSystem() {
                this.fire('toast', {
                    status: 'openDialog',
                    text: 'ต้องการแก้ไขข้อมูลใช่หรือไม่ ?',
                    confirmed: (result) => {
                        if (result == true) {
                            this.dispatchAction('UPDATE_SYSTEM_CONFIG', this.data);
                        }
                    }
                })
                // //console.log(this.data);
            },
            setText(data) {
                if (data === true) return 'เปิดการแก้ไข'
                return 'ปิดการแก้ไข'
            }

        });
    </script>
</dom-module>