<dom-module id="history-sso">
    <template>
        <style include="page-style gl-styles">
             :host {
                display: block;
            }
        </style>
        <div hidden>
            <list-year data="[[listYear.history_sso_year]]" year="{{year}}"></list-year>
        </div>
        <div class="content horizontal end-justified layout">
            <list-year data="[[listYear.history_fund_year]]" year="{{year}}"></list-year>
            <paper-button raised on-tap="getSso">
                <iron-icon icon="print" style="margin-right: 10px;"></iron-icon> ประกันสังคม
            </paper-button>
        </div>
        <br>
        <vaadin-grid id="material" items="[[list_history]]">

            <vaadin-grid-column width="50px" flex-grow="0">
                <template class="header">
                    <div class="text-center">#</div>
                </template>
                <template>
                    <div class="text-center">[[_Obindex(index)]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="350px" flex-grow="0">
                <template class="header">โรงพยาบาล</template>
                <template>[[item.hospital]]</template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">
                    <div class="text-center">วันออกบัตร</div>
                </template>
                <template>
                    <div class="text-center">[[toCCDate(item.issued_date)]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">
                    <div class="text-center">บัตรหมดอายุ</div>
                </template>
                <template>
                    <div class="text-center">[[toCCDate(item.expired_date)]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">
                    <div class="text-center">วันที่อัพเดต</div>
                </template>
                <template>
                    <div class="text-center">[[toCCDate(item.date_updated)]]</div>
                </template>
            </vaadin-grid-column>
        </vaadin-grid>
    </template>
    <script>
        Polymer({
            is: 'history-sso',
            behaviors: [ReduxBehavior, FormatNumberBehavior, nylonBehavior,
                commonLogic, MonthBehavior],
            properties: {
                listYear: {
                    statePath: 'dateDb.listYear',
                    // observer: 'setYear'
                },
                year: {
                    type: Number,
                    observer: 'setYear',
                },
                list_history: {
                    statePath: 'userWelfare.list_history_sso',
                    observer: "setTabel"
                }
            },
            observers: [
                'initYear(listYear,data)'
            ],
            initYear(year, data) {
                try {
                    if (data.personal_id !== undefined) {
                        let sso_year = year.history_sso_year
                        this.set('year', sso_year[sso_year.legth - 1])
                    }
                } catch (e) {

                }
            },
            setYear(e) {
                try {
                    let data = {
                        year: e,
                        personal_id: this.data.personal_id
                    }
                    this.dispatchAction('EMPLOYEE_HISTORY_SSO', this.genUrl(data))
                } catch (e) {

                }
            },
            setTabel(e) {
                this.$$('#material').notifyResize()
            },
            getSso(){
                let data = {
                    year: this.year,
                    personal_id: this.data.personal_id
                }
                window.open('/api/report/fund/sso?' + this.genUrl(data));

            }
        });
    </script>
</dom-module>