<dom-module id="history-sso">
    <template>
        <style include="page-style gl-styles">
             :host {
                display: block;
            }
        </style>
        <list-year data="[[listYear.history_welfare_year]]" year="{{year}}"></list-year>
        <vaadin-grid id="material" items="[[list_history]]">

            <vaadin-grid-column width="50px" flex-grow="0">
                <template class="header">
                    <div class="text-center">#</div>
                </template>
                <template>
                    <div class="text-center">[[index]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="350px" flex-grow="0">
                <template class="header">โรงพยาบาล</template>
                <template>[[item.name.first]]</template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">
                    <div class="text-center">วันเริ่มต้น</div>
                </template>
                <template>
                    <div class="text-center">[[toCCDate(item.date_approve)]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">
                    <div class="text-center">วันสิ้นสุด</div>
                </template>
                <template>
                    <div class="text-center">[[toCCDate(item.date_approve)]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">
                    <div class="text-center">วันที่อัพเดต</div>
                </template>
                <template>
                    <div class="text-center">[[toCCDate(item.date_approve)]]</div>
                </template>
            </vaadin-grid-column>
        </vaadin-grid>
    </template>
    <script>
        Polymer({
            is: 'history-sso',
            behaviors: [ReduxBehavior, FormatNumberBehavior, nylonBehavior,
                commonLogic, MonthBehavior],
            properties: {
                listYear: {
                    statePath: 'dateDb.listYear',
                    // observer: 'setYear'
                },
                year: {
                    type: Number,
                    observer: 'setYear',
                },
                list_history: {
                    statePath: 'userWelfare.list_history_sso',
                    observer: "setTabel"
                }
            },
            observers: [
                'initYear(listYear,data)'
            ],
            initYear(year, data) {
                try {
                    if (data.personal_id !== undefined) {
                        let welfare_year = year.history_welfare_year
                        this.set('year', welfare_year[welfare_year.legth - 1])
                    }
                } catch (e) {

                }
            },
            setYear(e) {
                try {
                    let data = {
                        year: e,
                        personal_id: this.data.personal_id
                    }
                    this.dispatchAction('EMPLOYEE_HISTORY_WELFARE', this.genUrl(data))
                } catch (e) {

                }
            },
            setTabel(e) {
                this.$$('#material').notifyResize()
            },
        });
    </script>
</dom-module>