<dom-module id="history-sso">
    <template>
        <style include="page-style gl-styles">
             :host {
                display: block;
            }
        </style>
        <vaadin-grid id="material" items="[[data]]">

            <vaadin-grid-column width="50px" flex-grow="0">
                <template class="header">
                    <div class="text-center">#</div>
                </template>
                <template>
                    <div class="text-center">[[index]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="350px" flex-grow="0">
                <template class="header">โรงพยาบาล</template>
                <template>[[item.name.first]]</template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">
                    <div class="text-center">วันเริ่มต้น</div>
                </template>
                <template>
                    <div class="text-center">[[toCCDate(item.date_approve)]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">
                    <div class="text-center">วันสิ้นสุด</div>
                </template>
                <template>
                    <div class="text-center">[[toCCDate(item.date_approve)]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">
                    <div class="text-center">วันที่อัพเดต</div>
                </template>
                <template>
                    <div class="text-center">[[toCCDate(item.date_approve)]]</div>
                </template>
            </vaadin-grid-column>
        </vaadin-grid>
    </template>
    <script>
        Polymer({
            is: 'history-sso',
            behaviors: [ReduxBehavior, FormatNumberBehavior, nylonBehavior,
                commonLogic, MonthBehavior],
        });
    </script>
</dom-module>