<link rel="import" href="./list-year.html">
<dom-module id="history-rvd">
    <template>
        <style include="page-style gl-styles">
             :host {
                display: block;
            }
        </style>
        <list-year data="[[listYear.history_fund_year]]" year="{{year}}"></list-year>
        <vaadin-grid id="material" items="[[list_history_fund]]">

            <vaadin-grid-column width="50px" flex-grow="0">
                <template class="header">
                    <div class="text-center">#</div>
                </template>
                <template>
                    <div class="text-center">[[_Obindex(index)]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">
                    <div class="text-center">นโยบาย</div>
                </template>
                <template>
                    <div class="text-center">[[item.fund_code]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">
                    <div class="text-right">เงินสะสม</div>
                </template>
                <template>
                    <div class="text-right">[[formatNumber(item.emp_con)]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="150px" flex-grow="0">
                <template class="header">
                    <div class="text-right">ประโยชน์เงินสะสม</div>
                </template>
                <template>
                    <div class="text-right">[[formatNumber(item.emp_ear)]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">
                    <div class="text-right">เงินสมทบ</div>
                </template>
                <template>
                    <div class="text-right">[[formatNumber(item.com_con)]]</div>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="150px" flex-grow="0">
                <template class="header">
                    <div class="text-right">ประโยชน์เงินสมทบ</div>
                </template>
                <template>
                    <div class="text-right">[[formatNumber(item.com_ear)]]</div>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column>
                <template class="header">
                    <div class="text-right">รวม</div>
                </template>
                <template>
                    <div class="text-right">[[formatNumber(item.total)]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">
                    <div class="text-center">วันที่ทำกำไร</div>
                </template>
                <template>
                    <div class="text-center">[[toCCDate(item.date_created)]]</div>
                </template>
            </vaadin-grid-column>

            <!--<vaadin-grid-column width="150px" flex-grow="0">
                <template class="header">
                    <div class="text-center">ดำเนินการ</div>
                </template>
                <template>
                    <div class="text-center">
                        <paper-button raised class="gl-btn-danger gl-small" on-tap="btnCancel" data="[[item]]">ยกเลิก</paper-button>
                    </div>
                </template>
            </vaadin-grid-column>-->
        </vaadin-grid>
    </template>
    <script>
        Polymer({
            is: 'history-rvd',
            behaviors: [ReduxBehavior, FormatNumberBehavior, nylonBehavior,
                commonLogic, MonthBehavior],
            properties: {
                listYear: {
                    statePath: 'dateDb.listYear',
                },
                year: {
                    type: Number,
                    observer: 'setYear',
                },
                list_history_fund: {
                    statePath: 'userWelfare.list_history_fund',
                    observer: "setTabel"
                }
            },
            setYear(e) {
                try {
                    let data = {
                        year: e,
                        personal_id: this.data.personal_id
                    }
                    this.dispatchAction('EMPLOYEE_HISTORY_FUND', this.genUrl(data))

                } catch (e) {

                }
            },
            setTabel(e) {
                this.$$('#material').notifyResize()
            },
            // btnCancel(e) {
            //     // //console.log(e.currentTarget.data);
            //     let newData = { id: e.model.item.history_rvd_id, emp_id: e.model.item.emp_id }
            //     // //console.log(newData);
            //     this.fire('toast', {
            //         status: 'openDialog',
            //         text: 'คุณต้องการยกเลิกรายการใช่หรือไม่ ?',
            //         confirmed: (result) => {
            //             if (result == true) {
            //                 console.log(e.model.item);
            //                 this.dispatchAction('EMPLOYEE_USE_REJECT_RVD', newData)
            //                     .then((el) => {
            //                         // let id = window.location.pathname.split('/')[2];
            //                         // this.dispatchAction('EMPLOYEE_GET_WELFARES', newData.emp_id);
            //                         // //console.log(222);
            //                     })
            //             }
            //         }
            //     })
            // },
        });
    </script>
</dom-module>