<link rel="import" href="./list-year.html">
<dom-module id="history-rvd">
    <template>
        <style include="page-style gl-styles">
             :host {
                display: block;
            }
        </style>

        <div class="content horizontal end-justified layout">
            <list-year data="[[listYear.history_fund_year]]" year="{{year}}"></list-year>
            <paper-button raised on-tap="getFund">
                <iron-icon icon="print" style="margin-right: 10px;"></iron-icon> {{localize('fund')}}
            </paper-button>
        </div>
        <br>
        <vaadin-grid id="material" items="[[list_history_fund]]">

            <vaadin-grid-column width="50px" flex-grow="0">
                <template class="header">
                    <div class="text-center">#</div>
                </template>
                <template>
                    <div class="text-center">[[_Obindex(index)]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="350px" flex-grow="0" resizable>
                <template class="header">
                    <div class="text-center">{{localize('company')}}</div>
                </template>
                <template>
                    <div class="text-center">[[item.fund_company]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">
                    <div class="text-center">{{localize('policy')}}</div>
                </template>
                <template>
                    <div class="text-center">[[item.policy_code]]</div>
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column width="150px" >
                <template class="header">
                    <div class="text-center">{{localize('month')}}</div>
                </template>
                <template>
                    <div class="text-center">[[item.fund_month]]</div>
                </template>
            </vaadin-grid-column>
            
            <vaadin-grid-column-group>
                <template class="header">
                    <div class="text-center">{{localize('part_of')}}{{localize('employee')}}</div>
                </template>
                <vaadin-grid-column>
                    <template class="header">
                        <div class="text-right">{{localize('money')}}{{localize('cumulative')}}</div>
                    </template>
                    <template>
                        <div class="text-right">[[formatNumber(item.emp_con)]]</div>
                    </template>
                </vaadin-grid-column>

                <vaadin-grid-column width="150px" flex-grow="0">
                    <template class="header">
                        <div class="text-right">{{localize('benefit')}}{{localize('money')}}{{localize('cumulative')}}</div>
                    </template>
                    <template>
                        <div class="text-right">[[formatNumber(item.emp_ear)]]</div>
                    </template>
                </vaadin-grid-column>
            </vaadin-grid-column-group>
            <vaadin-grid-column-group>
                <template class="header">
                    <div class="text-center">{{localize('part_of')}}{{localize('university')}}</div>
                </template>
                <vaadin-grid-column>
                    <template class="header">
                        <div class="text-right">{{localize('money')}}{{localize('benefit')}}</div>
                    </template>
                    <template>
                        <div class="text-right">[[formatNumber(item.com_con)]]</div>
                    </template>
                </vaadin-grid-column>
                <vaadin-grid-column width="150px" flex-grow="0">
                    <template class="header">
                        <div class="text-right">{{localize('benefit')}}{{localize('money')}}{{localize('benefit')}}</div>
                    </template>
                    <template>
                        <div class="text-right">[[formatNumber(item.com_ear)]]</div>
                    </template>
                </vaadin-grid-column>
            </vaadin-grid-column-group>
            <vaadin-grid-column>
                <template class="header">
                    <div class="text-right">{{localize('total')}}</div>
                </template>
                <template>
                    <div class="text-right">[[formatNumber(item.total)]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">
                    <div class="text-center">{{localize('day')}}{{localize('at')}}{{localize('calculate')}}</div>
                </template>
                <template>
                    <div class="text-center">[[item.fund_date]]</div>
                </template>
            </vaadin-grid-column>

            <!--<vaadin-grid-column width="150px" flex-grow="0">
                <template class="header">
                    <div class="text-center">{{localize('tool')}}</div>
                </template>
                <template>
                    <div class="text-center">
                        <paper-button raised class="gl-btn-danger gl-small" on-tap="btnCancel" data="[[item]]">{{localize('cancel')}}</paper-button>
                    </div>
                </template>
            </vaadin-grid-column>-->
        </vaadin-grid>
    </template>
    <script>
        Polymer({
            is: 'history-rvd',
            behaviors: [ReduxBehavior, FormatNumberBehavior, nylonBehavior,
                commonLogic, MonthBehavior,nylonLocalizeBehavior],
            created: function () {
                this.nylonLocalizeImport('/i18n-page1.json');
            },
            properties: {
                listYear: {
                    statePath: 'dateDb.listYear',
                },
                year: {
                    type: Number,
                    observer: 'setYear',
                },
                list_history_fund: {
                    statePath: 'userWelfare.list_history_fund',
                    observer: "setTabel"
                }
            },
            observers: [
                'initYear(listYear,data)'
            ],
            initYear(year, data) {
                try {
                    if (data.personal_id !== undefined) {
                        let welfare_year = year.history_welfare_year
                        this.set('year', welfare_year[welfare_year.legth - 1])
                    }
                } catch (e) {

                }
            },
            setYear(e) {
                try {
                    let data = {
                        year: e,
                        personal_id: this.data.personal_id
                    }
                    this.dispatchAction('EMPLOYEE_HISTORY_FUND', this.genUrl(data))

                } catch (e) {

                }
            },
            setTabel(e) {
                this.$$('#material').notifyResize()
            },
            getFund() {
                let data = {
                    year: this.year,
                    personal_id: this.data.personal_id
                }
                window.open('/api/report/fund/fund02?' + this.genUrl(data));
                // console.log(this.genUrl(data));
            }
            // btnCancel(e) {
            //     // //console.log(e.currentTarget.data);
            //     let newData = { id: e.model.item.history_rvd_id, emp_id: e.model.item.emp_id }
            //     // //console.log(newData);
            //     this.fire('toast', {
            //         status: 'openDialog',
            //         text: 'คุณต้องการยกเลิกรายการใช่หรือไม่ ?',
            //         confirmed: (result) => {
            //             if (result == true) {
            //                 console.log(e.model.item);
            //                 this.dispatchAction('EMPLOYEE_USE_REJECT_RVD', newData)
            //                     .then((el) => {
            //                         // let id = window.location.pathname.split('/')[2];
            //                         // this.dispatchAction('EMPLOYEE_GET_WELFARES', newData.emp_id);
            //                         // //console.log(222);
            //                     })
            //             }
            //         }
            //     })
            // },
        });
    </script>
</dom-module>