<!--<link rel="import" href="./../../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="./../../components/format-number-behavior.html">
<link rel="import" href="./../../components/common-logic.html">-->

<link rel="import" href="./list-year.html">

<dom-module id="history-welfare">
    <template>
        <style include="page-style gl-styles">
             :host {
                display: block;
            }

            * {
                font-family: 'CSChatThaiUI', sans-serif;
                -webkit-font-smoothing: antialiased;
            }

            vaadin-grid {
                height: 480px;
            }
        </style>
        <list-year data="[[listYear.history_welfare_year]]" year="{{year}}"></list-year>
        <vaadin-grid id="material" items="{{list_history}}">

            <vaadin-grid-column width="50px" flex-grow="0">
                <template class="header ">
                    <div class="text-center">ลำดับ</div>
                </template>
                <template>
                    <div class="text-center">[[_Obindex(index)]]
                    </div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="450px" flex-grow="0">
                <template class="header">สวัสดิการที่ใช้</template>
                <template>[[item.group_welfare_name]] ([[item.welfare_name]])</template>
            </vaadin-grid-column>

            <vaadin-grid-column width="200px" flex-grow="0">
                <template class="header">
                    <div class="text-right">ใช้สิทธิ
                    </div>
                </template>
                <template>
                    <div class="text-right">[[formatNumber(item.budget_use)]]
                    </div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="200px" flex-grow="0">
                <template class="header">
                    <div class="text-right">จ่ายเอง
                    </div>
                </template>
                <template>
                    <div class="text-right">[[formatNumber(item.budget_emp)]]
                    </div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">
                    <div class="text-right">วันที่ใช้งาน </div>
                </template>
                <template>
                    <div class="text-center">[[toCCDate(item.date_use)]]
                    </div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">
                    <div class="text-center">วันที่อนุมัติ</div>
                </template>
                <template>
                    <div class="text-center">[[toCCDate(item.date_approve)]]
                    </div>
                </template>
            </vaadin-grid-column>

            <!--<vaadin-grid-column>
                <template class="header">สถานะ</template>
                <template>[[item.status]]</template>
            </vaadin-grid-column>-->

            <vaadin-grid-column width="350px" flex-grow="0" resizable>
                <template class="header">รายละเอียด
                </template>
                <template>
                    [[item.description_detail]]
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="350px" flex-grow="0" resizable>
                <template class="header">
                    <div class="text-center">เอกสารแนบ</div>
                </template>
                <template>
                    <div class="text-center">
                        <template is="dom-if" if={{item.file}}>
                            <template is="dom-repeat" items={{item.file}}>
                                <a href="" on-tap=downloadFile data="[[item]]">[[item.name]]</a>
                            </template>
                        </template>
                        <template is="dom-if" if={{_ObIsHave(item.file)}}>
                            <div style="text-align: center;">-</div>
                        </template>
                    </div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="150px" flex-grow="0">
                <template class="header">
                    <div class="text-center">ดำเนินการ</div>
                </template>
                <template>
                    <div class="text-center">
                        <paper-button raised class="gl-btn-danger gl-small" on-tap="btnCancel" data="[[item]]">ยกเลิก</paper-button>
                    </div>
                </template>
            </vaadin-grid-column>

        </vaadin-grid>
    </template>
    <script>
        Polymer({
            is: 'history-welfare',
            behaviors: [ReduxBehavior, FormatNumberBehavior, nylonBehavior,
                commonLogic, MonthBehavior, ValidateFormBehavior],
            properties: {
                listYear: {
                    statePath: 'dateDb.listYear',
                    // observer: 'initYear'
                },
                year: {
                    type: Number,
                    observer: 'setYear',
                },
                list_history: {
                    statePath: 'userWelfare.list_history_welfare',
                    observer: "setTabel"
                }
            },
            observers: [
                'initYear(listYear,data)'
            ],
            initYear(year, data) {
                try {
                    if (data.personal_id !== undefined) {
                        let welfare_year = year.history_welfare_year
                        this.set('year', welfare_year[welfare_year.legth - 1])
                    }
                } catch (e) {

                }
            },
            setYear(e) {
                try {
                    let data = {
                        year: e,
                        personal_id: this.data.personal_id
                    }
                    this.dispatchAction('EMPLOYEE_HISTORY_WELFARE', this.genUrl(data))
                } catch (e) {

                }
            },
            setTabel(e) {
                try {
                    this.$$('#material').notifyResize()
                } catch (e) {

                }

            },
            downloadFile(e) {
                // //console.log(e.currentTarget.data);
                window.open('/api/file/download/' + e.currentTarget.data.id);
                // this.dispatchAction('UPLOAD_GET_FILE',e.currentTarget.data.id );
            },
            btnCancel(e) {
                // //console.log(e.currentTarget.data);
                let newData = [{ id: e.currentTarget.data.history_welfare_id }]
                // //console.log(newData);
                this.fire('toast', {
                    status: 'openDialog',
                    text: 'คุณต้องการยกเลิกรายการใช่หรือไม่ ?',
                    confirmed: (result) => {
                        if (result == true) {
                            this.dispatchAction('USER_REJECT_USE_WELFARE', newData)
                                .then((el) => {
                                    let id = window.location.pathname.split('/')[2];
                                    this.dispatchAction('EMPLOYEE_GET_WELFARES', id);
                                    this.setYear(this.year)
                                    // //console.log(222);
                                })
                        }
                    }
                })
            },
        });
    </script>
</dom-module>