
<link rel="import" href="../../components/page-style.html">

<link rel="import" href="../../../../bower_components/gl-form/gl-combo-box.html">



<dom-module id="list-year">
    <template>
        <style include="page-style iron-flex iron-flex-factors iron-flex-alignment">
             :host {
                display: block;
            }
        </style>
        <div class="from layout end-justified horizontal">
            <div class="label">
                    <label for="year">{{localize('year')}} :</label>
                </div>
            <gl-combo-box id="year" no-label-float placeholder="{{localize('all')}}" items="{{data}}" value="{{year}}" item-label-path="year" item-value-path="year"
            > </gl-combo-box>
        </div>
    </template>
    <script>
        Polymer({
            is: 'list-year',
            behaviors: [nylonLocalizeBehavior],
            created: function () {
                this.nylonLocalizeImport('/i18n-page1.json');
            },
            properties: {
                year: {
                    type: Number,
                    value: 0,
                    notify: true
                }
            }
        });
    </script>
</dom-module>