
<link rel="import" href="../../components/page-style.html">
<link rel="import" href="../../../../bower_components/gl-grid/gl-grid-row.html">
<link rel="import" href="../../../../bower_components/gl-grid/gl-grid-col.html">
<link rel="import" href="../../../../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../../components/nylon-date-picker/nylon-date-picker.html">




<dom-module id="search-setting-retire">
    <style include="iron-flex iron-flex-factors iron-flex-alignment page-style">
        * {
            font-family: 'CSChatThaiUI', sans-serif;
            -webkit-font-smoothing: antialiased;
        }
        paper-button{
            margin-top:10px;
        }
    </style>
    <template>

        <gl-grid-row width="{{getWidth}}">
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,4]]"></gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
                    <!-- {{calDate.date}} -->
                    <nylon-date-picker id="hospital" no-label-float selected="{{calDate}}" show-bc ></nylon-date-picker>

                <!-- <vaadin-date-picker label="{{localize('day')}}{{localize('at')}}{{localize('search')}} :" value="{{calDate}}"></vaadin-date-picker> -->
            </gl-grid-col>
            <gl-grid-col width="[[getWidth]]" grid="[[300,12],[500,3]]">
                <paper-button raised on-tap="_search">{{localize('search')}}</paper-button>
            </gl-grid-col>
        </gl-grid-row>
        
    </template>
    <script>
        Polymer({
            is: 'search-setting-retire',
            properties:{
                calDate:{
                    
                    notify:true
                }
            },
            behaviors: [ReduxBehavior,nylonLocalizeBehavior],
            created: function () {
                this.nylonLocalizeImport('/i18n-page1.json');
            },
            _search:function(){
                this.dispatchAction('RETIER_SEARCH', this.calDate);
                // window.open('./api/report/retire/' + this.calDate);
                // https://localhost:3000/api/report/retire/2017-06-13T00:00:00+07:00
                // //console.log(this.cal_date);
            }
        });
    </script>

</dom-module>